.feed-widget {
    height: 370px;
    position: relative;
    overflow: hidden !important;
    -ms-overflow-style: none;
    touch-action: auto;
  }
  
  .sebm-google-map-container {
    width: 100%;
    height: 365px;
    display: flex;
  }