<div class="col-sm-12 col-lg-12">
    <div class="card">
        <div class="card-body">
            
            <div class="feed-widget"style="margin-top: 0px;" >
                <ul class="list-style-none feed-body m-0 p-b-20" >
                    <a [routerLink]="['/jobs/jobview']"><li class="feed-item">
                        <div class="feed-icon bg-info">
                            <i class="ti-user"></i>
                        </div> Alice Freeman started following you..
                        <span class="ml-auto font-12 text-muted">Just Now</span>
                    </li></a>
                    <a [routerLink]="['/jobs/jobview']"><li class="feed-item">
                        <div class="feed-icon bg-success">
                            <i class="ti-user"></i>
                        </div> Andrew Green sent you a message.
                        <span class="ml-auto font-12 text-muted">2 Hours ago</span>
                    </li></a>
                    <a [routerLink]="['/jobs/jobview']"><li class="feed-item">
                        <div class="feed-icon bg-warning">
                            <i class="ti-user" style="width: 20%;"></i>
                        </div> Andrew Green sent you a message.
                        <span class="ml-auto font-12 text-muted">31 May</span>
                    </li></a>
                    <a [routerLink]="['/jobs/jobview']"><li class="feed-item">
                        <div class="feed-icon bg-danger">
                            <i class="ti-user"></i>
                        </div>Jane Dean started following you.
                        <span class="ml-auto font-12 text-muted">30 May</span>
                    </li></a>
                    <a [routerLink]="['/jobs/jobview']"><li class="feed-item">
                        <div class="feed-icon bg-inverse">
                            <i class="ti-user"></i>
                        </div> Jane Dean started following you.
                        <span class="ml-auto font-12 text-muted">27 May</span>
                    </li></a>
                    <a [routerLink]="['/jobs/jobview']"><li class="feed-item">
                        <div class="feed-icon bg-info">
                            <i class="ti-user"></i>
                        </div> Juan Carpenter sent you a message.
                        <span class="ml-auto font-12 text-muted">Just Now</span>
                    </li></a>
                    <a [routerLink]="['/jobs/jobview']"><li class="feed-item">
                        <div class="feed-icon bg-danger">
                            <i class="ti-user"></i>
                        </div> Judith Burton shared a photo with you.
                        <span class="ml-auto font-12 text-muted">30 May</span>
                    </li></a>
                    <a [routerLink]="['/jobs/jobview']"><li class="feed-item">
                        <div class="feed-icon bg-danger">
                            <i class="ti-user"></i>
                        </div> Judith Burton shared a photo with you.
                        <span class="ml-auto font-12 text-muted">30 May</span>
                    </li></a>
                    <a [routerLink]="['/jobs/jobview']"><li class="feed-item">
                        <div class="feed-icon bg-danger">
                            <i class="ti-user"></i>
                        </div> Judith Burton shared a photo with you.
                        <span class="ml-auto font-12 text-muted">30 May</span>
                    </li></a>
                    
                </ul>
            </div>
        </div>
    </div>
</div>