<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header backgroundColor">
        <h4 class="card-title mb-0">{{titleDisplay}} Provider Details</h4>
      </div>
      <div class="card-body">
        <div class="card-block">
          <form *ngIf='regularForm' [formGroup]="regularForm"  (ngSubmit)="onReactiveFormSubmit()" novalidate>
            <div class="row">
              <div class="form-group col-md-6">
                <input type="hidden" formControlName="id">
                <label for="first_name">Firstname<span class="reqNote">*</span></label>
                <input type="text" class="form-control" id="first_name" formControlName="first_name"
                  placeholder="Enter firstname" required>
                <small class="form-text text-danger"
                  *ngIf="!regularForm.get('first_name').valid && (regularForm.get('first_name').dirty || regularForm.get('first_name').touched)">
                  Firstname is required and must be characters(a-zA-Z)
                </small>
              </div>
              <div class="form-group col-md-6">
                <label for="last_name">Lastname<span class="reqNote">*</span></label>
                <input type="text" class="form-control" id="last_name" formControlName="last_name"
                  placeholder="Enter lastname" required>
                <small class="form-text text-danger"
                  *ngIf="!regularForm.get('last_name').valid && (regularForm.get('last_name').dirty || regularForm.get('last_name').touched)">
                  Lastname is required and must be characters(a-zA-Z)</small>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="email">Email<span class="reqNote">*</span></label>
                <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter email"
                  required>
                <small class="form-text text-danger"
                  *ngIf="!regularForm.get('email').valid && (regularForm.get('email').dirty || regularForm.get('email').touched)">Please
                  enter a valid email!</small>
              </div>
              <div class="form-group col-md-6">
                <label for="password">Password<span class="reqNote">*</span></label>

                <input type="password" class="form-control" id="password" formControlName="password"
                  placeholder="Enter password" required>
                <small class="form-text text-danger"></small>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="phone">Mobile<span class="reqNote">*</span></label>
                <input type="tel" class="form-control" id="phone" formControlName="phone"
                  placeholder="Enter mobile number" required>
                <small class="form-text text-danger"></small>
              </div>
              <div class="form-group col-md-6">
                <label for="serviceId">Sevices</label>
                <select class="form-control" formControlName="serviceId" id="serviceId">
                  <option selected disabled>Select in one</option>
                  <option>Voice Modulation</option>
                  <option>Ac</option>
                  <option>Tv</option>
                  <option>Network</option>
                  <option>Connectivity</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-md-6">
                <label for="dob">Date Of Birth</label>
                <input type="date" class="form-control" id="dob" formControlName="dob" required>
              </div>
              <div class="form-group col-md-6">
                <label class>Gender<span class="reqNote">*</span></label>
                <br>
                <div class="form-check form-check-inline" *ngFor="let radioOption of radioOptions">
                  <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio2" class="custom-control-input" [value]="radioOption"
                      formControlName="gender">
                    <label class="custom-control-label" for="customRadio2">{{ radioOption }}</label>
                  </div>

                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="referral">Address</label>
                <input type="text" class="form-control" id="address" formControlName="address"
                  placeholder="Enter address ">
              </div>

              <div class="form-group col-md-6">
                <label for="status">Status</label>
                <select class="form-control" formControlName="status" id="status">
                  <option selected disabled>Select in one</option>
                  <option value="inactive">Inactive</option>
                  <option value="active">Active</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="vatName">Vat Name<span class="reqNote">*</span></label>
                <input type="text" class="form-control" id="vatName" formControlName="vatName"
                  placeholder="Enter vat name">
                <small class="form-text text-danger"></small>
              </div>

              <div class="form-group col-md-6">
                <label for="vatNum">Vat Number<span class="reqNote">*</span></label>
                <input type="text" class="form-control" id="vatNum" formControlName="vatNum"
                  placeholder="Enter vat number">
                <small class="form-text text-danger"></small>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-md-6">
                <label for="insurance_file">Insurance File</label>
                <input type="file" class="form-control" id="insurance_file" formControlName="insurance_file" accept="image/*"
                (change)="setInsurance($event)">
              </div>
              <div class="form-group col-md-6">
                <label for="profile_pic">Profile Image</label>
                <input type="file" class="form-control" id="profile_pic" formControlName="profile_pic" accept="image/*"
                  (change)="setProfilePic($event)">
              </div>
            </div>
            <div class="form-group">
              <button type="submit"  class="btn btn-info">{{btnTitle}}</button>
              <button type="button" class="btn btn-dark" (click)="cancelBtnClick()">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Reactive Form Validaton Ends -->