<div class="row">
  <!-- Job Details -->
  <div class="col-lg-4" style="text-align: left;">
      <div class="card card-hover" style="    border: 1px solid #000000a1 !important;">
        <div class="card-header backgroundColor">
          Job Details
        </div>
        <div class="card-body">
            <div class="profile-pic m-b-20 m-t-20">
              <img src="assets/images/users/1.jpg" width="120" style="margin-left: 30%;" class="rounded-circle text-center" alt="Job Details" />
              <h4 class="m-t-20 m-b-0">Poor Network Conncetion</h4>
              <label>Price : <b class=" mdi mdi-currency-gbp">200</b></label><br>Price Type : <b>Hour</b><br>
              <label>Promo Code : <b>ASD34R</b></label><br>
              <!-- <label>Type : <div class="badge badge-pill badge-success font-14 infoData">On-Site</div></label> -->

          </div><br>
          
          <div></div>
          <hr>

          <div class="badge badge-pill badge-success font-14 infoData">Status : <b>Completed</b></div>
          <div class="badge badge-pill badge-warning font-14 infoData">Type : <b>On-Site</b></div>
        </div>
      </div>
  </div>
  <!-- End Job Details -->
  <!-- Customer Details -->
  <div class="col-lg-4" style="text-align: center;">
    <div class="card card-hover" style="    border: 1px solid #000000a1 !important;">
      <div class="card-header backgroundColor">
        Customer Details
      </div>
      <div class="card-body">
          <div class="profile-pic m-b-20 m-t-20">
            <img src="assets/images/users/5.jpg" width="120" class="rounded-circle" alt="user" />
            <h4 class="m-t-20 m-b-0"><a [routerLink]="['/customer/view']">Daniel Kristeen</a></h4>
            <a href="mailto:danielkristeen@gmail.com">danielkristeen@gmail.com</a><br>
            <label>Royal Mail
                Flat 9, Wheatstone House</label><br>
            <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
        </div>
        
        <div class="badge badge-pill badge-light font-14 infoData">020 7946 0581</div>
        <div class="badge badge-pill badge-light font-14 infoData">Male</div>
        <div class="badge badge-pill badge-light font-14 infoData">30/12/1993</div>
        <hr>
        <!-- <div class="badge badge-pill badge-info font-14 infoData" >Referral : 23423</div> -->
        <div class="badge badge-pill badge-warning font-14 infoData">Reg. Date : 12/12/2020</div>
        <div class="badge badge-pill badge-success font-14 infoData">Active</div>
      </div>
    </div>
</div>
<!-- End Customer Details -->
<!-- Provider Details -->
<div class="col-lg-4" style="text-align: center;">
  <div class="card card-hover" style="    border: 1px solid #000000a1 !important;">
    <div class="card-header backgroundColor">
      Provider Details
    </div>
    <div class="card-body">
        <div class="profile-pic m-b-20 m-t-20">
          <img src="assets/images/users/3.jpg" width="120" class="rounded-circle" alt="user" />
          <h4 class="m-t-20 m-b-0"><a [routerLink]="['/provider/provider-view']">Daniel Kristeen</a></h4>
          <a href="mailto:danielkristeen@gmail.com">danielkristeen@gmail.com</a><br>
          <label>Royal Mail
              Flat 9, Wheatstone House</label><br>
          <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
      </div>
      
      <div class="badge badge-pill badge-light font-14 infoData">020 7946 0581</div>
      <div class="badge badge-pill badge-light font-14 infoData">Male</div>
      <div class="badge badge-pill badge-light font-14 infoData">30/12/1993</div>
      <hr>
      <!-- <div class="badge badge-pill badge-info font-14 infoData" >Referral : 23423</div> -->
      <div class="badge badge-pill badge-warning font-14 infoData">Reg. Date : 12/12/2020</div>
      <div class="badge badge-pill badge-success font-14 infoData">Active</div>
    </div>
  </div>
</div>
<!-- End Provider details  -->
</div>



<!-- <div class="row">
    <div class="col-md-4 text-center">
        <div class="profile-pic m-b-20 m-t-20">
            <img src="assets/images/users/1.jpg" width="150" class="rounded-circle" alt="user" />
            <h4 class="m-t-20 m-b-0">Connectivity</h4>
            <a href="mailto:danielkristeen@gmail.com">Price : $200</a><br>
            <label>Status : <span class="btn-success">Active</span></label>
        </div>
    </div>
    <div class="col-md-4">
        <h5 class="p-t-20">Customer</h5>
        <span><div class="d-flex align-items-center">
            <img class="rounded-circle" src='assets/images/users/3.jpg' height=" 30px" width="30px">
            <div class="ml-3">
              <p class="font-medium mb-0"><a [routerLink]="['/customer/view']">Sushant Patil</a></p>
            </div>
          </div></span>
        <h5 class="m-t-30">Price</h5>
        <span>20</span>
        <h5 class="m-t-30">Promocode</h5>
        <span>-</span>
        <h5 class="m-t-30">City</h5>
        <span>Kolhapur</span>
        <h5 class="m-t-30">Address Type</h5>
        <span>Other</span>
        <h5 class="m-t-30">Status</h5>
        <span>Finish</span>
        <h5 class="m-t-30">Updated At</h5>
        <span>09/03/2021</span>
        <h5 class="m-t-30">Description</h5>
        <span>100 - tell us about your task</span>
    </div>
    <div class="col-md-4">
        <h5 class="p-t-20">Provider</h5>
        <span><div class="d-flex align-items-center">
            <img class="rounded-circle" src='assets/images/users/5.jpg' height=" 30px" width="30px">
            <div class="ml-3">
              <p class="font-medium mb-0"><a [routerLink]="['/provider/provider-view']">Prathamesh Desai</a></p>
            </div>
          </div></span>
        <h5 class="m-t-30">Price Type</h5>
        <span>Hour</span>
        <h5 class="m-t-30">Type</h5>
        <span>On-Site</span>
        <h5 class="m-t-30">Street</h5>
        <span>Kalamba Road Kolhapur</span>
        <h5 class="m-t-30">State</h5>
        <span>Maharashtra</span>
        <h5 class="m-t-30">Zipcode</h5>
        <span>416007</span>
        <h5 class="m-t-30">Created At</h5>
        <span>08/11/2020 03:32 PM</span>
    </div>
</div> -->
<hr>
