<div class="row">
    <div class="col-md-4 text-center">
        <div class="profile-pic m-b-20 m-t-20">
            <img src="assets/images/users/1.jpg" width="150" class="rounded-circle" alt="user" />
            <h4 class="m-t-20 m-b-0">Connectivity</h4>
            <a href="mailto:danielkristeen@gmail.com">Price : $200</a><br>
            <label>Status : <span class="btn-success">Active</span></label>
        </div>
    </div>
    <div class="col-md-4">
        <h5 class="p-t-20">Customer</h5>
        <span><div class="d-flex align-items-center">
            <img class="rounded-circle" src='assets/images/users/3.jpg' height=" 30px" width="30px">
            <div class="ml-3">
              <p class="font-medium mb-0"><a [routerLink]="['/customer/view']">Sushant Patil</a></p>
            </div>
          </div></span>
        <h5 class="m-t-30">Price</h5>
        <span>20</span>
        <h5 class="m-t-30">Promocode</h5>
        <span>-</span>
        <h5 class="m-t-30">City</h5>
        <span>Kolhapur</span>
        <h5 class="m-t-30">Address Type</h5>
        <span>Other</span>
        <h5 class="m-t-30">Status</h5>
        <span>Finish</span>
        <h5 class="m-t-30">Updated At</h5>
        <span>09/03/2021</span>
        <h5 class="m-t-30">Description</h5>
        <span>100 - tell us about your task</span>
    </div>
    <div class="col-md-4">
        <h5 class="p-t-20">Provider</h5>
        <span><div class="d-flex align-items-center">
            <img class="rounded-circle" src='assets/images/users/5.jpg' height=" 30px" width="30px">
            <div class="ml-3">
              <p class="font-medium mb-0"><a [routerLink]="['/provider/provider-view']">Prathamesh Desai</a></p>
            </div>
          </div></span>
        <h5 class="m-t-30">Price Type</h5>
        <span>Hour</span>
        <h5 class="m-t-30">Type</h5>
        <span>On-Site</span>
        <h5 class="m-t-30">Street</h5>
        <span>Kalamba Road Kolhapur</span>
        <h5 class="m-t-30">State</h5>
        <span>Maharashtra</span>
        <h5 class="m-t-30">Zipcode</h5>
        <span>416007</span>
        <h5 class="m-t-30">Created At</h5>
        <span>08/11/2020 03:32 PM</span>
    </div>
</div>
