<div class="row">
  <div class="col-12">
    <div class="card card-body">
      <h4 class="card-title">Admin User<span style="float: right;">
          <button class="btn backgroundColor ml-auto" (click)="openModal(editUserModal, null,'Add')">Add</button></span></h4>

      <div class="">
        <div class="row">
          <div class="col-md-12 table-responsive">
            <!-- <div class="card card-hover">
                <div class="card-body"> -->
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table">
              <thead>
                <tr>

                  <th class="backgroundColor tdLeft">NAME</th>
                  <th class="backgroundColor tdLeft">ROLE</th>
                  <th class="backgroundColor tdLeft">EMAIL</th>
                  <th class="backgroundColor">STATUS</th>
                  <th class="backgroundColor">ACTION</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of AdminUserList">
                  <td class="tdLeft">
                    <div class="d-flex">
                      <img class="rounded-circle" src='assets/images/users/1.jpg' height=" 25px" width="25px">
                      <div class="ml-3">
                        <p class="font-medium mb-0"><a [routerLink]="['/setting/user-view']">{{item.first_name}} {{item.last_name}}</a></p>
                      </div>
                    </div>
                  </td>
                  <td class="tdLeft">{{ (item.role == null) ? '-' : item.role.name }}</td>
                  <td class="tdLeft">{{item.email}}</td>
                  <td><label class="label label-{{(item.status == 'active')? 'success':'dark'}}">{{(item.status == 'active')? 'Active':'Inactive'}}</label></td>

                  <td>
                    <a href="javascript:void(0)" (click)="openModal(editUserModal, item,'Edit')" class="text-inverse p-r-10"
                      data-toggle="tooltip" title="Edit">
                      <i class="ti-marker-alt"></i>
                    </a>
                    <a href="javascript:void(0)" class="text-inverse p-r-10" title="Delete" data-toggle="tooltip" (click)="deleteUser(item.id)">
                      <i class="ti-trash"></i>
                    </a>
                    <a href="javascript:void(0)" class="text-inverse"
                      title="{{ (item.status=='active') ? 'Inactive' : 'active' }}" data-toggle="tooltip"
                      (click)=" (item.status=='active') ? blockUser(item.id) : activeUser(item.id)">
                      <i class="{{ (item.status=='active') ? 'ti-na' : 'ti-check' }}"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- </div>
              </div> -->
          </div>
        </div>


      </div>
      <div class="d-flex justify-content-center mt-5">
        <!-- <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="userList.length"></ngb-pagination> -->
      </div>
    </div>
  </div>
</div>


<ng-template #editUserModal let-modal>

  <div class="modal-header ">

    <h5 class="modal-title" id="editUserLabel">Add or Edit Admin User Details</h5>

    <button type="button" class="close" (click)="closeBtnClick()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>

  </div>

  <div class="modal-body">

    <form *ngIf='regularForm' [formGroup]="regularForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="row">
        <div class="form-group col-md-6">
          <label for="first_name">Firstname<span class="reqNote">*</span></label>
          <input type="hidden" formControlName="id">
          <input type="text" class="form-control" id="first_name" placeholder="Enter firstname"
            formControlName="first_name" required>
          <small class="form-text text-danger"
            *ngIf="!regularForm.get('first_name').valid && (regularForm.get('first_name').dirty || regularForm.get('first_name').touched)">
            Firstname is required and must be characters(a-zA-Z)
          </small>

        </div>

        <div class="form-group col-md-6">
          <label for="last_name">Lastname<span class="reqNote">*</span></label>
          <input type="text" class="form-control" id="last_name" formControlName="last_name"
            placeholder="Enter lastname" required>
          <small class="form-text text-danger"
            *ngIf="!regularForm.get('last_name').valid && (regularForm.get('last_name').dirty || regularForm.get('last_name').touched)">
            Lastname is required and must be characters(a-zA-Z)</small>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label for="email">Email<span class="reqNote">*</span></label>
          <input type="email" class="form-control" id="email" formControlName="email"
            placeholder="Enter email" required>
          <small class="form-text text-danger"
            *ngIf="!regularForm.get('email').valid && (regularForm.get('email').dirty || regularForm.get('email').touched)">Please
            enter a valid email!</small>
        </div>
        <div class="form-group col-md-6">
          <label for="password">Password<span class="reqNote">*</span></label>

          <input type="password" class="form-control" id="password" formControlName="password"
            placeholder="Enter password" required>
          <small class="form-text text-danger"
            *ngIf="!regularForm.get('password').valid && (regularForm.get('password').dirty || regularForm.get('password').touched)">Password
            characters length must be between 4 and 24 !</small>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6">
          <label for="phone">Phone<span class="reqNote">*</span></label>
          <input type="tel" class="form-control" id="phone" formControlName="phone" placeholder="Enter phone"
            required>
          <small class="form-text text-danger"
            *ngIf="!regularForm.get('phone').valid && (regularForm.get('phone').dirty || regularForm.get('phone').touched)">
            Phone number is required and must be 10 digit</small>
        </div>
        <div class="form-group col-md-6">
          <label class>Gender</label>
          <br>
          <div class="form-check form-check-inline" *ngFor="let radioOption of radioOptions">
            <div class="custom-control custom-radio">
              <input type="radio" id="customRadio2" name="gender" class="custom-control-input" [value]="radioOption"
                formControlName="gender">
              <label class="custom-control-label" for="gender">{{ radioOption }}</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label for="role">User Role</label>
          <select class="form-control" id="role" formControlName="role_id" required>
            <option value="1">Admin</option>
            <option value="2">Super Admin</option>
            <option value="3">Sub-Admin</option>
            <option value="4">QA Role</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="status">Status</label>
          <select class="form-control" id="status" formControlName="status" required>
            <option value="inactive">Inactive</option>
            <option value="active">Active</option>
            <option value="block">Block</option>  
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-12">
          <label for="dob">Date Of Birth</label>
          <input type="date" class="form-control" id="dob" formControlName="dob" required>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-12">
          <label for="pimg">Profile Image</label>
          <input type="file" class="form-control" id="pimg" (change)="setProfilePic($event)" required>

        </div>
      </div>




      <div class="form-group">
        <button type="submit" class="btn btn-info ">Save</button>&nbsp;
        <button type="button" class="btn btn-secondary" (click)="closeBtnClick()">Cancel</button>
      </div>
    </form>
  </div>
</ng-template>