<!-- Ticket Details -->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <!-- title -->
                
                <!-- title -->
            </div>
            <div class="table-responsive">
                <table class="table ">
                    <thead>
                        <tr class="bg-light">
                            <th class="backgroundColor tdLeft">Ticket id</th>
                            <th class="backgroundColor tdLeft">status</th>
                            <th class="backgroundColor tdLeft">ticket details</th>
                            <th class="backgroundColor">Assign</th>
                            <th class="backgroundColor">Date</th>
                            <th class="backgroundColor">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><b><a [routerLink]="['/ticket/ticket-details']">#92adfc</a></b></td>
                            <td><div class="badge badge-pill badge-success font-14 infoData">Open</div></td>
                            <td class="tdLeft"><h5>Sed ut perspiciatis unde omnis iste</h5><h6>ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo..
                            </h6></td>
                            <td><h6>Assign to:</h6><h5>Liam</h5></td>
                            <td>a year ago</td>
                            <td>
                              <a href="javascript:void(0)"  class="text-inverse p-r-10"   data-toggle="tooltip" title="Edit">
                                  <i class="ti-marker-alt"></i>
                              </a>
                              <a href="javascript:void(0)" class="text-inverse" title="Delete" data-toggle="tooltip">
                                  <i class="ti-trash"></i>
                              </a>
                            </td>
                          </tr>
                          <tr>
                            <td><b><a [routerLink]="['/ticket/ticket-details']">#96akfc</a></b></td>
                            <td><div class="badge badge-pill badge-warning font-14 infoData">Pending</div></td>
                            <td class="tdLeft"><h5>Consequuntur magni dolores eos qui ratione</h5><h6>ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo..
                            </h6></td>
                            <td><h6>Assign to:</h6><h5>Steve</h5></td>
                            <td>a year ago</td>
                            <td>
                              <a href="javascript:void(0)"  class="text-inverse p-r-10"   data-toggle="tooltip" title="Edit">
                                  <i class="ti-marker-alt"></i>
                              </a>
                              <a href="javascript:void(0)" class="text-inverse" title="Delete" data-toggle="tooltip">
                                  <i class="ti-trash"></i>
                              </a>
                            </td>
                          </tr>
                          <tr>
                            <td><b><a [routerLink]="['/ticket/ticket-details']">#89adfc</a></b></td>
                            <td><div class="badge badge-pill badge-success font-14 infoData">Open</div></td>
                            <td class="tdLeft"><h5>Exercitationem ullam corporis</h5><h6>ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo..
                            </h6></td>
                            <td><h6>Assign to:</h6><h5>Liam</h5></td>
                            <td>a year ago</td>
                            <td>
                              <a href="javascript:void(0)"  class="text-inverse p-r-10"   data-toggle="tooltip" title="Edit">
                                  <i class="ti-marker-alt"></i>
                              </a>
                              <a href="javascript:void(0)" class="text-inverse" title="Delete" data-toggle="tooltip">
                                  <i class="ti-trash"></i>
                              </a>
                            </td>
                          </tr>
                          <tr>
                            <td><b><a [routerLink]="['/ticket/ticket-details']">#92adfc</a></b></td>
                            <td><div class="badge badge-pill badge-success font-14 infoData">Open</div></td>
                            <td class="tdLeft"><h5>Sed ut perspiciatis unde omnis iste</h5><h6>ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo..
                            </h6></td>
                            <td><h6>Assign to:</h6><h5>Liam</h5></td>
                            <td>a year ago</td>
                            <td>
                              <a href="javascript:void(0)"  class="text-inverse p-r-10"   data-toggle="tooltip" title="Edit">
                                  <i class="ti-marker-alt"></i>
                              </a>
                              <a href="javascript:void(0)" class="text-inverse" title="Delete" data-toggle="tooltip">
                                  <i class="ti-trash"></i>
                              </a>
                            </td>
                          </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- End Ticket Details -->