
  <div class="row">
    <div class="col-12">
      <div class="card card-body">
        <h4 class="card-title">Assessment<span style="float: right;"><button class="btn btn-primary backgroundColor ml-auto" (click)="btnClick()">Add Assessment</button></span></h4>
        <!-- <h5 class="card-subtitle">Here is the Customer list you can add, edit or delet the Customer</h5> -->
        
        <div class="">
          <div class="row">
            <div class="col-md-12">
              <!-- <div class="card card-hover">
                <div class="card-body"> -->
                  <div class="table-responsive">
                    <table datatable [dtOptions]="dtOptions" class="row-border hover table ">
                      <thead>
                        <tr>
                          <th class="backgroundColor tdLeft" scope="col">#</th>
                          <th scope="col" class="backgroundColor tdLeft">NAME</th>
                          <th scope="col" class="backgroundColor tdLeft">SERVICE</th>
                          <th scope="col" class="backgroundColor tdLeft">PASSING CUT OFF</th>
                          <th scope="col" class="backgroundColor tdLeft">DURATION</th>
                          <th scope="col" class="backgroundColor tdCenter">ACTION</th>
                        </tr>
                      </thead>
                      <!-- <thead>
                        <tr>
                          <th><input type="text" placeholder="Search ID" name="search-id"/></th>
                          <th><input type="text" placeholder="Search name" name="search-name"/></th>
                          <th><input type="text" placeholder="Search name" name="search-email"/></th>
                          <th><input type="text" placeholder="Search mobile" name="search-mobile"/></th>
                          <th><input type="text" placeholder="Search status" name="search-status"/></th>
                        </tr>
                      </thead> -->
                      <tbody>
                        <tr>
                          <td class="tdLeft">1</td>
                          <td class="tdLeft">Tv service examination</td>
                          <td class="tdLeft">Tv repair</td>
                          <td class="tdLeft">50</td>
                          <td class="tdLeft">1 hour</td>
                          <td>
                              <a [routerLink]="['/assessment/edit']" href="javascript:void(0)" class="text-inverse p-r-10" data-toggle="tooltip" title="Edit">
                                <i class="ti-marker-alt"></i>
                            </a>
                            <a href="javascript:void(0)" class="text-inverse" title="Delete" data-toggle="tooltip">
                                <i class="ti-trash"></i>
                            </a>
                          </td>
                          
                      </tr>
                      <tr>
                        <td class="tdLeft">2</td>
                        <td class="tdLeft">Ac service examination</td>
                        <td class="tdLeft">Ac repair</td>
                        <td class="tdLeft">30</td>
                        <td class="tdLeft">45 minutes</td>
                        <td>
                          <a [routerLink]="['/assessment/edit']" href="javascript:void(0)" class="text-inverse p-r-10" data-toggle="tooltip" title="Edit">
                            <i class="ti-marker-alt"></i>
                        </a>
                        <a href="javascript:void(0)" class="text-inverse" title="Delete" data-toggle="tooltip">
                            <i class="ti-trash"></i>
                        </a>
                      </td>
                        
                    </tr>
                    <tr>
                        <td class="tdLeft">3</td>
                        <td class="tdLeft">Networking examination</td>
                        <td class="tdLeft">Network</td>
                        <td class="tdLeft">35</td>
                        <td class="tdLeft">	15 minutes</td>
                        <td>
                          <a  [routerLink]="['/assessment/edit']" href="javascript:void(0)" class="text-inverse p-r-10" data-toggle="tooltip" title="Edit">
                            <i class="ti-marker-alt"></i>
                        </a>
                        <a href="javascript:void(0)" class="text-inverse" title="Delete" data-toggle="tooltip">
                            <i class="ti-trash"></i>
                        </a>
                      </td>
                    </tr>
                    <tr>
                        <td class="tdLeft">4</td>
                        <td class="tdLeft">Networking examination</td>
                        <td class="tdLeft">Poor wifi coverage</td>
                        <td class="tdLeft">40</td>
                        <td class="tdLeft">40 minutes</td>
                        <td>
                          <a [routerLink]="['/assessment/edit']" href="javascript:void(0)" class="text-inverse p-r-10" data-toggle="tooltip" title="Edit">
                            <i class="ti-marker-alt"></i>
                        </a>
                        <a href="javascript:void(0)" class="text-inverse" title="Delete" data-toggle="tooltip">
                            <i class="ti-trash"></i>
                        </a>
                      </td>
                        
                    </tr>
                    <tr>
                      <td class="tdLeft">5</td>
                      <td class="tdLeft">Supervisor</td>
                      <td class="tdLeft">Tv service</td>
                      <td class="tdLeft">30</td>
                      <td class="tdLeft">40 minutes</td>
                      <td>
                        <a [routerLink]="['/assessment/edit']" href="javascript:void(0)" class="text-inverse p-r-10" data-toggle="tooltip" title="Edit">
                          <i class="ti-marker-alt"></i>
                      </a>
                      <a href="javascript:void(0)" class="text-inverse" title="Delete" data-toggle="tooltip">
                          <i class="ti-trash"></i>
                      </a>
                    </td>
                      
                  </tr>
                      </tbody>
                    </table>  
                  </div>
                <!-- </div>
              </div> -->
            </div>
          </div>
          
          
        </div>
        <div class="d-flex justify-content-center mt-5">
          <!-- <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="userList.length"></ngb-pagination> -->
        </div>
      </div>
    </div>
  </div>
  
  <ng-template #editUserModal let-modal>
  
    <div class="modal-header">
  
      <h5 class="modal-title" id="editUserLabel">Edit Provider</h5>
  
      <button type="button" class="close" (click)="closeBtnClick()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
  
    </div>
  
    <div class="modal-body">
  
      <form [formGroup]="editUser" (ngSubmit)="onSubmit()">
  
        <div class="form-group row">
          <label for="name" class="col-sm-4 col-form-label">Name</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" formControlName="Name" id="name" (blur)=logValidationErrors(editUser)>
            <span class="help-block" *ngIf="formsErrors.Name">
              {{formsErrors.Name}}
            </span>
          </div>
        </div>
  
  
        <div class="form-group row">
          <label for="position" class="col-sm-4 col-form-label">Position</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" formControlName="Position" id="position"
              (blur)=logValidationErrors(editUser)>
            <span class="help-block" *ngIf="formsErrors.Position">
              {{formsErrors.Position}}
            </span>
          </div>
        </div>
  
        <div class="form-group row">
          <label for="email" class="col-sm-4 col-form-label">Email</label>
          <div class="col-sm-8">
            <input type="email" class="form-control" formControlName="Email" id="email"
              (blur)=logValidationErrors(editUser)>
            <span class="help-block" *ngIf="formsErrors.Email">
              {{formsErrors.Email}}
            </span>
          </div>
        </div>
  
        <div class="form-group row">
          <label for="mobile" class="col-sm-4 col-form-label">Mobile</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" formControlName="Mobile" id="mobile"
              (blur)=logValidationErrors(editUser)>
            <span class="help-block" *ngIf="formsErrors.Mobile">
              {{formsErrors.Mobile}}
            </span>
          </div>
        </div>
  
        <div class="form-group row">
          <label for="doj" class="col-sm-4 col-form-label">Date Of Joining</label>
          <div class="col-sm-8">
            <input type="date" class="form-control" formControlName="DateOfJoining" [(ngModel)]="joiningDate" id="doj"
              (blur)=logValidationErrors(editUser)>
            <span class="help-block" *ngIf="formsErrors.DateOfJoining">
              {{formsErrors.DateOfJoining}}
            </span>
          </div>
        </div>
  
        <div class="form-group row">
          <label for="salary" class="col-sm-4 col-form-label">Salary</label>
          <div class="col-sm-8">
            <input type="number" class="form-control" formControlName="Salary" id="salary"
              (blur)=logValidationErrors(editUser)>
            <span class="help-block" *ngIf="formsErrors.Salary">
              {{formsErrors.Salary}}
            </span>
          </div>
        </div>
  
        <div class="form-group row">
          <label for="projects" class="col-sm-4 col-form-label">Projects</label>
          <div class="col-sm-8">
            <input type="number" class="form-control" formControlName="Projects" id="projects"
              (blur)=logValidationErrors(editUser)>
            <span class="help-block" *ngIf="formsErrors.Projects">
              {{formsErrors.Projects}}
            </span>
          </div>
        </div>
  
  
  
<!--   
  
        <div class="modal-footer">
          <button  class="btn btn-secondary" (click)="closeBtnClick()">Close</button>&nbsp;&nbsp;&nbsp;
  
          <button type="submit" class="btn btn-primary" [disabled]="editUser.invalid">Save</button>
        </div>
   -->
        
      </form>
    </div>
  </ng-template>