
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
              
                <form  *ngIf='regularForm' [formGroup]="regularForm" (ngSubmit)="addUpdateSettings()">
                    <div class="form-group">
                        <label for="to_email">To Email<span class="reqNote">*</span></label>
                        <input type="email" class="form-control" id="to_email" placeholder="Enter email" formControlName="to_email">
                        <small class="form-text text-danger"
                        *ngIf="!regularForm.get('to_email').valid && (regularForm.get('to_email').dirty || regularForm.get('to_email').touched)">Please
                               Enter a valid email!</small>
                    </div>
                    <div class="form-group">
                        <label for="from_email">From Email<span class="reqNote">*</span></label>
                        <input type="email" class="form-control" id="from_email"placeholder="Enter email" formControlName="from_email">
                        <small class="form-text text-danger"
                        *ngIf="!regularForm.get('from_email').valid && (regularForm.get('from_email').dirty || regularForm.get('from_email').touched)">Please
                               Enter a valid email!</small>
                    </div>
                    <button type="submit" class="btn btn-info">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>