<div class="row">
    <div class="col-md-12">
        <div>
           
            <div class="comment-widgets">
                <!-- Comment Row -->
                <div class="d-flex flex-row comment-row m-t-0">
                    <div class="p-2">
                        <img src="assets/images/users/1.jpg" alt="user" width="50" class="rounded-circle">
                    </div>
                    <div class="comment-text w-100">
                        <h6 class="font-medium">Login in Admin Panel</h6>
                        <div class="comment-footer">
                            <span class="text-muted float-left">April 14, 2016</span>                           
                        </div>
                    </div>
                </div>
                <!-- Comment Row -->
                <div class="d-flex flex-row comment-row">
                    <div class="p-2">
                        <img src="assets/images/users/1.jpg" alt="user" width="50" class="rounded-circle">
                    </div>
                    <div class="comment-text active w-100">
                        <h6 class="font-medium">Add new customer</h6>
                        <div class="comment-footer ">
                            <span class="text-muted float-left">April 14, 2016</span>                            
                        </div>
                    </div>
                </div>
                <!-- Comment Row -->
                <div class="d-flex flex-row comment-row">
                    <div class="p-2">
                        <img src="assets/images/users/1.jpg" alt="user" width="50" class="rounded-circle">
                    </div>
                    <div class="comment-text w-100">
                        <h6 class="font-medium">Assign Provider for job #234</h6>
                        <div class="comment-footer">
                            <span class="text-muted float-left">April 14, 2016</span>
                        </div>
                    </div>
                </div>
                <!-- Comment Row -->
                <div class="d-flex flex-row comment-row">
                    <div class="p-2">
                        <img src="assets/images/users/1.jpg" alt="user" width="50" class="rounded-circle">
                    </div>
                    <div class="comment-text w-100">
                        <h6 class="font-medium">Answered Ticket ADR-DASR-234</h6>
                        <div class="comment-footer">
                            <span class="text-muted float-left">April 14, 2016</span>
                        </div>
                    </div>
                </div>
                <!-- Comment Row -->
                <!-- Comment Row -->
                <div class="d-flex flex-row comment-row">
                    <div class="p-2">
                        <img src="assets/images/users/1.jpg" alt="user" width="50" class="rounded-circle">
                    </div>
                    <div class="comment-text active w-100">
                        <h6 class="font-medium">Sign Out</h6>
                            <div class="comment-footer ">
                            <span class="text-muted float-left">April 14, 2016</span>
                        </div>
                    </div>
                </div>
                <!-- Comment Row -->
            </div>
        </div>
    </div>
    </div>