<div class="row">
    <div class="col-12">
      <div class="card card-body">
        <h4 class="card-title">Mobile Contents<span style="float: right;">
            <button class="btn backgroundColor ml-auto" (click)="openModal(editUserModal, null)">Add</button></span></h4>
        <!-- <h5 class="card-subtitle">Here is the Customer list you can add, edit or delet the Customer</h5> -->
        
        <div class="">
          <div class="row">
            <div class="col-md-12 table-responsive">
              <!-- <div class="card card-hover">
                <div class="card-body"> -->
                  <table datatable [dtOptions]="dtOptions" class="row-border hover table">
                    <thead style="background: #92adfc;">
                      <tr>
                        <th class="backgroundColor tdLeft">CUSTOMER</th>
                        <th class="backgroundColor tdLeft">PROVIDER</th>
                        <!-- <th class="backgroundColor">SLUG</th> -->
                        <th class="backgroundColor tdLeft">ACCESS USER TYPE</th>
                        <th class="backgroundColor tdLeft">PLATFORM</th>
                        <th class="backgroundColor">ACTION</th>
                      </tr>
                    </thead>
                    <!-- <thead>
                      <tr>
                        <th><input type="text" placeholder="Search ID" name="search-id"/></th>
                        <th><input type="text" placeholder="Search name" name="search-name"/></th>
                        <th><input type="text" placeholder="Search name" name="search-email"/></th>
                        <th><input type="text" placeholder="Search mobile" name="search-mobile"/></th>
                        <th><input type="text" placeholder="Search status" name="search-status"/></th>
                      </tr>
                    </thead> -->
                    <tbody>
                        <tr>
                            <td class="tdLeft"><div class="d-flex">
                              <img class="rounded-circle" src='assets/images/users/5.jpg' height=" 25px" width="25px">
                              <div class="ml-3">
                                <p class="font-medium mb-0"><a [routerLink]="['/customer/view']">Ronald Smith</a></p>
                              </div>
                            </div></td>
                            <td class="tdLeft"><div class="d-flex">
                              <img class="rounded-circle" src='assets/images/users/6.jpg' height=" 25px" width="25px">
                              <div class="ml-3">
                                <p class="font-medium mb-0"><a [routerLink]="['/provider/provider-view']">Daniel King</a></p>
                              </div>
                            </div></td>
                            <!-- <td>Slug</td> -->
                            <td class="tdLeft">Both</td>
                            <td class="tdLeft">Web</td>
                            <td>
                                <a href="javascript:void(0)" (click)="openModal(editUserModal, null)"class="text-inverse p-r-10" data-toggle="tooltip" title="Edit">
                                    <i class="ti-marker-alt"></i>
                                </a>
                                <a href="javascript:void(0)" class="text-inverse" title="Delete" data-toggle="tooltip">
                                    <i class="ti-trash"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                          <td class="tdLeft"><div class="d-flex">
                            <img class="rounded-circle" src='assets/images/users/4.jpg' height=" 25px" width="25px">
                            <div class="ml-3">
                              <p class="font-medium mb-0"><a [routerLink]="['/customer/view']">Ronald Smith</a></p>
                            </div>
                          </div></td>
                          <td class="tdLeft"><div class="d-flex">
                            <img class="rounded-circle" src='assets/images/users/2.jpg' height=" 25px" width="25px">
                            <div class="ml-3">
                              <p class="font-medium mb-0"><a [routerLink]="['/provider/provider-view']">Daniel King</a></p>
                            </div>
                          </div></td>
                            <!-- <td>Slug</td> -->
                            <td class="tdLeft">Both</td>
                            <td class="tdLeft">Web</td>
                            <td>
                                <a href="javascript:void(0)" (click)="openModal(editUserModal, null)" class="text-inverse p-r-10" data-toggle="tooltip" title="Edit">
                                    <i class="ti-marker-alt"></i>
                                </a>
                                <a href="javascript:void(0)" class="text-inverse" title="Delete" data-toggle="tooltip">
                                    <i class="ti-trash"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                          <td class="tdLeft"><div class="d-flex">
                            <img class="rounded-circle" src='assets/images/users/7.jpg' height=" 25px" width="25px">
                            <div class="ml-3">
                              <p class="font-medium mb-0"><a [routerLink]="['/customer/view']">Ronald Smith</a></p>
                            </div>
                          </div></td>
                          <td class="tdLeft"><div class="d-flex">
                            <img class="rounded-circle" src='assets/images/users/8.jpg' height=" 25px" width="25px">
                            <div class="ml-3">
                              <p class="font-medium mb-0"><a [routerLink]="['/provider/provider-view']">Johannet</a></p>
                            </div>
                          </div></td>
                            <!-- <td>Slug</td> -->
                            <td class="tdLeft">Customer</td>
                            <td class="tdLeft">Application</td>
                            <td>
                                <a href="javascript:void(0)" (click)="openModal(editUserModal, null)" class="text-inverse p-r-10" data-toggle="tooltip" title="Edit">
                                    <i class="ti-marker-alt"></i>
                                </a>
                                <a href="javascript:void(0)" class="text-inverse" title="Delete" data-toggle="tooltip">
                                    <i class="ti-trash"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                          <td class="tdLeft"><div class="d-flex">
                            <img class="rounded-circle" src='assets/images/users/5.jpg' height=" 25px" width="25px">
                            <div class="ml-3">
                              <p class="font-medium mb-0"><a [routerLink]="['/customer/view']">Den</a></p>
                            </div>
                          </div></td>
                          <td class="tdLeft"><div class="d-flex">
                            <img class="rounded-circle" src='assets/images/users/2.jpg' height=" 25px" width="25px">
                            <div class="ml-3">
                              <p class="font-medium mb-0"><a [routerLink]="['/provider/provider-view']">Adam</a></p>
                            </div>
                          </div></td>
                            <!-- <td>Slug</td> -->
                            <td class="tdLeft">Both</td>
                            <td class="tdLeft">Web</td>
                            <td>
                                <a href="javascript:void(0)"  (click)="openModal(editUserModal, null)"class="text-inverse p-r-10" data-toggle="tooltip" title="Edit">
                                    <i class="ti-marker-alt"></i>
                                </a>
                                <a href="javascript:void(0)" class="text-inverse" title="Delete" data-toggle="tooltip">
                                    <i class="ti-trash"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                          <td class="tdLeft"><div class="d-flex">
                            <img class="rounded-circle" src='assets/images/users/3.jpg' height=" 25px" width="25px">
                            <div class="ml-3">
                              <p class="font-medium mb-0"><a [routerLink]="['/customer/view']">Anne</a></p>
                            </div>
                          </div></td>
                          <td class="tdLeft"><div class="d-flex">
                            <img class="rounded-circle" src='assets/images/users/2.jpg' height=" 25px" width="25px">
                            <div class="ml-3">
                              <p class="font-medium mb-0"><a [routerLink]="['/provider/provider-view']">Daniel King</a></p>
                            </div>
                          </div></td>
                            <!-- <td>Slug</td> -->
                            <td class="tdLeft">Provider</td>
                            <td class="tdLeft">Web</td>
                            <td>
                                <a href="javascript:void(0)" (click)="openModal(editUserModal, null)" class="text-inverse p-r-10" data-toggle="tooltip" title="Edit">
                                    <i class="ti-marker-alt"></i>
                                </a>
                                <a href="javascript:void(0)" class="text-inverse" title="Delete" data-toggle="tooltip">
                                    <i class="ti-trash"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                  </table>  
                <!-- </div>
              </div> -->
            </div>
          </div>
          
          
        </div>
        <div class="d-flex justify-content-center mt-5">
          <!-- <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="userList.length"></ngb-pagination> -->
        </div>
      </div>
    </div>
  </div>
  
  
  <ng-template #editUserModal let-modal>
  
    <div class="modal-header backgroundColor">
  
      <h5 class="modal-title" id="editUserLabel">Add or Edit Mobile Content</h5>
  
      <button type="button" class="close" (click)="closeBtnClick()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
  
    </div>
  
    <div class="modal-body">
  
      <form [formGroup]="editUser" (ngSubmit)="onSubmit()">
        <div class="form-group row">
            <label for="customer" class="col-sm-4 col-form-label">Customer<span class="reqNote">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" formControlName="customer" id="customer" (blur)=logValidationErrors(editUser)>
              <!-- <span class="help-block" *ngIf="formsErrors.Name">
                {{formsErrors.Name}}
              </span> -->
              <small class="form-text text-danger"
              *ngIf="!editUser.get('customer').valid && (editUser.get('customer').dirty || editUser.get('customer').touched)">
              Customer name is required and must be characters(a-zA-Z)  
              </small> 
              
            </div>
          </div>
          <div class="form-group row">
            <label for="provider" class="col-sm-4 col-form-label">Provider<span class="reqNote">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" formControlName="provider" id="provider" (blur)=logValidationErrors(editUser)>
              <!-- <span class="help-block" *ngIf="formsErrors.Name">
                {{formsErrors.Name}}
              </span> -->
              <small class="form-text text-danger"
              *ngIf="!editUser.get('provider').valid && (editUser.get('provider').dirty || editUser.get('provider').touched)">
              Provider name  is required and must be characters(a-zA-Z)  
              </small> 
            </div>
          </div>
      
          <div class="form-group row">
            <label for="name" class="col-sm-4 col-form-label">Slug</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" formControlName="Name" id="name" (blur)=logValidationErrors(editUser)>
              <!-- <span class="help-block" *ngIf="formsErrors.Name">
                {{formsErrors.Name}}
              </span> -->
            </div>
          </div>
        
           <div class="form-group row">
              <label for="usertype" class="col-sm-4 col-form-label">Access User Type<span class="reqNote">*</span></label>
                <div class="col-sm-8">

                <select class="form-control custom-select"name="usertype" formControlName="usertype"  tabindex="1">
                    <option value="Category 1">Customer</option>
                    <option value="Category 2">provider</option>
                    <option value="Category 3">both</option>
                </select>
                <small class="form-text text-danger"
                *ngIf="!editUser.get('usertype').valid && (editUser.get('usertype').dirty || editUser.get('usertype').touched)">
                Access user type is required  
                </small> 
       
          </div>
        </div>
        <div class="form-group row">
          <label for="platform" class="col-sm-4 col-form-label">Platform</label>
          <div class="col-sm-8">
            <div class="form-check form-check-inline">
              <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" id="platform" name="radio-stacked">
                  <label class="custom-control-label" for="platform">Application</label>
              </div>
          </div>
          <div class="form-check form-check-inline">
              <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" id="platform" name="radio-stacked">
                  <label class="custom-control-label" for="platform">Web</label>
              </div>
          </div>
          </div>
        </div> 

       
  
  
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeBtnClick()">Close</button>
  
          <button type="submit" class="btn btn-info" [disabled]="editUser.invalid">Save</button>
        </div>
  
        
      </form>
    </div>
  </ng-template>
  