<br>
<div class="table-responsive">
    <table class="table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
        <thead>
            <tr class="bg-light">
                <th class="border-top-0 backgroundColor tdLeft">JOB ID</th>
                <th class="border-top-0 backgroundColor tdLeft">PAYMENT ID</th>
                <th class="border-top-0 backgroundColor tdLeft">SERVICE</th>
                <th class="border-top-0 backgroundColor tdLeft">Description</th>
                <th class="border-top-0 backgroundColor tdRight">AMOUNT</th>
                
              
                <th class="border-top-0 backgroundColor tdCenter">STATUS</th>
                <th class="border-top-0 backgroundColor tdCenter">ACTION</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of paymentList">
                <td class="tdLeft"><a [routerLink]="['/jobs/jobview']">{{item.job.id}}</a></td>
                <td class="tdLeft"><a [routerLink]="['/payment/details']">{{item.payment_gateway_id}}</a></td>
                <td class="tdLeft">{{item.job.service.name}}</td>
                <td class="tdLeft">{{item.description}}</td>
                <td class="tdRight"><i class="mdi mdi-currency-gbp"></i>{{item.amount}}</td>
               
                <!-- <td class="tdRight">
                    £40
                </td> -->
              
                <td class="tdCenter"><label class="label label-success">Paid</label></td>
                <td class="tdCenter"><a [routerLink]="['/customer/view/1']" class="text-inverse p-r-10" data-toggle="tooltip" title="View">
                    <i class="ti-eye"></i></a>
                 </td>
            </tr>
            
           
        </tbody>
    </table>
</div>