
<a [ngClass]="(showSidebar)?'ti-close':'ti-menu'" class="btn btn-success show-left-part d-block d-md-none"
href="javascript:void(0)" (click)="mobileSidebar()"></a>
<div class="main-part">
    <div class="right-part">
        <div class="card mb-0">
            <!-- <div class="p-l-15 p-r-25 py-3 d-flex align-items-center border-bottom bg-info">
                <div class="mr-3">
                    <img [src]="[activeChatUserImg]" alt="user" class="rounded-circle" width="50" />
                </div>
                <div>
                    <h5 class="text-white mb-0">{{ activeChatUser }}</h5>
                    <p class="mb-0 text-white">{{ activeChatUserStatus }}</p>
                </div>
            </div> -->
            <div class="card-body py-0 pr-0">
                <div class="chat-box p-r-15" #scrollMe [scrollTop]="scrollMe.scrollHeight"
                    style="height:calc(100vh - 350px); overflow-y: auto;">
                    <!--chat Row -->
                    <ul class="chat-list">
                        <li class="chat-item" [ngClass]="[chat.chatClass]" *ngFor="let chat of savedMessages">
                            <div class="chat-img">
                                <img [src]="[chat.imagePath]" alt="avatar" />
                            </div>

                            <div class="chat-content" *ngFor="let message of chat.messages">
                                <div class="box bg-light-info">
                                    {{ message }}
                                </div>
                            </div>

                            <div class="chat-time text-lowercase" *ngIf="chat.time !='' ">{{chat.time}}</div>
                        </li>
                        <li class="chat-item odd type-msg" *ngIf="messages.length > 0">
                            <div class="chat-img" data-toggle="tooltip" data-placement="right" title="" data-original-title="">
                                <img src="assets/images/users/8.jpg" alt="user-images" />
                            </div>
                            <div class="chat-messages">
                                <div class="chat-content" *ngFor="let message of messages">
                                    <div class="box bg-light-info">{{ message }}</div>
                                </div>
                            </div>
                            <div class="chat-time">{{ now | date: 'hh.mm a' }}</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
