<div class="row">
  <div class="col-md-12">
    <div class="card card-body">
      <div class="row">
        <div class="col-md-3">
          <div class="card bg-info">
            <div class="card-body text-white">
                <div class="d-flex flex-row">
                    
                    <div class="p-10 align-self-center">
                        <h4 class="m-b-0 text-white">TOTAL TICKET</h4>
                        <!-- <span>Income</span> -->
                    </div>
                    <div class="ml-auto align-self-center" style="font-size: 37px;">
                       {{totalTicket}}
                    </div>
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card bg-warning">
            <div class="card-body text-white">
                <div class="d-flex flex-row">
                    
                    <div class="p-10 align-self-center">
                        <h4 class="m-b-0 text-white">CHAT</h4>
                        <!-- <span>Income</span> -->
                    </div>
                    <div class="ml-auto align-self-center" style="font-size: 37px;">
                       {{pending}}
                    </div>
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card bg-success">
            <div class="card-body text-white">
                <div class="d-flex flex-row">
                    
                    <div class="p-10 align-self-center">
                        <h4 class="m-b-0 text-white">ANSWERED</h4>
                        <!-- <span>Income</span> -->
                    </div>
                    <div class="ml-auto align-self-center" style="font-size: 37px;">
                       {{open}}
                    </div>
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card bg-danger">
            <div class="card-body text-white">
                <div class="d-flex flex-row">
                    
                    <div class="p-10 align-self-center">
                        <h4 class="m-b-0 text-white">RESOLVED</h4>
                        <!-- <span>Income</span> -->
                    </div>
                    <div class="ml-auto align-self-center" style="font-size: 37px;">
                       {{close}}
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          
          
          <ul ngbNav #nav="ngbNav" [(activeId)]="active" style="margin-left: -1%;color:black !important">
            <li [ngbNavItem]="1">
                <a ngbNavLink (click)="filterData('All')" style="color: black;">ALL</a>
            </li>
            <li [ngbNavItem]="3">
              <a ngbNavLink (click)="filterData('pending')" style="color: black;">CHAT</a>
          </li>
            <li [ngbNavItem]="2">
                <a ngbNavLink (click)="filterData('open')" style="color: black;">ANSWERED</a>
            </li>
            
            <li [ngbNavItem]="4">
                <a ngbNavLink (click)="filterData('close')" style="color: black;">RESOLVED</a>
            </li>  
        </ul>
        </div>
        <!-- <div class="col-md-6">
          <button class="btn btn-lg btn-cyan text-white" style="float: right;" (click)="openModal(editTicketModal, null)"><i class="fa fa-plus-square mr-2"></i>Add Ticket</button>
        </div> -->
      </div>

      <hr>
      <div class="row">
        <div class="table-responsive">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table">
            <thead style="background: #92adfc;">
              <tr>
                <th class="backgroundColor tdLeft">Ticket id</th>
                <th class="backgroundColor tdCenter">status</th>
                <th class="backgroundColor tdLeft">Customer id</th>
                <th class="backgroundColor tdLeft">Job id</th>
                <th class="backgroundColor tdLeft">ticket details</th>
                <!-- <th class="backgroundColor">Assign</th> -->
                <th class="backgroundColor tdLeft">Date</th>
                <th class="backgroundColor">Action</th>
              </tr> 
            </thead>
            <tbody>
              <!-- (click)="trclick(item.id)" -->
              <tr *ngFor="let item of ticketData; let i =index" >
                <td class="tdLeft"><b><a href="https://totoapp.ladesk.com/agent/#Conversation;id={{item.id}}" target="_blank">{{item.code}}</a></b></td>
                <td>
                  <label *ngIf="item.status == 'A'" class="label label-success">ANSWERED</label>
                  <label *ngIf="item.status == 'R'" class="label label-danger">RESOLVED</label>
                  <label *ngIf="item.status == 'T'" class="label label-warning">CHAT</label>

                </td>
                <td class="tdLeft"><h5>{{item.owner_contactid}}</h5></td>
                <td class="tdLeft"><h5><a [routerLink]="['/jobs/jobview']">#job123</a></h5></td>

                <td class="tdLeft"><h5>{{item.subject}}</h5></td>
                <!-- <td><h6>Assign to:</h6><h5>Liam</h5></td> -->
                <td class="tdLeft">{{item.last_activity | date : 'dd/MM/yyyy, h:mm a'}}</td>
                <td >
                  <a href="https://totoapp.ladesk.com/agent/#Conversation;id={{item.id}}" target="_blank"  class="text-inverse p-r-10">
                      <i class="ti-eye"></i>
                  </a>
                  <a href="javascript:void(0)" (click)="copyInputMessage(item.id,item.subject,item.code,item.last_activity,item.owner_contactid)" class="text-inverse" title="Copy" data-toggle="tooltip">
                      <i class="ti-files"></i>
                  </a>
                </td>
              </tr>             
            </tbody>
          </table> 
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #editTicketModal let-modal>

  <div class="modal-header">

    <h5 class="modal-title" id="editUserLabel">Ticket</h5>

    <button type="button" class="close" (click)="closeBtnClick()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>

  </div>

  <div class="modal-body">

    <form (ngSubmit)="onSubmit()">

      <div class="form-group row">
        <label for="title" class="col-sm-4 col-form-label">Title</label>
        <div class="col-sm-8">
          <input type="text" class="form-control"  id="title"
            (input)=logValidationErrors(editTicket)>
        </div>
      </div>


      <div class="form-group row">
        <label for="description" class="col-sm-4 col-form-label">Ticket Description</label>
        <div class="col-sm-8">
          <input type="text" class="form-control"  id="description"
            (input)=logValidationErrors(editTicket)>
          <!-- <span class="help-block" *ngIf="formsErrors.ticketDescription">
            {{formsErrors.ticketDescription}}
          </span> -->

        </div>
      </div>

      <div class="form-group row">
        <label for="date" class="col-sm-4 col-form-label">Date</label>
        <div class="col-sm-8">
          <input type="date" class="form-control"  id="date" [(ngModel)]="ticketDate"
            (input)=logValidationErrors(editTicket)>
          <!-- <span class="help-block" *ngIf="formsErrors.Date">
            {{formsErrors.Date}}
          </span> -->


        </div>
      </div>

      <div class="form-group row">
        <label for="status" class="col-sm-4 col-form-label">Status</label>
        <div class="col-sm-8">
          <select class="form-control"  (blur)=logValidationErrors(editTicket)>
            <option selected>Closed</option>
            <option>Open</option>
            <option>In Process</option>
          </select>
          <!-- <span class="help-block" *ngIf="formsErrors.Status">
            {{formsErrors.Status}}
          </span> -->
        </div>
      </div>
      <div class="form-group row">
        <label for="agent" class="col-sm-4 col-form-label">Assign To</label>
        <div class="col-sm-8">
          <select class="form-control"  (blur)=logValidationErrors(editTicket)>
            <option>Steve</option>
            <option>Jack</option>
            <option>John</option>
            <option>Liam</option>
          </select>
          <!-- <span class="help-block" *ngIf="formsErrors.AgentName">
            {{formsErrors.AgentName}}
          </span> -->
        </div>
      </div>
      <div class="form-group row mt-4">
        <span class="col-sm-4 col-form-label"></span>
        <div class="col-sm-8">
          <button type="button" class="btn btn-secondary mr-2" (click)="closeBtnClick()">Close</button>

          <button type="submit" class="btn btn-primary" [disabled]="editTicket.invalid">Save</button>
        </div>
      </div>
      <div class="text-center"><small>New ticket will be shown on second page.</small></div>
    </form>
  </div>
</ng-template>
<notifier-container></notifier-container>