
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
              
                <form class="m-t-30">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Phone</label>
                        <input type="tel" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="9090345643">
                        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Twillio From Number</label>
                        <input type="tel" class="form-control" id="exampleInputPassword1" value="+14159030622" >
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Maximum Day of Booking Task</label>
                        <input type="number" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <textarea class="form-control" rows="3" ></textarea>
                    </div>
                    <div class="form-group">
                        <label>Facebook Link</label>
                        <input type="url" class="form-control" value="https://www.facebook.com/">
                    </div>

                   
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>