
<div class="row">
    <div class="col-12">
      <div class="card card-body">
        <h4 class="card-title">User And Permission<span style="float: right;">
            <button class="btn btn-primary backgroundColor ml-auto" (click)="openModal(editUserModal, null)">Add</button></span></h4>
        <!-- <h5 class="card-subtitle">Here is the Customer list you can add, edit or delet the Customer</h5> -->
        <div class="d-flex mb-3 mt-3">
          <!-- <input type="text" class="form-control w-25" placeholder="Search by Name or Email"> 
          (click)="openModal(editUserModal, null)" -->
          
        </div>
        <div class="">
          <div class="row">
            <div class="col-md-12">
              <!-- <div class="card card-hover">
                <div class="card-body"> -->
                  <table datatable [dtOptions]="dtOptions" class="row-border hover table table-bordered" >
                    <thead style="background: #92adfc;">
                      <tr>
                        
                        <th class="backgroundColor">NAME</th>
                        <!-- <th class="backgroundColor">SLUG</th> -->
                        <th class="backgroundColor">ACTION</th>     
                      </tr>
                    </thead>
                    <!-- <thead>
                      <tr>
                        <th><input type="text" placeholder="Search ID" name="search-id"/></th>
                        <th><input type="text" placeholder="Search name" name="search-name"/></th>
                        <th><input type="text" placeholder="Search name" name="search-email"/></th>
                        <th><input type="text" placeholder="Search mobile" name="search-mobile"/></th>
                        <th><input type="text" placeholder="Search status" name="search-status"/></th>
                      </tr>
                    </thead> -->
                    <tbody>
                        <tr>  
                                <td>Customer</td>
                                <!-- <td>Slug</td> -->
                                <td>
                                        <a href="javascript:void(0)" (click)="openModal(editUserModal, null)" class="text-inverse p-r-10" data-toggle="tooltip" title="Edit">
                                            <i class="ti-marker-alt"></i>
                                        </a>
                                        <a href="javascript:void(0)" class="text-inverse" title="Delete" data-toggle="tooltip">
                                            <i class="ti-trash"></i>
                                        </a>
                                </td>
                         </tr> 
                         <tr>  
                            <td>Provider</td>
                            <!-- <td>Slug</td> -->
                            <td>
                                    <a href="javascript:void(0)" (click)="openModal(editUserModal, null)" class="text-inverse p-r-10" data-toggle="tooltip" title="Edit">
                                        <i class="ti-marker-alt"></i>
                                    </a>
                                    <a href="javascript:void(0)" class="text-inverse" title="Delete" data-toggle="tooltip">
                                        <i class="ti-trash"></i>
                                    </a>
                            </td>
                     </tr> 
                     <tr>  
                        <td>Admin User</td>
                        <!-- <td>Slug</td> -->
                        <td>
                                <a href="javascript:void(0)" (click)="openModal(editUserModal, null)" class="text-inverse p-r-10" data-toggle="tooltip" title="Edit">
                                    <i class="ti-marker-alt"></i>
                                </a>
                                <a href="javascript:void(0)" class="text-inverse" title="Delete" data-toggle="tooltip">
                                    <i class="ti-trash"></i>
                                </a>
                        </td>
                 </tr> 
                 <tr>  
                    <td>Sub Admin</td>
                    <!-- <td>Slug</td> -->
                    <td>
                            <a href="javascript:void(0)" (click)="openModal(editUserModal, null)" class="text-inverse p-r-10" data-toggle="tooltip" title="Edit">
                                <i class="ti-marker-alt"></i>
                            </a>
                            <a href="javascript:void(0)" class="text-inverse" title="Delete" data-toggle="tooltip">
                                <i class="ti-trash"></i>
                            </a>
                    </td>
             </tr> 
             <tr>  
                <td>Admin</td>
                <!-- <td>Slug</td> -->
                <td>
                        <a href="javascript:void(0)" (click)="openModal(editUserModal, null)" class="text-inverse p-r-10" data-toggle="tooltip" title="Edit">
                            <i class="ti-marker-alt"></i>
                        </a>
                        <a href="javascript:void(0)" class="text-inverse" title="Delete" data-toggle="tooltip">
                            <i class="ti-trash"></i>
                        </a>
                </td>
         </tr> 
                 

                    </tbody>
                  </table>  
                <!-- </div>
              </div> -->
            </div>
          </div>
          
          
        </div>
        <div class="d-flex justify-content-center mt-5">
          <!-- <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="userList.length"></ngb-pagination> -->
        </div>
      </div>
    </div>
  </div>
  
  
  <ng-template #editUserModal let-modal>
  
    <div class="modal-header backgroundColor">
  
      <h5 class="modal-title" id="editUserLabel">Add or Edit Role Details</h5>
  
      <button type="button" class="close" (click)="closeBtnClick()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
  
    </div>
  
    <div class="modal-body">
  
      <form [formGroup]="editUser" (ngSubmit)="onSubmit()">

        <div class="form-group row">
            <label for="name" class="col-sm-4 col-form-label">Role<span class="reqNote">*</span></label>
            <div class="col-sm-12">
              <input type="text" class="form-control" formControlName="Name" id="name" (blur)=logValidationErrors(editUser)>
              <span class="help-block" *ngIf="formsErrors.Name">
                {{formsErrors.Name}}
              </span>
            </div>
          </div>

          <div class="form-group row">
            <label for="name" class="col-sm-12 col-form-label">Permission<span class="reqNote">*</span></label> <br>
            <div class="col-sm-4" >
                    <fieldset class="checkbox">
                        <label>
                            <input type="checkbox" value="" checked> Dashboard
                        </label>
                    </fieldset>
                    <fieldset class="checkbox">
                        <label>
                            <input type="checkbox" value="" checked>Services
                        </label>
                    </fieldset>
                    <fieldset class="checkbox ">
                        <label>
                            <input type="checkbox" value="" checked>Email Template
                        </label>
                    </fieldset>
                    <fieldset class="checkbox ">
                        <label>
                            <input type="checkbox" value="" checked>Provider
                        </label>
                    </fieldset>
                
                </div>  
                <div class="col-sm-4" >
                    <fieldset class="checkbox">
                        <label>
                            <input type="checkbox" value="" checked> Jobs
                        </label>
                    </fieldset>
                    <fieldset class="checkbox">
                        <label>
                            <input type="checkbox" value="" checked>Knoweledge
                        </label>
                    </fieldset>
                    <fieldset class="checkbox ">
                        <label>
                            <input type="checkbox" value="" checked>General Settings
                        </label>
                    </fieldset>
                    <fieldset class="checkbox ">
                        <label>
                            <input type="checkbox" value="" checked>Admin users
                        </label>
                    </fieldset>
                    
                    
                </div>  
                <div class="col-sm-4" >
                    <fieldset class="checkbox">
                        <label>
                            <input type="checkbox" value="" checked> Referral
                        </label>
                    </fieldset>
                    <fieldset class="checkbox">
                        <label>
                            <input type="checkbox" value="" checked>Customer
                        </label>
                    </fieldset>
                    <fieldset class="checkbox ">
                        <label>
                            <input type="checkbox" value="" checked>Rewards
                        </label>
                    </fieldset>
                    <fieldset class="checkbox ">
                        <label>
                            <input type="checkbox" value="" checked>Payments
                        </label>
                    </fieldset>
                    
                    
                </div>  
     
     
          </div>
        
  
  
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeBtnClick()">Close</button>
  
          <button type="submit" class="btn btn-primary" [disabled]="editUser.invalid">Save</button>
        </div>
  
        
      </form>
    </div>
  </ng-template>
  