<div class="row">
  <div class="col-12">
    <div class="card card-body">
      <h4 class="card-title">User And Permission<span style="float: right;">
          <button class="btn backgroundColor ml-auto" (click)="openModal(editUserModal, null,'Add')">Add</button></span></h4>
      <!-- <h5 class="card-subtitle">Here is the Customer list you can add, edit or delet the Customer</h5> -->

      <div class="">
        <div class="row">
          <div class="col-md-12">
            <!-- <div class="card card-hover">
                <div class="card-body"> -->
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table">
              <thead>
                <tr>

                  <th class="backgroundColor tdLeft">NAME</th>
                  <th class="backgroundColor">SLUG</th>
                  <th class="backgroundColor">ACTION</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor='let item of roles'>
                  <td class="tdLeft">{{item.name}}</td>
                  <td>{{item.slug}}</td>
                  <td>
                    <a href="javascript:void(0)" (click)="openModal(editUserModal, item.id,'Edit')" class="text-inverse p-r-10"
                      data-toggle="tooltip" title="Edit">
                      <i class="ti-marker-alt"></i>
                    </a>
                    <a href="javascript:void(0)" class="text-inverse" title="Delete" data-toggle="tooltip">
                      <i class="ti-trash"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- </div>
              </div> -->
          </div>
        </div>


      </div>
      <div class="d-flex justify-content-center mt-5">
        <!-- <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="userList.length"></ngb-pagination> -->
      </div>
    </div>
  </div>
</div>


<ng-template #editUserModal let-modal>

  <div class="modal-header ">

    <h5 class="modal-title" id="editUserLabel">{{popupTitle}} Permission Details</h5>

    <button type="button" class="close" (click)="closeBtnClick()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>

  </div>

  <div class="modal-body">

     <form name="form" (ngSubmit)=" addRole()" #f="ngForm">
      <div class="form-group row">
        <label for="role" class="col-sm-4 col-form-label">Role<span class="reqNote">*</span></label><br>
        <div class="col-12">
          <input class="form-control"  name="name" [(ngModel)]="user_role.name" #name="ngModel" required>
          <!-- <select> -->
          <!-- <option>Super Admin</option>
            <option>QA Role</option> -->
          <!-- <option>Sub-Admin</option> -->
          <!-- </select> -->
        </div>
      </div>
      <div class="form-group row">
        <label for="permission" class="col-sm-12 col-form-label">Permission<span class="reqNote">*</span></label> <br>
        <div class="col-sm-4" *ngFor="let permission_val of all_permission_data; let i = index">
          <fieldset class="checkbox">
            <label>
              <input type="checkbox" [disabled]="user_role.id != null && user_role.id == 4 ? true : false" type="checkbox" class="" name="permissions[{{permission_val.id}}]"
              value="{{permission_val.id}}"    
              (change)="groupBychecked($event,permission_val.id)">
              {{permission_val.name}}
              </label>
          </fieldset>
          <!-- [checked]="permission_val.checked ? 'true' : false" -->
        </div>
      </div>

      <div class="modal-footer mb-f">
        <button type="submit" class="btn btn-info">{{btnTitle}} </button>
        <button type="button" class="btn btn-secondary" (click)="closeBtnClick()">Cancel</button>
      </div>
    </form>
    </div>
</ng-template> 