<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="card border-left card-hover border-orange">
            <div class="card-body ">
                <div class="d-flex no-block align-items-center">
                    <div>
                        <span class="text-orange display-6">
                            <i class="fas fa-user"></i>
                        </span>
                    </div>
                    <div class="ml-auto">
                        <h2>29</h2>
                        <h6 class="text-orange">Onboarding</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card border-left card-hover border-info">
            <div class="card-body ">
                <div class="d-flex no-block align-items-center">
                    <div>
                        <span class="text-info display-6">
                            <i class="fas fa-user"></i>
                        </span>
                    </div>
                    <div class="ml-auto">
                        <h2>12</h2>
                        <h6 class="text-info">Application</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card border-left card-hover border-cyan">
            <div class="card-body ">
                <div class="d-flex no-block align-items-center">
                    <div>
                        <span class="text-cyan display-6">
                            <i class="fas fa-user"></i>
                        </span>
                    </div>
                    <div class="ml-auto">
                        <h2>60</h2>
                        <h6 class="text-cyan">Interview</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card border-left card-hover border-success">
            <div class="card-body ">
                <div class="d-flex no-block align-items-center">
                    <div>
                        <span class="text-success display-6">
                            <i class="fas fa-user"></i>
                        </span>
                    </div>
                    <div class="ml-auto">
                        <h2>27</h2>
                        <h6 class="text-success">Hold</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="card border-left card-hover border-orange">
            <div class="card-body ">
                <div class="d-flex no-block align-items-center">
                    <div>
                        <span class="text-orange display-6">
                            <i class="fas fa-user"></i>
                        </span>
                    </div>
                    <div class="ml-auto">
                        <h2>28</h2>
                        <h6 class="text-orange">Active</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card border-left card-hover border-info">
            <div class="card-body ">
                <div class="d-flex no-block align-items-center">
                    <div>
                        <span class="text-info display-6">
                            <i class="fas fa-user"></i>
                        </span>
                    </div>
                    <div class="ml-auto">
                        <h2>10</h2>
                        <h6 class="text-info">Inactive</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card border-left card-hover border-cyan">
            <div class="card-body ">
                <div class="d-flex no-block align-items-center">
                    <div>
                        <span class="text-cyan display-6">
                            <i class="fas fa-user-times"></i>
                        </span>
                    </div>
                    <div class="ml-auto">
                        <h2>60</h2>
                        <h6 class="text-cyan">Blocked</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card border-left card-hover border-success">
            <div class="card-body ">
                <div class="d-flex no-block align-items-center">
                    <div>
                        <span class="text-success display-6">
                            <i class="fas fa-users"></i>
                        </span>
                    </div>
                    <div class="ml-auto">
                        <h2>270</h2>
                        <h6 class="text-success">Total</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-sm-12 col-md-4">
        <div class="card bg-success">
            <div class="card-body text-white">
                <div class="d-flex flex-row">
                    <div class="align-self-center display-6">
                        <i class="ti-wallet"></i>
                    </div>
                    <div class="p-10 align-self-center">
                        <h4 class="m-b-0 text-white">Paid Payment</h4>
                        <!-- <span>Income</span> -->
                    </div>
                    <div class="ml-auto align-self-center">
                        <h2 class="mdi mdi-currency-gbp">50000</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="card bg-cyan">
            <div class="card-body text-white">
                <div class="d-flex flex-row">
                    <div class="align-self-center display-6">
                        <i class="ti-wallet"></i>
                    </div>
                    <div class="p-10 align-self-center">
                        <h4 class="m-b-0 text-white">Pending Payment</h4>
                        <!-- <span>Income</span> -->
                    </div>
                    <div class="ml-auto align-self-center">
                        <h2 class="mdi mdi-currency-gbp">2900</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="card bg-orange">
            <div class="card-body text-white">
                <div class="d-flex flex-row">
                    <div class="align-self-center display-6">
                        <i class="ti-wallet"></i>
                    </div>
                    <div class="p-10 align-self-center">
                        <h4 class="m-b-0 text-white">Dispute Payment</h4>
                        <!-- <span>Income</span> -->
                    </div>
                    <div class="ml-auto align-self-center">
                        <h2 class="mdi mdi-currency-gbp">900</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</div>



<!-- Service wise Provider -->
<div class="row">
  <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Service wise Provider</h4>
                <h6 class="card-subtitle">How much provider in each service</h6>
                <canvas baseChart height="130px" [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
                 [colors]="[{backgroundColor: ['#a1aab2', '#36bea6', '#2962FF','#00FFFF','#4863A0','#6960EC']}]">
                </canvas> 
            </div>
         </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Rating wise Provider</h4>
                <!-- <h6 class="card-subtitle">This is the simple example of Doughnut chart</h6> 
                (chartHover)="chartHovered($event)"   (chartClick)="chartClicked($event)" -->
              
                <canvas baseChart height="142px" [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"
                  [colors]="[{backgroundColor: ['#a1aab2', '#36bea6', '#2962FF','#686868','#a65959']}]">
                </canvas>
            </div>
        </div>
    </div>
</div>
<!-- Sales Performance -->
<!-- <div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body"> -->
                <!-- title -->
                <!-- <div class="d-flex align-items-center m-b-40">
                    <div>
                        <h4 class="card-title">Sales Performance</h4>
                        <h5 class="card-subtitle">Overview of Latest Month</h5>
                    </div>
                    <div class="ml-auto">
                        <div class="dl">
                            <select class="custom-select">
                                <option value="0" selected>Monthly</option>
                                <option value="1">Daily</option>
                                <option value="2">Weekly</option>
                                <option value="3">Yearly</option>
                            </select>
                        </div>
                    </div>
                </div> -->
                <!-- title -->
                <!-- <div class=" d-flex flex-column">
                    <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
                        [yaxis]="chartOptions.yaxis" [grid]="chartOptions.grid" [stroke]="chartOptions.stroke"
                        [tooltip]="chartOptions.tooltip" [dataLabels]="chartOptions.dataLabels"
                        [legend]="chartOptions.legend" [colors]="chartOptions.colors" [markers]="chartOptions.markers">
                    </apx-chart>
                </div>
            </div>
          
        </div>
    </div>
</div> -->
<!-- top Rated providerT -->

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <!-- title -->
                <div class="d-md-flex align-items-center">
                    <div>
                        <h4 class="card-title">Top Rated Provider</h4>
                        <!-- <h5 class="card-subtitle">Overview of Top rated Provider</h5> -->
                    </div>
                    <div class="ml-auto">
                        <div class="dl">
                            <select class="custom-select">
                                <option value="0" selected>Monthly</option>
                                <option value="1">Daily</option>
                                <option value="2">Weekly</option>
                                <option value="3">Yearly</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- title -->
            </div>
            <div class="table-responsive">
                <table class="table v-middle">
                    <thead>
                        <tr class="bg-light">
                            <th class="border-top-0 backgroundColor">Services</th>
                            <th class="border-top-0 backgroundColor">Type</th>
                            <th class="border-top-0 backgroundColor">Status</th>
                            <th class="border-top-0 backgroundColor">Provider Name</th>
                            <th class="border-top-0 backgroundColor">Rate</th>
                            <th class="border-top-0 backgroundColor">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="">
                                        <h4 class="m-b-0 font-16">New Network Setup</h4>
                                    </div>
                                </div>
                            </td>
                            <td>On-site</td>
                            <td><label class="label label-success">Done</label></td>
                            <td > <img  height=" 30px" width="30px" class="rounded-circle" src="assets/images/users/2.jpg">&nbsp; Jenny</td>
                            <td><span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span></td>
                            <td><a [routerLink]="['/provider/provider-view']">view</a></td>
                            
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="">
                                        <h4 class="m-b-0 font-16">ISP</h4>
                                    </div>
                                </div>
                            </td>
                            <td>On-site</td>
                            <td><label class="label label-warning">Draft</label></td>
                            <td><img  height=" 30px" width="30px" class="rounded-circle" src="assets/images/users/2.jpg">&nbsp; Jenny</td>
                            <td><span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span></td>
                            <td><a [routerLink]="['/provider/provider-view']">view</a></td>
                            
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="">
                                        <h4 class="m-b-0 font-16">Connectivity</h4>
                                    </div>
                                </div>
                            </td>
                            <td>Remote</td>
                            <td><label class="label label-success">Done</label></td>
                            <td><img  height=" 30px" width="30px" class="rounded-circle" src="assets/images/users/2.jpg">&nbsp; Ram Shekhar Jadhav</td>
                            <td><span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span></td>
                            <td><a [routerLink]="['/provider/provider-view']">view</a></td>
                            
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="">
                                        <h4 class="m-b-0 font-16">New Network Setup</h4>
                                    </div>
                                </div>
                            </td>
                            <td>Remote</td>
                            <td><label class="label label-success">Done</label></td>
                            <td><img  height=" 30px" width="30px" class="rounded-circle" src="assets/images/users/2.jpg">&nbsp; Tom</td>
                            <td><span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span></td>
                            <td><a [routerLink]="['/provider/provider-view']">view</a></td>
                            
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="">
                                        <h4 class="m-b-0 font-16">New Network Conncection</h4>
                                    </div>
                                </div>
                            </td>
                            <td>On-site</td>
                            <td><label class="label label-danger">Cancel</label></td>
                            <td><img  height=" 30px" width="30px" class="rounded-circle" src="assets/images/users/2.jpg">&nbsp; Jenny</td>
                            <td><span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span></td>
                            <td><a [routerLink]="['/provider/provider-view']">view</a></td>
    
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="">
                                        <h4 class="m-b-0 font-16">New Network Setup</h4>
                                    </div>
                                </div>
                            </td>
                            <td>On-site</td>
                            <td><label class="label label-success">Done</label></td>
                            <td><img  height=" 30px" width="30px" class="rounded-circle" src="assets/images/users/5.jpg">&nbsp; Jenny</td>
                            <td><span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span></td>
                            <td><a [routerLink]="['/provider/provider-view']">view</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- Top/Negative Rated Provider -->

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <!-- title -->
                <div class="d-md-flex align-items-center">
                    <div>
                        <h4 class="card-title">Top Negative Rated Provider</h4>
                        <!-- <h5 class="card-subtitle">Overview of Top  Provider</h5> -->
                    </div>
                    <div class="ml-auto">
                        <div class="dl">
                            <select class="custom-select">
                                <option value="0" selected>Monthly</option>
                                <option value="1">Daily</option>
                                <option value="2">Weekly</option>
                                <option value="3">Yearly</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- title -->
            </div>
            <div class="table-responsive">
                <table class="table v-middle">
                    <thead>
                        <tr class="bg-light">
                            <th class="border-top-0 backgroundColor">Services</th>
                            <th class="border-top-0 backgroundColor">Type</th>
                            <th class="border-top-0 backgroundColor">Status</th>
                            <th class="border-top-0 backgroundColor">Provider Name</th>
                            <th class="border-top-0 backgroundColor">Rate</th>
                            <th class="border-top-0 backgroundColor">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="">
                                        <h4 class="m-b-0 font-16">New Network Setup</h4>
                                    </div>
                                </div>
                            </td>
                            <td>On-site</td>
                            <td><label class="label label-success">Done</label></td>
                            <td > <img  height=" 30px" width="30px" class="rounded-circle" src="assets/images/users/2.jpg">&nbsp; Jenny</td>
                            <td><span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span></td>
                            <td><a [routerLink]="['/provider/provider-view']">view</a></td>
                            
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="">
                                        <h4 class="m-b-0 font-16">ISP</h4>
                                    </div>
                                </div>
                            </td>
                            <td>On-site</td>
                            <td><label class="label label-warning">Draft</label></td>
                            <td><img  height=" 30px" width="30px" class="rounded-circle" src="assets/images/users/2.jpg">&nbsp; Jenny</td>
                            <td><span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span></td>
                            <td><a [routerLink]="['/provider/provider-view']">view</a></td>
                            
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="">
                                        <h4 class="m-b-0 font-16">Connectivity</h4>
                                    </div>
                                </div>
                            </td>
                            <td>Remote</td>
                            <td><label class="label label-success">Done</label></td>
                            <td><img  height=" 30px" width="30px" class="rounded-circle" src="assets/images/users/2.jpg">&nbsp; Ram Shekhar Jadhav</td>
                            <td><span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span></td>
                            <td><a [routerLink]="['/provider/provider-view']">view</a></td>
                            
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="">
                                        <h4 class="m-b-0 font-16">New Network Setup</h4>
                                    </div>
                                </div>
                            </td>
                            <td>Remote</td>
                            <td><label class="label label-success">Done</label></td>
                            <td><img  height=" 30px" width="30px" class="rounded-circle" src="assets/images/users/2.jpg">&nbsp; Tom</td>
                            <td><span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span></td>
                            <td><a [routerLink]="['/provider/provider-view']">view</a></td>
                            
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="">
                                        <h4 class="m-b-0 font-16">New Network Conncection</h4>
                                    </div>
                                </div>
                            </td>
                            <td>On-site</td>
                            <td><label class="label label-danger">Cancel</label></td>
                            <td><img  height=" 30px" width="30px" class="rounded-circle" src="assets/images/users/2.jpg">&nbsp; Jenny</td>
                            <td><span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span></td>
                            <td><a [routerLink]="['/provider/provider-view']">view</a></td>
    
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="">
                                        <h4 class="m-b-0 font-16">New Network Setup</h4>
                                    </div>
                                </div>
                            </td>
                            <td>On-site</td>
                            <td><label class="label label-success">Done</label></td>
                            <td><img  height=" 30px" width="30px" class="rounded-circle" src="assets/images/users/5.jpg">&nbsp; Jenny</td>
                            <td><span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span></td>
                            <td><a [routerLink]="['/provider/provider-view']">view</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


