<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="card border-left card-hover border-orange">
            <div class="card-body ">
                <div class="d-flex no-block align-items-center">
                    <div>
                        <span class="text-orange display-6">
                            <i class="fas fa-user"></i>
                        </span>
                    </div>
                    <div class="ml-auto">
                        <h2 class="tdRight">29</h2>
                        <h6 class="text-orange tdRight">Onboarding</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card border-left card-hover border-info">
            <div class="card-body ">
                <div class="d-flex no-block align-items-center">
                    <div>
                        <span class="text-info display-6">
                            <i class="fas fa-user"></i>
                        </span>
                    </div>
                    <div class="ml-auto">
                        <h2 class="tdRight">12</h2>
                        <h6 class="text-info tdRight">Application</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card border-left card-hover border-cyan">
            <div class="card-body ">
                <div class="d-flex no-block align-items-center">
                    <div>
                        <span class="text-cyan display-6">
                            <i class="fas fa-user"></i>
                        </span>
                    </div>
                    <div class="ml-auto">
                        <h2 class="tdRight">60</h2>
                        <h6 class="text-cyan tdRight">Interview</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card border-left card-hover border-success">
            <div class="card-body ">
                <div class="d-flex no-block align-items-center">
                    <div>
                        <span class="text-danger display-6">
                            <i class="fas fa-user-circle"></i>
                        </span>
                    </div>
                    <div class="ml-auto">
                        <h2 class="tdRight">27</h2>
                        <h6 class="text-danger tdRight">Hold</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="card border-left card-hover border-orange">
            <div class="card-body ">
                <div class="d-flex no-block align-items-center">
                    <div>
                        <span class="text-orange display-6">
                            <i class="fas fa-user"></i>
                        </span>
                    </div>
                    <div class="ml-auto">
                        <h2 class="tdRight">28</h2>
                        <h6 class="text-orange tdRight">Active</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card border-left card-hover border-info">
            <div class="card-body ">
                <div class="d-flex no-block align-items-center">
                    <div>
                        <span class="text-info display-6">
                            <i class="fas fa-user"></i>
                        </span>
                    </div>
                    <div class="ml-auto">
                        <h2 class="tdRight">10</h2>
                        <h6 class="text-info tdRight">Inactive</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card border-left card-hover border-cyan">
            <div class="card-body ">
                <div class="d-flex no-block align-items-center">
                    <div>
                        <span class="text-danger display-6">
                            <i class="fas fa-user-times"></i>
                        </span>
                    </div>
                    <div class="ml-auto">
                        <h2 class="tdRight">60</h2>
                        <h6 class="text-danger tdRight">Blocked</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card border-left card-hover border-success">
            <div class="card-body ">
                <div class="d-flex no-block align-items-center">
                    <div>
                        <span class="text-success display-6">
                            <i class="fas fa-users"></i>
                        </span>
                    </div>
                    <div class="ml-auto">
                        <h2 class="tdRight">270</h2>
                        <h6 class="text-success tdRight">Total</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-sm-12 col-md-4">
        <div class="card bg-success">
            <div class="card-body text-white">
                <div class="d-flex flex-row">
                    <div class="align-self-center display-6">
                        <i class="ti-wallet"></i>
                    </div>
                    <div class="p-10 align-self-center">
                        <h4 class="m-b-0 text-white">Paid Payment</h4>
                        <!-- <span>Income</span> -->
                    </div>
                    <div class="ml-auto align-self-center">
                        <h2 class="mdi mdi-currency-gbp">50000</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="card bg-cyan">
            <div class="card-body text-white">
                <div class="d-flex flex-row">
                    <div class="align-self-center display-6">
                        <i class="ti-wallet"></i>
                    </div>
                    <div class="p-10 align-self-center">
                        <h4 class="m-b-0 text-white">Pending Payment</h4>
                        <!-- <span>Income</span> -->
                    </div>
                    <div class="ml-auto align-self-center">
                        <h2 class="mdi mdi-currency-gbp">2900</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="card bg-orange">
            <div class="card-body text-white">
                <div class="d-flex flex-row">
                    <div class="align-self-center display-6">
                        <i class="ti-wallet"></i>
                    </div>
                    <div class="p-10 align-self-center">
                        <h4 class="m-b-0 text-white">Dispute Payment</h4>
                        <!-- <span>Income</span> -->
                    </div>
                    <div class="ml-auto align-self-center">
                        <h2 class="mdi mdi-currency-gbp">900</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</div>


<!-- Most Recent Booking Customer details -->
<div class="row">
    <div class="col-md-8 col-sm-12">
        <div class="card card-body">

            <!-- title -->
            <div class="d-md-flex align-items-center">
                <div>
                    <h4 class="card-title">Most Recent Booking</h4>
                </div>
            </div>
            <!-- title -->
            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false" #map4>
                <agm-marker [latitude]="lat" [longitude]="lng"  [iconUrl]="{ url: 'img1', scaledSize: [10,10], origin: [0,0], anchoriconAnchor: [7,7] }">
                    <agm-info-window><a [routerLink]="['/provider/provider-view']"><img src="assets/images/users/5.jpg" width="20" class="rounded-circle" alt="user" />Simth Wood</a> </agm-info-window>
                </agm-marker>
                <agm-marker [latitude]="latA" [longitude]="lngA"  [iconUrl]="{ url: 'img1', scaledSize: [10,10], origin: [0,0], anchoriconAnchor: [7,7] }">
                    <agm-info-window><a [routerLink]="['/provider/provider-view']"><img src="assets/images/users/5.jpg" width="20" class="rounded-circle" alt="user" />Simth Wood</a> </agm-info-window>
                </agm-marker>
                <agm-marker [latitude]="latB" [longitude]="lngB"  [iconUrl]="{ url: 'img1', scaledSize: [10,10], origin: [0,0], anchoriconAnchor: [7,7] }">
                    <agm-info-window><a [routerLink]="['/provider/provider-view']"><img src="assets/images/users/5.jpg" width="20" class="rounded-circle" alt="user" />Simth Wood</a> </agm-info-window>
                </agm-marker>
                <agm-marker [latitude]="latC" [longitude]="lngC"  [iconUrl]="{ url: 'img1', scaledSize: [10,10], origin: [0,0], anchoriconAnchor: [7,7] }">
                    <agm-info-window><a [routerLink]="['/provider/provider-view']"><img src="assets/images/users/5.jpg" width="20" class="rounded-circle" alt="user" />Simth Wood</a> </agm-info-window>
                </agm-marker>
            </agm-map>
        </div>
    </div>
    <!-- column -->
    <div class="col-sm-12 col-lg-4">
        <div class="card">
            <div class="card-body" style="padding-bottom:   10%; height: 70%;">
                <h4 class="card-title">Ticket Status</h4>
                <div class="d-flex flex-column m-auto">
                    <apx-chart [series]="EmailChartOptions.series" [chart]="EmailChartOptions.chart"
                        [dataLabels]="EmailChartOptions.dataLabels" [legend]="EmailChartOptions.legends"
                        [colors]="EmailChartOptions.colors" [stroke]="EmailChartOptions.stroke"
                        [labels]="EmailChartOptions.labels" [tooltip]="EmailChartOptions.tooltip"
                        [plotOptions]="EmailChartOptions.plotOptions">
                    </apx-chart>
                </div>

                <!-- row -->
                <div class="row m-t-30 m-b-15" style="margin-top: 35px;">
                    <!-- column -->
                    <div class="col-3  text-left">
                        <h4 class="m-b-0">12
                            <small>
                                <i class="fa fa-circle " style="color: #36bea6;"></i>
                            </small>
                        </h4>Answered
                    </div>
                    <!-- column -->
                    <div class="col-3 birder-right text-center">
                        <h4 class="m-b-0">15
                            <small>
                                <i class="fa fa-circle" style="color:#ffbc34;"></i>
                            </small>
                        </h4>Chat
                    </div>
                    <!-- column -->
                    <div class="col-3 birder-right text-right">
                        <h4 class="m-b-0">14
                            <small>
                                <i class="fa fa-circle" style="color:#f62d51"></i>
                            </small>
                        </h4>Resolved
                    </div>
                    <div class="col-3 birder-right text-right">
                        <h4 class="m-b-0">41
                            <small>
                                <i class="fa fa-circle" style="color: #2962ff;"></i>
                            </small>
                        </h4>Total Ticket
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- column -->
</div>
<!-- Most recent End -->


<!-- Service wise Provider -->
<div class="row">
  <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Service Wise Provider</h4>
                <!-- <h6 class="card-subtitle">How much provider in each service</h6> -->
                <canvas baseChart height="130px" [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
                 [colors]="[{backgroundColor: ['#a1aab2', '#36bea6', '#2962FF','#00FFFF','#4863A0','#6960EC']}]">
                </canvas> 
            </div>
         </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Rating Wise Provider</h4>
                <!-- <h6 class="card-subtitle">This is the simple example of Doughnut chart</h6> 
                (chartHover)="chartHovered($event)"   (chartClick)="chartClicked($event)" -->
              
                <canvas baseChart height="130px" [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"
                  [colors]="[{backgroundColor: ['#a1aab2', '#36bea6', '#2962FF','#686868','#a65959']}]">
                </canvas>
            </div>
        </div>
    </div>
</div>
<!-- Sales Performance -->
<!-- <div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body"> -->
                <!-- title -->
                <!-- <div class="d-flex align-items-center m-b-40">
                    <div>
                        <h4 class="card-title">Sales Performance</h4>
                        <h5 class="card-subtitle">Overview of Latest Month</h5>
                    </div>
                    <div class="ml-auto">
                        <div class="dl">
                            <select class="custom-select">
                                <option value="0" selected>Monthly</option>
                                <option value="1">Daily</option>
                                <option value="2">Weekly</option>
                                <option value="3">Yearly</option>
                            </select>
                        </div>
                    </div>
                </div> -->
                <!-- title -->
                <!-- <div class=" d-flex flex-column">
                    <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
                        [yaxis]="chartOptions.yaxis" [grid]="chartOptions.grid" [stroke]="chartOptions.stroke"
                        [tooltip]="chartOptions.tooltip" [dataLabels]="chartOptions.dataLabels"
                        [legend]="chartOptions.legend" [colors]="chartOptions.colors" [markers]="chartOptions.markers">
                    </apx-chart>
                </div>
            </div>
          
        </div>
    </div>
</div> -->
<!-- top Rated providerT -->

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <!-- title -->
                <div class="d-md-flex align-items-center">
                    <div>
                        <h4 class="card-title">Top Rated Provider</h4>
                        <!-- <h5 class="card-subtitle">Overview of Top rated Provider</h5> -->
                    </div>
                    <div class="ml-auto">
                        <div class="dl">
                            <select class="custom-select">
                                <option value="0" selected>Monthly</option>
                                <option value="1">Daily</option>
                                <option value="2">Weekly</option>
                                <option value="3">Yearly</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- title -->
            </div>
            <div class="table-responsive">
                <table class="table v-middle">
                    <thead>
                        <tr class="bg-light">
                            <th class="border-top-0 backgroundColor">SERVICE</th>
                            <th class="border-top-0 backgroundColor">PROVIDER</th>
                            <th class="border-top-0 backgroundColor">RATING</th>
                            <th class="border-top-0 backgroundColor tdCenter">TYPE</th>
                            <th class="border-top-0 backgroundColor tdCenter">STATUS</th>
                            <th class="border-top-0 backgroundColor tdCenter">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="">
                                        <h4 class="m-b-0 font-16">New network setup</h4>
                                    </div>
                                </div>
                            </td>
                            <td class="tdLeft"><div class="d-flex">
                                <img class="rounded-circle" src='assets/images/users/1.jpg' height=" 25px" width="25px">
                                <div class="ml-3">
                                  <p class="font-medium mb-0"><a [routerLink]="['/provider/provider-view']">Johan Smith</a></p>
                                </div>
                              </div></td> 
                              <td><span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span></td>
                            <td class="tdCenter"><label class="label label-dark">Remote</label></td>
                            <td class="tdCenter"><label class="label label-success">Done</label></td>
                           
                            <td class="tdCenter"><a [routerLink]="['/provider/provider-view']" class="text-inverse p-r-10" data-toggle="tooltip" title="View">
                                <i class="ti-eye"></i></a>
                             </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="">
                                        <h4 class="m-b-0 font-16">Ac</h4>
                                    </div>
                                </div>
                            </td>
                            <td class="tdLeft"><div class="d-flex">
                                <img class="rounded-circle" src='assets/images/users/1.jpg' height=" 25px" width="25px">
                                <div class="ml-3">
                                  <p class="font-medium mb-0"><a [routerLink]="['/provider/provider-view']">Jack Smith</a></p>
                                </div>
                              </div></td>  
                              <td><span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span></td>
                            <td class="tdCenter"><label class="label label-dark">Remote</label></td>
                            <td class="tdCenter"><label class="label label-warning">Draft</label></td>
                           
                          
                                <td class="tdCenter"><a [routerLink]="['/provider/provider-view']" class="text-inverse p-r-10" data-toggle="tooltip" title="View">
                                    <i class="ti-eye"></i></a>
                                 </td>
                            
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="">
                                        <h4 class="m-b-0 font-16">Connectivity</h4>
                                    </div>
                                </div>
                            </td>
                            <td class="tdLeft"><div class="d-flex">
                                <img class="rounded-circle" src='assets/images/users/1.jpg' height=" 25px" width="25px">
                                <div class="ml-3">
                                  <p class="font-medium mb-0"><a [routerLink]="['/provider/provider-view']">Ronald Smith</a></p>
                                </div>
                              </div></td>  
                              
                            <td><span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span></td>
                            <td class="tdCenter"><label class="label label-dark">Remote</label></td>
                            <td class="tdCenter"><label class="label label-success">Done</label></td>
                          
                                <td class="tdCenter"><a [routerLink]="['/provider/provider-view']" class="text-inverse p-r-10" data-toggle="tooltip" title="View">
                                    <i class="ti-eye"></i></a>
                                 </td>
                            
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="">
                                        <h4 class="m-b-0 font-16">New network setup</h4>
                                    </div>
                                </div>
                            </td>
                            <td class="tdLeft"><div class="d-flex">
                                <img class="rounded-circle" src='assets/images/users/1.jpg' height=" 25px" width="25px">
                                <div class="ml-3">
                                  <p class="font-medium mb-0"><a [routerLink]="['/provider/provider-view']">Johan Thomas</a></p>
                                </div>
                              </div></td>  
                              <td><span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span></td>
                            <td class="tdCenter"><label class="label label-success">On-site</label></td>                            <td class="tdCenter"><label class="label label-success">Done</label></td>
                           
                          
                                <td class="tdCenter"><a [routerLink]="['/provider/provider-view']" class="text-inverse p-r-10" data-toggle="tooltip" title="View">
                                    <i class="ti-eye"></i></a>
                                 </td>
                            
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="">
                                        <h4 class="m-b-0 font-16">New network conncection</h4>
                                    </div>
                                </div>
                            </td>
                            <td class="tdLeft"><div class="d-flex">
                                <img class="rounded-circle" src='assets/images/users/1.jpg' height=" 25px" width="25px">
                                <div class="ml-3">
                                  <p class="font-medium mb-0"><a [routerLink]="['/provider/provider-view']">Jenny Mark</a></p>
                                </div>
                              </div></td>  
                            <td><span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span></td>
                            <td class="tdCenter"><label class="label label-success">On-site</label></td>
                            <td class="tdCenter"><label class="label label-danger">Cancel</label></td>
                           
                                <td class="tdCenter"><a [routerLink]="['/provider/provider-view']" class="text-inverse p-r-10" data-toggle="tooltip" title="View">
                                    <i class="ti-eye"></i></a>
                                 </td>
    
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="">
                                        <h4 class="m-b-0 font-16">New network setup</h4>
                                    </div>
                                </div>
                            </td>
                            <td class="tdLeft"><div class="d-flex">
                                <img class="rounded-circle" src='assets/images/users/1.jpg' height=" 25px" width="25px">
                                <div class="ml-3">
                                  <p class="font-medium mb-0"><a [routerLink]="['/provider/provider-view']">Ronald King</a></p>
                                </div>
                              </div></td>  
                            <td><span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span></td>
                            <td class="tdCenter"><label class="label label-dark">Remote</label></td>                            <td class="tdCenter"><label class="label label-success">Done</label></td>
                          
                                <td class="tdCenter"><a [routerLink]="['/provider/provider-view']" class="text-inverse p-r-10" data-toggle="tooltip" title="View">
                                    <i class="ti-eye"></i></a>
                                 </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- Top/Negative Rated Provider -->

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <!-- title -->
                <div class="d-md-flex align-items-center">
                    <div>
                        <h4 class="card-title">Top Negative Rated Provider</h4>
                        <!-- <h5 class="card-subtitle">Overview of Top  Provider</h5> -->
                    </div>
                    <div class="ml-auto">
                        <div class="dl">
                            <select class="custom-select">
                                <option value="0" selected>Monthly</option>
                                <option value="1">Daily</option>
                                <option value="2">Weekly</option>
                                <option value="3">Yearly</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- title -->
            </div>
            <div class="table-responsive">
                <table class="table v-middle">
                    <thead>
                        <tr class="bg-light">
                            <th class="border-top-0 backgroundColor">SERVICE</th>
                            <th class="border-top-0 backgroundColor">PROVIDER</th>
                            <th class="border-top-0 backgroundColor">RATING</th>
                            <th class="border-top-0 backgroundColor tdCenter">TYPE</th>
                            <th class="border-top-0 backgroundColor tdCenter">STATUS</th>
                    
                            <th class="border-top-0 backgroundColor tdCenter">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="">
                                        <h4 class="m-b-0 font-16">New network setup</h4>
                                    </div>
                                </div>
                            </td>
                            <td class="tdLeft"><div class="d-flex">
                                <img class="rounded-circle" src='assets/images/users/1.jpg' height=" 25px" width="25px">
                                <div class="ml-3">
                                  <p class="font-medium mb-0"><a [routerLink]="['/provider/provider-view']">Johan Smith</a></p>
                                </div>
                              </div></td> 
                              <td><span class="fa fa-star checked"></span>
                                <span class="fa fa-star "></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star "></span>
                                <span class="fa fa-star"></span></td>
                            <td class="tdCenter"><label class="label label-dark">Remote</label></td>
                            <td class="tdCenter"><label class="label label-success">Done</label></td>
                           
                            <td class="tdCenter"><a [routerLink]="['/provider/provider-view']" class="text-inverse p-r-10" data-toggle="tooltip" title="View">
                                <i class="ti-eye"></i></a>
                             </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="">
                                        <h4 class="m-b-0 font-16">Ac</h4>
                                    </div>
                                </div>
                            </td>
                            <td class="tdLeft"><div class="d-flex">
                                <img class="rounded-circle" src='assets/images/users/1.jpg' height=" 25px" width="25px">
                                <div class="ml-3">
                                  <p class="font-medium mb-0"><a [routerLink]="['/provider/provider-view']">Jack Smith</a></p>
                                </div>
                              </div></td>  
                              <td><span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span></td>
                            <td class="tdCenter"><label class="label label-dark">Remote</label></td>
                            <td class="tdCenter"><label class="label label-warning">Draft</label></td>
                           
                          
                                <td class="tdCenter"><a [routerLink]="['/provider/provider-view']" class="text-inverse p-r-10" data-toggle="tooltip" title="View">
                                    <i class="ti-eye"></i></a>
                                 </td>
                            
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="">
                                        <h4 class="m-b-0 font-16">Connectivity</h4>
                                    </div>
                                </div>
                            </td>
                            <td class="tdLeft"><div class="d-flex">
                                <img class="rounded-circle" src='assets/images/users/1.jpg' height=" 25px" width="25px">
                                <div class="ml-3">
                                  <p class="font-medium mb-0"><a [routerLink]="['/provider/provider-view']">Ronald Smith</a></p>
                                </div>
                              </div></td>  
                              
                            <td><span class="fa fa-star"></span>
                                <span class="fa fa-star "></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span></td>
                            <td class="tdCenter"><label class="label label-dark">Remote</label></td>
                            <td class="tdCenter"><label class="label label-success">Done</label></td>
                          
                                <td class="tdCenter"><a [routerLink]="['/provider/provider-view']" class="text-inverse p-r-10" data-toggle="tooltip" title="View">
                                    <i class="ti-eye"></i></a>
                                 </td>
                            
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="">
                                        <h4 class="m-b-0 font-16">New network setup</h4>
                                    </div>
                                </div>
                            </td>
                            <td class="tdLeft"><div class="d-flex">
                                <img class="rounded-circle" src='assets/images/users/1.jpg' height=" 25px" width="25px">
                                <div class="ml-3">
                                  <p class="font-medium mb-0"><a [routerLink]="['/provider/provider-view']">Johan Thomas</a></p>
                                </div>
                              </div></td>  
                              <td><span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star "></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span></td>
                            <td class="tdCenter"><label class="label label-success">On-site</label></td>                            <td class="tdCenter"><label class="label label-success">Done</label></td>
                           
                          
                                <td class="tdCenter"><a [routerLink]="['/provider/provider-view']" class="text-inverse p-r-10" data-toggle="tooltip" title="View">
                                    <i class="ti-eye"></i></a>
                                 </td>
                            
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="">
                                        <h4 class="m-b-0 font-16">New network conncection</h4>
                                    </div>
                                </div>
                            </td>
                            <td class="tdLeft"><div class="d-flex">
                                <img class="rounded-circle" src='assets/images/users/1.jpg' height=" 25px" width="25px">
                                <div class="ml-3">
                                  <p class="font-medium mb-0"><a [routerLink]="['/provider/provider-view']">Jenny Mark</a></p>
                                </div>
                              </div></td>  
                            <td><span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star "></span>
                                <span class="fa fa-star"></span></td>
                            <td class="tdCenter"><label class="label label-success">On-site</label></td>
                            <td class="tdCenter"><label class="label label-danger">Cancel</label></td>
                           
                                <td class="tdCenter"><a [routerLink]="['/provider/provider-view']" class="text-inverse p-r-10" data-toggle="tooltip" title="View">
                                    <i class="ti-eye"></i></a>
                                 </td>
    
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="">
                                        <h4 class="m-b-0 font-16">New network setup</h4>
                                    </div>
                                </div>
                            </td>
                            <td class="tdLeft"><div class="d-flex">
                                <img class="rounded-circle" src='assets/images/users/1.jpg' height=" 25px" width="25px">
                                <div class="ml-3">
                                  <p class="font-medium mb-0"><a [routerLink]="['/provider/provider-view']">Ronald King</a></p>
                                </div>
                              </div></td>  
                            <td><span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span></td>
                            <td class="tdCenter"><label class="label label-dark">Remote</label></td>                            <td class="tdCenter"><label class="label label-success">Done</label></td>
                          
                                <td class="tdCenter"><a [routerLink]="['/provider/provider-view']" class="text-inverse p-r-10" data-toggle="tooltip" title="View">
                                    <i class="ti-eye"></i></a>
                                 </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-sm-12">
        <div class="card card-body e-campaign" style="height: 94%;">
            <h4 class="card-title">Average Provider Rate</h4>
            <div class="row m-t-40">
                <div class="col-sm-12 col-md-6 text-center rate">
                    <div class="css-bar css-bar-80 css-bar-xlg css-bar-primary">
                        <div class="data-text">
                            <h1 class="success-rate text-info font-light">4.5
                                <span class="icon"><i class="fas fa-star"></i></span>
                            </h1>
                            <div class="rate-label font-15">Toto Rate</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="row">
                        <div class="col-sm-12 col-lg-12">
                            <div class="card-body" style="margin-bottom: 25%;">
                                <h4 class="card-title">Reviews</h4>
                                <!-- <h5 class="card-subtitle">Overview of review</h5> -->
                                <h2 class="font-medium m-t-40 m-b-0">2542</h2>
                                <span class="text-muted">This month we got 346 new reviews</span>
                                <div class="image-box m-t-30 m-b-30">
                                    <a href="#" class="m-r-10" data-toggle="tooltip" data-placement="top" title="Simmons">
                                        <img src="assets/images/users/1.jpg" class="rounded-circle" width="45" alt="user">
                                    </a>
                                    <a href="#" class="m-r-10" data-toggle="tooltip" data-placement="top" title="Fitz">
                                        <img src="assets/images/users/2.jpg" class="rounded-circle" width="45" alt="user">
                                    </a>
                                    <a href="#" class="m-r-10" data-toggle="tooltip" data-placement="top" title="Phil">
                                        <img src="assets/images/users/3.jpg" class="rounded-circle" width="45" alt="user">
                                    </a>
                                    <a href="#" class="m-r-10" data-toggle="tooltip" data-placement="top" title="Melinda">
                                        <img src="assets/images/users/4.jpg" class="rounded-circle" width="45" alt="user">
                                    </a>
                                </div>
                                <a href="javascript:void(0)" class="btn btn-lg btn-info waves-effect waves-light">Checkout All Reviews</a>
                            </div>
                        </div>
                        <!-- <div class="col-sm-12 col-lg-8 border-left">
                            <div class="card-body">
                                <ul class="list-style-none">
                                    <li class="m-t-30">
                                        <div class="d-flex align-items-center">
                                            <i class="mdi mdi-emoticon-happy display-5 text-muted"></i>
                                            <div class="m-l-10">
                                                <h5 class="m-b-0">Positive Reviews</h5>
                                                <span class="text-muted">2554 Reviews</span>
                                            </div>
                                        </div>
                                        <ngb-progressbar type="success" [value]="47"></ngb-progressbar>
                                    </li>
                                    <li class="m-t-40">
                                        <div class="d-flex align-items-center">
                                            <i class="mdi mdi-emoticon-sad display-5 text-muted"></i>
                                            <div class="m-l-10">
                                                <h5 class="m-b-0">Negative Reviews</h5>
                                                <span class="text-muted">554 Reviews</span>
                                            </div>
                                        </div>
                                        <ngb-progressbar type="orange" [value]="33"></ngb-progressbar>
                                    </li>
                                    <li class="m-t-40 m-b-40">
                                        <div class="d-flex align-items-center">
                                            <i class="mdi mdi-emoticon-neutral display-5 text-muted"></i>
                                            <div class="m-l-10">
                                                <h5 class="m-b-0">Neutral Reviews</h5>
                                                <span class="text-muted">54 Reviews</span>
                                            </div>
                                        </div>
                                        <ngb-progressbar type="info" [value]="20"></ngb-progressbar>
                                    </li>
                                </ul>
                            </div>
                        </div> -->
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card" style="margin-bottom: 2%;">
            <div class="card-body" style="margin-bottom: 2%;">
                <h4 class="card-title">No. Of Provider By Task Type</h4>
                <div class="d-flex flex-column m-auto">
                    <apx-chart [series]="EmailChartOptions1.series" [chart]="EmailChartOptions1.chart"
                        [dataLabels]="EmailChartOptions1.dataLabels" [legend]="EmailChartOptions1.legends"
                        [colors]="EmailChartOptions1.colors" [stroke]="EmailChartOptions1.stroke"
                        [labels]="EmailChartOptions1.labels" [tooltip]="EmailChartOptions1.tooltip"
                        [plotOptions]="EmailChartOptions1.plotOptions">
                    </apx-chart>
                </div>

                <!-- row -->
                <div class="row m-t-30 m-b-15" style="margin-left: 70px; text-align: center;">
                    <!-- column -->
                    <div class="col-4 birder-right" >
                        <h4 class="m-b-0">120
                            <small>
                                <i class="fa fa-circle" style="color: #99abb4;"></i>
                            </small>
                        </h4>On-site
                    </div>
                    <div class="col-4 birder-right  ">
                        <h4 class="m-b-0">155
                            <small>
                                <i class="fa fa-circle" style="color: #7e74fb;"></i>
                            </small>
                        </h4>Remote
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
