<div class="row">
    <div class="col-sm-12">
        <div class="card">
          <div class="card">
            <div class="card-header bg-info" style="background-color: #fff !important;">
            <div class="card-header">
               <h4 style="padding-bottom: 10px;" class="m-b-0">Send Notification</h4>
           </div>
            <div class="card-body">
              <label >Notification Template</label>
                <ng-multiselect-dropdown
                  [placeholder]="'Choose notification'"
                  [data]="notification"
                  [(ngModel)]="selectedNotification"
                  [settings]="dropdownSettings"
                  (onSelect)="onNotifSelect($event)"
              
                >
                </ng-multiselect-dropdown><br>
                <label >Choose Customer</label>
                <!-- <h5 class="card-title">Choose Customer</h5> -->
                <ng-multiselect-dropdown
                  [placeholder]="'Choose customer'"
                  [data]="cust"
                  [(ngModel)]="selectedCust"
                  [settings]="dropdownSettings"
                  (onSelect)="onCustSelect($event)"
              
                >
                </ng-multiselect-dropdown><br>
                <!-- <h5 class="card-title">Choose Provider</h5> -->
                <label >Choose Provider</label>
                <ng-multiselect-dropdown
                [placeholder]="'Choose provider'"
                [data]="provider"
                [(ngModel)]="selectedPro"
                [settings]="dropdownSettings"
                (onSelect)="onProSelect($event)" 
          
              >
              <!-- (onSelectAll)="onSelectAll($event)" -->
              </ng-multiselect-dropdown>

              <div style="margin-left:88% ; margin-top: 20px;">
                <button type="button" class="btn btn-info" >Send</button>&nbsp;
                <button type="button"  (click)="notifyList()" class="btn btn-secondary">Cancel</button>&nbsp;
            
            </div>
          
            </div>
          
        </div>
    </div>
</div>