<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <label class="card-title">Onsite Information<span class="reqNote">*</span></label>
                <!-- <h6 class="card-subtitle">quill editor with angular and TypeScript. ngx-quill is the new angular 2 and beyond 
                    implementation of ngQuill.
                    <a href="https://github.com/KillerCodeMonkey/ngx-quill"  target="_blank">Official website</a>
                </h6> -->
                <quill-editor [style]="{height: '200px'}"></quill-editor>
            </div>
        </div>

    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <label class="card-title">Remote Information<span class="reqNote">*</span></label>
                <!-- <h6 class="card-subtitle">quill editor with angular and TypeScript. ngx-quill is the new angular 2 and beyond 
                    implementation of ngQuill.
                    <a href="https://github.com/KillerCodeMonkey/ngx-quill"  target="_blank">Official website</a>
                </h6> -->
                <quill-editor [style]="{height: '200px'}"></quill-editor>
            </div>
        </div>

    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <label class="card-title">Basic Information<span class="reqNote">*</span></label>
                <!-- <h6 class="card-subtitle">quill editor with angular and TypeScript. ngx-quill is the new angular 2 and beyond 
                    implementation of ngQuill.
                    <a href="https://github.com/KillerCodeMonkey/ngx-quill"  target="_blank">Official website</a>
                </h6> -->
                <quill-editor [style]="{height: '200px'}"></quill-editor>
            </div>
        </div>
    </div>
    <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <label class="card-title">Task Completed<span class="reqNote">*</span></label>
            <textarea class="form-control" rows="3" ></textarea>
          </div>
        </div>
    </div>
    <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <label class="card-title">Task Detail<span class="reqNote">*</span></label>
            <textarea class="form-control" rows="3" ></textarea>
        </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                    <label class="card-title">Task Reschedule<span class="reqNote">*</span></label>
            <textarea class="form-control" rows="3" ></textarea>
        </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <label class="card-title">Coverage Information<span class="reqNote">*</span></label>
                <!-- <h6 class="card-subtitle">quill editor with angular and TypeScript. ngx-quill is the new angular 2 and beyond 
                    implementation of ngQuill.
                    <a href="https://github.com/KillerCodeMonkey/ngx-quill"  target="_blank">Official website</a>
                </h6> -->
                <quill-editor [style]="{height: '200px'}"></quill-editor>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <label class="card-title">Availability Information<span class="reqNote">*</span></label>
                <!-- <h6 class="card-subtitle">quill editor with angular and TypeScript. ngx-quill is the new angular 2 and beyond 
                    implementation of ngQuill.
                    <a href="https://github.com/KillerCodeMonkey/ngx-quill"  target="_blank">Official website</a>
                </h6> -->
                <quill-editor [style]="{height: '200px'}"></quill-editor>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <label class="card-title">Category Information<span class="reqNote">*</span></label>
                <!-- <h6 class="card-subtitle">quill editor with angular and TypeScript. ngx-quill is the new angular 2 and beyond 
                    implementation of ngQuill.
                    <a href="https://github.com/KillerCodeMonkey/ngx-quill"  target="_blank">Official website</a>
                </h6> -->
                <quill-editor [style]="{height: '200px'}"></quill-editor>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <label class="card-title">Feedback Ratio Information<span class="reqNote">*</span></label>
                <!-- <h6 class="card-subtitle">quill editor with angular and TypeScript. ngx-quill is the new angular 2 and beyond 
                    implementation of ngQuill.
                    <a href="https://github.com/KillerCodeMonkey/ngx-quill"  target="_blank">Official website</a>
                </h6> -->
                <quill-editor [style]="{height: '200px'}"></quill-editor>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <label class="card-title">Referral Information<span class="reqNote">*</span></label>
                <!-- <h6 class="card-subtitle">quill editor with angular and TypeScript. ngx-quill is the new angular 2 and beyond 
                    implementation of ngQuill.
                    <a href="https://github.com/KillerCodeMonkey/ngx-quill"  target="_blank">Official website</a>
                </h6> -->
                <quill-editor [style]="{height: '200px'}"></quill-editor>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <label class="card-title">Customer Liked Information<span class="reqNote">*</span></label>
                <!-- <h6 class="card-subtitle">quill editor with angular and TypeScript. ngx-quill is the new angular 2 and beyond 
                    implementation of ngQuill.
                    <a href="https://github.com/KillerCodeMonkey/ngx-quill"  target="_blank">Official website</a>
                </h6> -->
                <quill-editor [style]="{height: '200px'}"></quill-editor>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <label class="card-title">No of Attempt Infomation<span class="reqNote">*</span></label>
                <!-- <h6 class="card-subtitle">quill editor with angular and TypeScript. ngx-quill is the new angular 2 and beyond 
                    implementation of ngQuill.
                    <a href="https://github.com/KillerCodeMonkey/ngx-quill"  target="_blank">Official website</a>
                </h6> -->
                <quill-editor [style]="{height: '200px'}"></quill-editor>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <label class="card-title">Test Date Infomation<span class="reqNote">*</span></label>
                <!-- <h6 class="card-subtitle">quill editor with angular and TypeScript. ngx-quill is the new angular 2 and beyond 
                    implementation of ngQuill.
                    <a href="https://github.com/KillerCodeMonkey/ngx-quill"  target="_blank">Official website</a>
                </h6> -->
                <quill-editor [style]="{height: '200px'}"></quill-editor>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <label class="card-title">Test Duration Infomation<span class="reqNote">*</span></label>                <!-- <h6 class="card-subtitle">quill editor with angular and TypeScript. ngx-quill is the new angular 2 and beyond 
                    implementation of ngQuill.
                    <a href="https://github.com/KillerCodeMonkey/ngx-quill"  target="_blank">Official website</a>
                </h6> -->
                <quill-editor [style]="{height: '200px'}"></quill-editor>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <label class="card-title">Rating Infomation<span class="reqNote">*</span></label>
                <!-- <h6 class="card-subtitle">quill editor with angular and TypeScript. ngx-quill is the new angular 2 and beyond 
                    implementation of ngQuill.
                    <a href="https://github.com/KillerCodeMonkey/ngx-quill"  target="_blank">Official website</a>
                </h6> -->
                <quill-editor [style]="{height: '200px'}"></quill-editor>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <label class="card-title">Test Keeping Infomation<span class="reqNote">*</span></label>
                <!-- <h6 class="card-subtitle">quill editor with angular and TypeScript. ngx-quill is the new angular 2 and beyond 
                    implementation of ngQuill.
                    <a href="https://github.com/KillerCodeMonkey/ngx-quill"  target="_blank">Official website</a>
                </h6> -->
                <quill-editor [style]="{height: '200px'}"></quill-editor>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <label class="card-title">Complaints Infomation<span class="reqNote">*</span></label>
                <!-- <h6 class="card-subtitle">quill editor with angular and TypeScript. ngx-quill is the new angular 2 and beyond 
                    implementation of ngQuill.
                    <a href="https://github.com/KillerCodeMonkey/ngx-quill"  target="_blank">Official website</a>
                </h6> -->
                <quill-editor [style]="{height: '200px'}"></quill-editor>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <label class="card-title">Response Infomation<span class="reqNote">*</span></label>
                <!-- <h6 class="card-subtitle">quill editor with angular and TypeScript. ngx-quill is the new angular 2 and beyond 
                    implementation of ngQuill.
                    <a href="https://github.com/KillerCodeMonkey/ngx-quill"  target="_blank">Official website</a>
                </h6> -->
                <quill-editor [style]="{height: '200px'}"></quill-editor>
            </div>
        </div> 
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <label class="card-title">Acceptance Infomation<span class="reqNote">*</span></label>
                <!-- <h6 class="card-subtitle">quill editor with angular and TypeScript. ngx-quill is the new angular 2 and beyond 
                    implementation of ngQuill.
                    <a href="https://github.com/KillerCodeMonkey/ngx-quill"  target="_blank">Official website</a>
                </h6> -->
                <quill-editor [style]="{height: '200px'}"></quill-editor>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <label class="card-title">Reliability Infomation<span class="reqNote">*</span></label>
                <!-- <h6 class="card-subtitle">quill editor with angular and TypeScript. ngx-quill is the new angular 2 and beyond 
                    implementation of ngQuill.
                    <a href="https://github.com/KillerCodeMonkey/ngx-quill"  target="_blank">Official website</a>
                </h6> -->
                <quill-editor [style]="{height: '200px'}"></quill-editor>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <label class="card-title"> Correction Rate Infomation<span class="reqNote">*</span></label>
                <!-- <h6 class="card-subtitle">quill editor with angular and TypeScript. ngx-quill is the new angular 2 and beyond 
                    implementation of ngQuill.
                    <a href="https://github.com/KillerCodeMonkey/ngx-quill"  target="_blank">Official website</a>
                </h6> -->
                <quill-editor [style]="{height: '200px'}"></quill-editor>
            </div>
        </div>
    </div>
    
    <button type="button" class="btn btn-primary" style="margin-left: 30px;">Save</button>
</div>