<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <label class="card-title">Onsite Information</label>
                <!-- <h6 class="card-subtitle">quill editor with angular and TypeScript. ngx-quill is the new angular 2 and beyond 
                    implementation of ngQuill.
                    <a href="https://github.com/KillerCodeMonkey/ngx-quill"  target="_blank">Official website</a>
                </h6> -->
                <quill-editor [style]="{height: '300px'}"></quill-editor>
            </div>
        </div>

    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <label class="card-title">Remote Information</label>
                <!-- <h6 class="card-subtitle">quill editor with angular and TypeScript. ngx-quill is the new angular 2 and beyond 
                    implementation of ngQuill.
                    <a href="https://github.com/KillerCodeMonkey/ngx-quill"  target="_blank">Official website</a>
                </h6> -->
                <quill-editor [style]="{height: '200px'}"></quill-editor>
            </div>
        </div>

    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <label class="card-title">Basic Information</label>
                <!-- <h6 class="card-subtitle">quill editor with angular and TypeScript. ngx-quill is the new angular 2 and beyond 
                    implementation of ngQuill.
                    <a href="https://github.com/KillerCodeMonkey/ngx-quill"  target="_blank">Official website</a>
                </h6> -->
                <quill-editor [style]="{height: '200px'}"></quill-editor>
            </div>
        </div>
    </div>
    <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <label class="card-title">Task Completed</label>
            <textarea class="form-control" rows="3" ></textarea>
          </div>
        </div>
    </div>
    <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <label class="card-title">Task Detail</label>
            <textarea class="form-control" rows="3" ></textarea>
        </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                    <label class="card-title">Task Reschedule</label>
            <textarea class="form-control" rows="3" ></textarea>
        </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <label class="card-title">Coverage Information</label>
                <!-- <h6 class="card-subtitle">quill editor with angular and TypeScript. ngx-quill is the new angular 2 and beyond 
                    implementation of ngQuill.
                    <a href="https://github.com/KillerCodeMonkey/ngx-quill"  target="_blank">Official website</a>
                </h6> -->
                <quill-editor [style]="{height: '200px'}"></quill-editor>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <label class="card-title">Availability Information</label>
                <!-- <h6 class="card-subtitle">quill editor with angular and TypeScript. ngx-quill is the new angular 2 and beyond 
                    implementation of ngQuill.
                    <a href="https://github.com/KillerCodeMonkey/ngx-quill"  target="_blank">Official website</a>
                </h6> -->
                <quill-editor [style]="{height: '200px'}"></quill-editor>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <label class="card-title">Category Information</label>
                <!-- <h6 class="card-subtitle">quill editor with angular and TypeScript. ngx-quill is the new angular 2 and beyond 
                    implementation of ngQuill.
                    <a href="https://github.com/KillerCodeMonkey/ngx-quill"  target="_blank">Official website</a>
                </h6> -->
                <quill-editor [style]="{height: '200px'}"></quill-editor>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <label class="card-title">Feedback Ratio Information</label>
                <!-- <h6 class="card-subtitle">quill editor with angular and TypeScript. ngx-quill is the new angular 2 and beyond 
                    implementation of ngQuill.
                    <a href="https://github.com/KillerCodeMonkey/ngx-quill"  target="_blank">Official website</a>
                </h6> -->
                <quill-editor [style]="{height: '200px'}"></quill-editor>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <label class="card-title">Referral Information</label>
                <!-- <h6 class="card-subtitle">quill editor with angular and TypeScript. ngx-quill is the new angular 2 and beyond 
                    implementation of ngQuill.
                    <a href="https://github.com/KillerCodeMonkey/ngx-quill"  target="_blank">Official website</a>
                </h6> -->
                <quill-editor [style]="{height: '200px'}"></quill-editor>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <label class="card-title">Customer Liked Information</label>
                <!-- <h6 class="card-subtitle">quill editor with angular and TypeScript. ngx-quill is the new angular 2 and beyond 
                    implementation of ngQuill.
                    <a href="https://github.com/KillerCodeMonkey/ngx-quill"  target="_blank">Official website</a>
                </h6> -->
                <quill-editor [style]="{height: '200px'}"></quill-editor>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <label class="card-title">No of Attempt Infomation</label>
                <!-- <h6 class="card-subtitle">quill editor with angular and TypeScript. ngx-quill is the new angular 2 and beyond 
                    implementation of ngQuill.
                    <a href="https://github.com/KillerCodeMonkey/ngx-quill"  target="_blank">Official website</a>
                </h6> -->
                <quill-editor [style]="{height: '200px'}"></quill-editor>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <label class="card-title">Test Date Infomation</label>
                <!-- <h6 class="card-subtitle">quill editor with angular and TypeScript. ngx-quill is the new angular 2 and beyond 
                    implementation of ngQuill.
                    <a href="https://github.com/KillerCodeMonkey/ngx-quill"  target="_blank">Official website</a>
                </h6> -->
                <quill-editor [style]="{height: '200px'}"></quill-editor>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <label class="card-title">Test Duration Infomation</label>                <!-- <h6 class="card-subtitle">quill editor with angular and TypeScript. ngx-quill is the new angular 2 and beyond 
                    implementation of ngQuill.
                    <a href="https://github.com/KillerCodeMonkey/ngx-quill"  target="_blank">Official website</a>
                </h6> -->
                <quill-editor [style]="{height: '200px'}"></quill-editor>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <label class="card-title">Rating Infomation</label>
                <!-- <h6 class="card-subtitle">quill editor with angular and TypeScript. ngx-quill is the new angular 2 and beyond 
                    implementation of ngQuill.
                    <a href="https://github.com/KillerCodeMonkey/ngx-quill"  target="_blank">Official website</a>
                </h6> -->
                <quill-editor [style]="{height: '200px'}"></quill-editor>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <label class="card-title">Test Keeping Infomation</label>
                <!-- <h6 class="card-subtitle">quill editor with angular and TypeScript. ngx-quill is the new angular 2 and beyond 
                    implementation of ngQuill.
                    <a href="https://github.com/KillerCodeMonkey/ngx-quill"  target="_blank">Official website</a>
                </h6> -->
                <quill-editor [style]="{height: '200px'}"></quill-editor>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <label class="card-title">Complaints Infomation</label>
                <!-- <h6 class="card-subtitle">quill editor with angular and TypeScript. ngx-quill is the new angular 2 and beyond 
                    implementation of ngQuill.
                    <a href="https://github.com/KillerCodeMonkey/ngx-quill"  target="_blank">Official website</a>
                </h6> -->
                <quill-editor [style]="{height: '200px'}"></quill-editor>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <label class="card-title">Response Infomation</label>
                <!-- <h6 class="card-subtitle">quill editor with angular and TypeScript. ngx-quill is the new angular 2 and beyond 
                    implementation of ngQuill.
                    <a href="https://github.com/KillerCodeMonkey/ngx-quill"  target="_blank">Official website</a>
                </h6> -->
                <quill-editor [style]="{height: '200px'}"></quill-editor>
            </div>
        </div> 
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <label class="card-title">Acceptance Infomation</label>
                <!-- <h6 class="card-subtitle">quill editor with angular and TypeScript. ngx-quill is the new angular 2 and beyond 
                    implementation of ngQuill.
                    <a href="https://github.com/KillerCodeMonkey/ngx-quill"  target="_blank">Official website</a>
                </h6> -->
                <quill-editor [style]="{height: '200px'}"></quill-editor>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <label class="card-title">Reliability Infomation</label>
                <!-- <h6 class="card-subtitle">quill editor with angular and TypeScript. ngx-quill is the new angular 2 and beyond 
                    implementation of ngQuill.
                    <a href="https://github.com/KillerCodeMonkey/ngx-quill"  target="_blank">Official website</a>
                </h6> -->
                <quill-editor [style]="{height: '200px'}"></quill-editor>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <label class="card-title"> Correction Rate Infomation</label>
                <!-- <h6 class="card-subtitle">quill editor with angular and TypeScript. ngx-quill is the new angular 2 and beyond 
                    implementation of ngQuill.
                    <a href="https://github.com/KillerCodeMonkey/ngx-quill"  target="_blank">Official website</a>
                </h6> -->
                <quill-editor [style]="{height: '200px'}"></quill-editor>
            </div>
        </div>
    </div>
    
    <button type="button" class="btn btn-primary" style="margin-left: 30px;">Save</button>
</div>