<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Onsite Information</h5>
                <!-- <h6 class="card-subtitle">quill editor with angular and TypeScript. ngx-quill is the new angular 2 and beyond 
                    implementation of ngQuill.
                    <a href="https://github.com/KillerCodeMonkey/ngx-quill"  target="_blank">Official website</a>
                </h6> -->
                <quill-editor [style]="{height: '200px'}"></quill-editor>
            </div>
        </div>

    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Remote Information</h5>
                <!-- <h6 class="card-subtitle">quill editor with angular and TypeScript. ngx-quill is the new angular 2 and beyond 
                    implementation of ngQuill.
                    <a href="https://github.com/KillerCodeMonkey/ngx-quill"  target="_blank">Official website</a>
                </h6> -->
                <quill-editor [style]="{height: '200px'}"></quill-editor>
            </div>
        </div>

    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Basic Information</h5>
                <!-- <h6 class="card-subtitle">quill editor with angular and TypeScript. ngx-quill is the new angular 2 and beyond 
                    implementation of ngQuill.
                    <a href="https://github.com/KillerCodeMonkey/ngx-quill"  target="_blank">Official website</a>
                </h6> -->
                <quill-editor [style]="{height: '200px'}"></quill-editor>
            </div>
        </div>
    </div>
    <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Task Completed</h5>
            <textarea class="form-control" rows="3" ></textarea>
          </div>
        </div>
    </div>
    <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Task Detail</h5>
            <textarea class="form-control" rows="3" ></textarea>
        </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                    <h5 class="card-title">Task Reschedule</h5>
            <textarea class="form-control" rows="3" ></textarea>
        </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Coverage Information</h5>
                <!-- <h6 class="card-subtitle">quill editor with angular and TypeScript. ngx-quill is the new angular 2 and beyond 
                    implementation of ngQuill.
                    <a href="https://github.com/KillerCodeMonkey/ngx-quill"  target="_blank">Official website</a>
                </h6> -->
                <quill-editor [style]="{height: '200px'}"></quill-editor>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Availability Information</h5>
                <!-- <h6 class="card-subtitle">quill editor with angular and TypeScript. ngx-quill is the new angular 2 and beyond 
                    implementation of ngQuill.
                    <a href="https://github.com/KillerCodeMonkey/ngx-quill"  target="_blank">Official website</a>
                </h6> -->
                <quill-editor [style]="{height: '200px'}"></quill-editor>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Category Information</h5>
                <!-- <h6 class="card-subtitle">quill editor with angular and TypeScript. ngx-quill is the new angular 2 and beyond 
                    implementation of ngQuill.
                    <a href="https://github.com/KillerCodeMonkey/ngx-quill"  target="_blank">Official website</a>
                </h6> -->
                <quill-editor [style]="{height: '200px'}"></quill-editor>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Feedback Ratio Information</h5>
                <!-- <h6 class="card-subtitle">quill editor with angular and TypeScript. ngx-quill is the new angular 2 and beyond 
                    implementation of ngQuill.
                    <a href="https://github.com/KillerCodeMonkey/ngx-quill"  target="_blank">Official website</a>
                </h6> -->
                <quill-editor [style]="{height: '200px'}"></quill-editor>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Referral Information</h5>
                <!-- <h6 class="card-subtitle">quill editor with angular and TypeScript. ngx-quill is the new angular 2 and beyond 
                    implementation of ngQuill.
                    <a href="https://github.com/KillerCodeMonkey/ngx-quill"  target="_blank">Official website</a>
                </h6> -->
                <quill-editor [style]="{height: '200px'}"></quill-editor>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Customer Liked Information</h5>
                <!-- <h6 class="card-subtitle">quill editor with angular and TypeScript. ngx-quill is the new angular 2 and beyond 
                    implementation of ngQuill.
                    <a href="https://github.com/KillerCodeMonkey/ngx-quill"  target="_blank">Official website</a>
                </h6> -->
                <quill-editor [style]="{height: '200px'}"></quill-editor>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">No of Attempt Infomation</h5>
                <!-- <h6 class="card-subtitle">quill editor with angular and TypeScript. ngx-quill is the new angular 2 and beyond 
                    implementation of ngQuill.
                    <a href="https://github.com/KillerCodeMonkey/ngx-quill"  target="_blank">Official website</a>
                </h6> -->
                <quill-editor [style]="{height: '200px'}"></quill-editor>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Test Date Infomation</h5>
                <!-- <h6 class="card-subtitle">quill editor with angular and TypeScript. ngx-quill is the new angular 2 and beyond 
                    implementation of ngQuill.
                    <a href="https://github.com/KillerCodeMonkey/ngx-quill"  target="_blank">Official website</a>
                </h6> -->
                <quill-editor [style]="{height: '200px'}"></quill-editor>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Test Duration Infomation</h5>
                <!-- <h6 class="card-subtitle">quill editor with angular and TypeScript. ngx-quill is the new angular 2 and beyond 
                    implementation of ngQuill.
                    <a href="https://github.com/KillerCodeMonkey/ngx-quill"  target="_blank">Official website</a>
                </h6> -->
                <quill-editor [style]="{height: '200px'}"></quill-editor>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Rating Infomation</h5>
                <!-- <h6 class="card-subtitle">quill editor with angular and TypeScript. ngx-quill is the new angular 2 and beyond 
                    implementation of ngQuill.
                    <a href="https://github.com/KillerCodeMonkey/ngx-quill"  target="_blank">Official website</a>
                </h6> -->
                <quill-editor [style]="{height: '200px'}"></quill-editor>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Test Keeping Infomation</h5>
                <!-- <h6 class="card-subtitle">quill editor with angular and TypeScript. ngx-quill is the new angular 2 and beyond 
                    implementation of ngQuill.
                    <a href="https://github.com/KillerCodeMonkey/ngx-quill"  target="_blank">Official website</a>
                </h6> -->
                <quill-editor [style]="{height: '200px'}"></quill-editor>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Complaints Infomation</h5>
                <!-- <h6 class="card-subtitle">quill editor with angular and TypeScript. ngx-quill is the new angular 2 and beyond 
                    implementation of ngQuill.
                    <a href="https://github.com/KillerCodeMonkey/ngx-quill"  target="_blank">Official website</a>
                </h6> -->
                <quill-editor [style]="{height: '200px'}"></quill-editor>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Response Infomation</h5>
                <!-- <h6 class="card-subtitle">quill editor with angular and TypeScript. ngx-quill is the new angular 2 and beyond 
                    implementation of ngQuill.
                    <a href="https://github.com/KillerCodeMonkey/ngx-quill"  target="_blank">Official website</a>
                </h6> -->
                <quill-editor [style]="{height: '200px'}"></quill-editor>
            </div>
        </div> 
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Acceptance Infomation</h5>
                <!-- <h6 class="card-subtitle">quill editor with angular and TypeScript. ngx-quill is the new angular 2 and beyond 
                    implementation of ngQuill.
                    <a href="https://github.com/KillerCodeMonkey/ngx-quill"  target="_blank">Official website</a>
                </h6> -->
                <quill-editor [style]="{height: '200px'}"></quill-editor>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Reliability Infomation</h5>
                <!-- <h6 class="card-subtitle">quill editor with angular and TypeScript. ngx-quill is the new angular 2 and beyond 
                    implementation of ngQuill.
                    <a href="https://github.com/KillerCodeMonkey/ngx-quill"  target="_blank">Official website</a>
                </h6> -->
                <quill-editor [style]="{height: '200px'}"></quill-editor>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"> Correction Rate Infomation</h5>
                <!-- <h6 class="card-subtitle">quill editor with angular and TypeScript. ngx-quill is the new angular 2 and beyond 
                    implementation of ngQuill.
                    <a href="https://github.com/KillerCodeMonkey/ngx-quill"  target="_blank">Official website</a>
                </h6> -->
                <quill-editor [style]="{height: '200px'}"></quill-editor>
            </div>
        </div>
    </div>
    
    <button type="button" class="btn btn-primary" >Save</button>
</div>