
<div class="row">
    <div class="col-12">
      <div class="card card-body">
        <!-- <h4 class="card-title">Feedback Details</h4> -->

        <div>
        <h5><img class="rounded-circle" src='assets/images/users/2.jpg' height=" 35px" width="35px">
            by Johan Smith </h5>
         <p> 20/04/2021</p>
            <div>
                <p>
                   Toto Application is good,easy to use.and all services are awesome.Some review trader sites can provide 
                   you with a review service. Simply register an account on one of these sites and launch the products. 
                   Reviewers will choose some products on the site they are interested in to leave reviews and get some discounts
                    in return.                                                                                                                                                        
                </p>
            </div>
            <img src='assets/toto1.jpeg' height=" 400px"  alt="feedback">
        </div>

        </div>
    </div>
</div>