
<div class="row">
    <div class="col-12">
      <div class="card card-body">
        <h3 class="card-title">The Best Features Coming to iOS and Web design
        </h3>

        <div>
        <h5><img class="rounded-circle" src='assets/images/users/2.jpg' height=" 35px" width="35px">
            by Johan Smith | Jan 10, 2020</h5>
            <div class="badge badge-pill badge-danger font-14 infoData">Issue</div>
            <br>
            <br>
            <div style="font-size: 17px;">
                <p>
                    Before you get into the nitty-gritty of coming up with a perfect title, start with a rough draft: your working title. What is that, exactly? A lot of people confuse working titles with topics. Let's clear that Topics are very general and could yield several different blog posts. Think "raising healthy kids," or "kitchen storage." A writer might look at either of those topics and choose to take them in very, very different directions.A working title, on the other hand, is very specific and guides the creation of a single blog post. For example, from the topic "raising healthy kids," you could derive the following working title See how different and specific each of those is? That's what makes them working titles, instead of overarching topics.                                                   
                </p>
            </div>
            <br><br><hr>
            <h4>Attachements :</h4>
            <img src='assets/toto1.jpeg' height="400px" style="padding:12px;"  alt="feedback">
            <img src='assets/toto2.jpeg' height="400px" style="padding:12px;"  alt="feedback">

        </div>

        </div>
    </div>
</div>