<div class="row">
    <div class="col-md-12">
        
        <!-- <div class="card card-body"> -->
            <div class="row">
                <div class="col-md-4">
                    <div class="card" style="height: 420px;">
                        <div class="card-header ">
                            <h4 class="card-title mb-0">General Information</h4>
                        </div>
                        <div class="card-body text-center">
                            <div class="profile-pic m-b-20 m-t-20">
                                <img src="assets/images/users/5.jpg" width="150" class="rounded-circle" alt="user" />
                                <h4 class="m-t-20 m-b-0">Daniel Kristeen</h4>
                                <a href="mailto:danielkristeen@gmail.com">danielkristeen@gmail.com</a>
                            </div><br>
                            <div class="badge badge-pill badge-info font-14 infoData" >Gender : Male</div>
                            <div class="badge badge-pill badge-warning font-14 infoData" >Date of Birth : 12/04/1992</div>                            
                            <div class="badge badge-pill badge-success font-16 infoData">Active</div>
                            <!-- <div class="badge badge-pill badge-info font-16" data-toggle="tooltip" data-placement="top" title="3 more">+3</div> -->
                        </div>
                        <!-- <div class="p-25 border-top m-t-15">
                            <div class="row text-center">
                                <div class="col-6 border-right">
                                    <a href="#" class="link d-flex align-items-center justify-content-center font-medium">
                                        <i class="mdi mdi-message font-20 m-r-5"></i>Message</a>
                                </div>
                                <div class="col-6">
                                    <a href="#" class="link d-flex align-items-center justify-content-center font-medium">
                                        <i class="mdi mdi-developer-board font-20 m-r-5"></i>Portfolio</a>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card" style="height: 420px;">
                        <div class="card-header">
                            <h4 class="card-title mb-0 ">Change Password</h4>
                        </div>
                        <div class="card-body">
                            <form class="form" *ngIf='regularForm' [formGroup]="regularForm">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="old_pass">Old Password<span class="reqNote">*</span></label>
                                            <input type="password" class="form-control" id="old_pass" name="old_pass" formControlName="old_pass" placeholder="Enter old password">
                                            <small class="form-text text-danger"
                                            *ngIf="!regularForm.get('old_pass').valid && (regularForm.get('old_pass').dirty || regularForm.get('old_pass').touched)">
                                           Password field is required!
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="new_pass" >New Password<span class="reqNote">*</span></label>
                                            <input type="password" class="form-control" id="new_pass" name="new_pass"
                                            placeholder="Enter new password"  formControlName="new_pass"       required minlength="4" maxlength="24">
                                            <small class="form-text text-danger"
                                            *ngIf="!regularForm.get('new_pass').valid && (regularForm.get('new_pass').dirty || regularForm.get('new_pass').touched)">
                                           Password characters length must be between 4 and 24 !
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="confirm_pass">Confirm Password<span class="reqNote">*</span></label>
                                            <input type="password" class="form-control" id="confirm_pass" name="confirm_pass"
                                            placeholder="Enter confirm password" formControlName="confirm_pass"  required minlength="4" maxlength="24">
                                            <small class="form-text text-danger"
                                            *ngIf="!regularForm.get('confirm_pass').valid && (regularForm.get('confirm_pass').dirty || regularForm.get('confirm_pass').touched)">
                                            Password characters length must be between 4 and 24 !
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="form-group row" style="margin-top: 25px; ">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-info"
                                            >Save</button>&nbsp;
                                        <button type="button" class="btn btn-secondary ">Cancel</button>
                                    </div>
                                </div> 
                             
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        <!-- </div> -->
    </div>
</div>