<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="d-md-flex align-items-center">
                    <div>
                        <h4 class="card-title">Customer Details</h4>
                        <h5 class="card-subtitle">Overview of customer details</h5>
                    </div>
                    <button class="btn btn-primary ml-auto" (click)="openModal(editUserModal, null)">Edit Customer</button>

                </div>
                <div class="row">
                    <!-- column -->
                    <div class="col-lg-4" style="text-align: center;">
                        <div class="profile-pic m-b-20 m-t-20">
                            <img src="assets/images/users/5.jpg" width="120" class="rounded-circle" alt="user" />
                            <h4 class="m-t-20 m-b-0">Daniel Kristeen</h4>
                            <a href="mailto:danielkristeen@gmail.com">danielkristeen@gmail.com</a><br>
                            <label>Royal Mail
                                Flat 9, Wheatstone House</label><br>
                            <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                        </div>
                        
                        <div class="badge badge-pill badge-light font-14 infoData">020 7946 0581</div>
                        <div class="badge badge-pill badge-light font-14 infoData">Male</div>
                        <div class="badge badge-pill badge-light font-14 infoData">30/12/1993</div>
                        <hr>
                        <div class="badge badge-pill badge-info font-14 infoData" >Referral : 23423</div>
                        <div class="badge badge-pill badge-warning font-14 infoData">Reg. Date : 12/12/2020</div>
                        <div class="badge badge-pill badge-success font-14 infoData">Active</div>
                        
                        <!-- <div class="badge badge-pill badge-info font-14" data-toggle="tooltip" data-placement="top" title="3 more">+3</div> -->
                    </div>
                    <!-- column -->
                    <div class="col-lg-8">
                        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false" #map4>
                            <agm-marker [latitude]="lat" [longitude]="lng">
                                <agm-info-window>InfoWindow content</agm-info-window>
                            </agm-marker>
                        </agm-map>
                    </div>
                    <!-- column -->
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- Info Box -->
            <!-- ============================================================== -->
            <div class="card-body border-top">
                <div class="row m-b-0">
                    <!-- col -->
                    <div class="col-lg-2 col-md-6">
                        <div class="d-flex align-items-center">
                            <div class="m-r-10">
                                <span class="text-orange display-5">
                                    <i class="mdi mdi-star-circle "></i>
                                </span>
                            </div>
                            <div>
                                <span>Sales Amount</span>
                                <h3 class="font-medium m-b-0">£3,567</h3>
                            </div>
                        </div>
                    </div>
                    <!-- col -->
                    <!-- col -->
                    <div class="col-lg-2 col-md-6">
                        <div class="d-flex align-items-center">
                            <div class="m-r-10">
                                <span class="text-cyan display-5">
                                    <i class="mdi mdi-wallet"></i>
                                </span>
                            </div>
                            <div>
                                <span>Available Balance</span>
                                <h3 class="font-medium m-b-0">£769.08</h3>
                            </div>
                        </div>
                    </div>
                    <!-- col -->
                    <!-- col -->
                    <div class="col-lg-2 col-md-6">
                        <div class="d-flex align-items-center">
                            <div class="m-r-10">
                                <span class="text-info display-5">
                                    <i class="mdi mdi-shopping"></i>
                                </span>
                            </div>
                            <div>
                                <span>Booked Session</span>
                                <h3 class="font-medium m-b-0">45</h3>
                            </div>
                        </div>
                    </div>
                    <!-- col -->
                    <!-- col -->
                    
                    <div class="col-lg-2 col-md-6">
                        <div class="d-flex align-items-center">
                            <div class="m-r-10">
                                <span class="text-primary display-5">
                                    <i class="mdi mdi-basket"></i>
                                </span>
                            </div>
                            <div>
                                <span>Total Services</span>
                                <h3 class="font-medium m-b-0">10</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="d-flex align-items-center">
                            <div class="m-r-10">
                                <span class="text-danger display-5">
                                    <i class="mdi mdi-block-helper"></i>
                                </span>
                            </div>
                            <div>
                                <span>Total Dispute</span>
                                <h3 class="font-medium m-b-0">23</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="d-flex align-items-center">
                            <div class="m-r-10">
                                <span class="text-primary display-5">
                                    <i class="mdi mdi-currency-gbp"></i>
                                </span>
                            </div>
                            <div>
                                <span>Total Paid</span>
                                <h3 class="font-medium m-b-0">£23,568</h3>
                            </div>
                        </div>
                    </div>
                    <!-- col -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Job History -->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <!-- title -->
                <div class="d-md-flex align-items-center">
                    <div>
                        <h4 class="card-title">Jobs History</h4>
                        <h5 class="card-subtitle">Overview of jobs history</h5>
                    </div>
                    <div class="ml-auto">
                        <div class="dl">
                            <select class="custom-select">
                                <option value="0" selected>Monthly</option>
                                <option value="1">Daily</option>
                                <option value="2">Weekly</option>
                                <option value="3">Yearly</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- title -->
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr class="bg-light">
                            <th class="border-top-0 backgroundColor tdLeft">JOBID</th>
                            <th class="border-top-0 backgroundColor tdLeft">SERVICE</th>
                            <th class="border-top-0 backgroundColor tdLeft">TYPE</th>
                            <th class="border-top-0 backgroundColor tdLeft">PROVIDER</th>
                            <th class="border-top-0 backgroundColor tdCenter">STATUS</th>
                            <th class="border-top-0 backgroundColor tdCenter">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="tdLeft">1</td>
                            <td class="tdLeft">
                                <div class="d-flex align-items-center">
                                    <div class="">
                                        <h4 class="m-b-0 font-16">New Network Setup</h4>
                                    </div>
                                </div>
                            </td>
                            <td class="tdLeft">On-site</td>                            
                            <td class="tdLeft">Jenny</td>
                            <td class="tdCenter"><label class="label label-success">Done</label></td>
                            <td class="tdCenter"><a [routerLink]="['/jobs/jobview']" class="text-inverse p-r-10" data-toggle="tooltip" title="View">
                                <i class="fas fa-eye "></i></a>
                             </td>
                            
                        </tr>
                        <tr>
                            <td class="tdLeft">2</td>
                            <td class="tdLeft">
                                <div class="d-flex align-items-center">
                                    <div class="">
                                        <h4 class="m-b-0 font-16">ISP</h4>
                                    </div>
                                </div>
                            </td>
                            <td class="tdLeft">On-site</td>                            
                            <td class="tdLeft">Jenny</td>
                            <td class="tdCenter"><label class="label label-warning">Draft</label></td>
                            <td class="tdCenter"><a [routerLink]="['/jobs/jobview']" class="text-inverse p-r-10" data-toggle="tooltip" title="View">
                                <i class="fas fa-eye "></i></a>
                             </td>
                            
                        </tr>
                        <tr>
                            <td class="tdLeft">3</td>
                            <td class="tdLeft">
                                <div class="d-flex align-items-center">
                                    <div class="">
                                        <h4 class="m-b-0 font-16">Connectivity</h4>
                                    </div>
                                </div>
                            </td>
                            <td class="tdLeft">Remote</td>                            
                            <td class="tdLeft">Ram Shekhar Jadhav</td>
                            <td class="tdCenter"><label class="label label-success">Done</label></td>
                            <td class="tdCenter"><a [routerLink]="['/jobs/jobview']" class="text-inverse p-r-10" data-toggle="tooltip" title="View">
                                <i class="fas fa-eye "></i></a>
                             </td>
                            
                        </tr>
                        <tr>
                            <td class="tdLeft">3</td>
                            <td class="tdLeft">
                                <div class="d-flex align-items-center">
                                    <div class="">
                                        <h4 class="m-b-0 font-16">New Network Setup</h4>
                                    </div>
                                </div>
                            </td>
                            <td class="tdLeft">Remote</td>                            
                            <td class="tdLeft">Tom</td>
                            <td class="tdCenter"><label class="label label-success">Done</label></td>
                            <td class="tdCenter"><a [routerLink]="['/jobs/jobview']" class="text-inverse p-r-10" data-toggle="tooltip" title="View">
                                <i class="fas fa-eye "></i></a>
                             </td>
                            
                        </tr>
                        <tr>
                            <td class="tdLeft">4</td>
                            <td class="tdLeft">
                                <div class="d-flex align-items-center">
                                    <div class="">
                                        <h4 class="m-b-0 font-16">New Network Conncection</h4>
                                    </div>
                                </div>
                            </td>
                            <td class="tdLeft">On-site</td>
                            <td class="tdLeft">Jenny</td>
                            <td class="tdCenter"><label class="label label-danger">Cancel</label></td>
                            <td class="tdCenter"><a [routerLink]="['/jobs/jobview']" class="text-inverse p-r-10" data-toggle="tooltip" title="View">
                                <i class="fas fa-eye "></i></a>
                             </td>
                            
                        </tr>
                        <tr>
                            <td class="tdLeft">5</td>
                            <td class="tdLeft">
                                <div class="d-flex align-items-center">
                                    <div class="">
                                        <h4 class="m-b-0 font-16">New Network Setup</h4>
                                    </div>
                                </div>
                            </td>
                            <td class="tdLeft">On-site</td>
                            
                            <td class="tdLeft">Jenny</td>
                            <td class="tdCenter"><label class="label label-success">Done</label></td>
                            <td class="tdCenter"><a [routerLink]="['/jobs/jobview']" class="text-inverse p-r-10" data-toggle="tooltip" title="View">
                                <i class="fas fa-eye "></i></a>
                             </td>
                            
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Job History End -->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <!-- title -->
                <div class="d-md-flex align-items-center">
                    <div>
                        <h4 class="card-title">Payment History</h4>
                        <h5 class="card-subtitle">Overview of customer payment history</h5>
                    </div>
                    <div class="ml-auto">
                        <div class="dl">
                            <select class="custom-select">
                                <option value="0" selected>Monthly</option>
                                <option value="1">Daily</option>
                                <option value="2">Weekly</option>
                                <option value="3">Yearly</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- title -->
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr class="bg-light">
                            <th class="border-top-0 backgroundColor tdLeft">JOBID</th>
                            <th class="border-top-0 backgroundColor tdLeft">JOB</th>
                            <th class="border-top-0 backgroundColor tdLeft">PAYMENT ID</th>
                            <th class="border-top-0 backgroundColor tdLeft">PAYMENT TYPE</th>
                            <th class="border-top-0 backgroundColor tdRight">AMOUNT</th>
                            <th class="border-top-0 backgroundColor tdCenter">STATUS</th>
                            <th class="border-top-0 backgroundColor tdCenter">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="tdLeft">1</td>
                            <td class="tdLeft">TV</td>
                            <td class="tdLeft">Se3#42qwe!WER</td>
                            <td class="tdLeft"><label class="label label-success">Online</label></td>
                            <td class="tdRight">
                                £40
                            </td>
                            <td class="tdCenter">Done</td>
                            <td class="tdCenter"><a [routerLink]="['/customer/view']" class="text-inverse p-r-10" data-toggle="tooltip" title="View">
                                <i class="fas fa-eye "></i></a>
                             </td>
                        </tr>
                        <tr>
                            <td class="tdLeft">2</td>
                            <td class="tdLeft">ISP</td>
                            <td class="tdLeft">Se3#42qwe!WER</td>
                            <td class="tdLeft"><label class="label label-success">Online</label></td>
                            <td class="tdRight">
                                £200
                            </td>
                            <td class="tdCenter">Done</td>
                            <td class="tdCenter"><a [routerLink]="['/customer/view']" class="text-inverse p-r-10" data-toggle="tooltip" title="View">
                                <i class="fas fa-eye "></i></a>
                             </td>
                        </tr>
                        <tr>
                            <td class="tdLeft">3</td>
                            <td class="tdLeft">WIFI Connectivity</td>
                            <td class="tdLeft">Se3#42qwe!WER</td>
                            <td class="tdLeft"><label class="label label-success">Online</label></td>
                            <td class="tdRight">
                                £340
                            </td>
                            <td class="tdCenter">Done</td>
                            <td class="tdCenter"><a [routerLink]="['/customer/view']" class="text-inverse p-r-10" data-toggle="tooltip" title="View">
                                <i class="fas fa-eye "></i></a>
                             </td>
                        </tr>
                        <tr>
                            <td class="tdLeft">4</td>
                            <td class="tdLeft">Poor Network</td>
                            <td class="tdLeft">Se3#42qwe!WER</td>
                            <td class="tdLeft"><label class="label label-success">Online</label></td>
                            <td class="tdRight">
                                £230
                            </td>
                            <td class="tdCenter">Pending</td>
                            <td class="tdCenter"><a [routerLink]="['/customer/view']" class="text-inverse p-r-10" data-toggle="tooltip" title="View">
                                <i class="fas fa-eye "></i></a>
                             </td>
                        </tr>
                        <tr>
                            <td class="tdLeft">5</td>
                            <td class="tdLeft">TV</td>
                            <td class="tdLeft">Se3#42qwe!WER</td>
                            <td class="tdLeft"><label class="label label-warning">Debit Card</label></td>
                            <td class="tdRight">
                                £20
                            </td>
                            <td class="tdCenter">Refund</td>
                            <td class="tdCenter"><a [routerLink]="['/customer/view']" class="text-inverse p-r-10" data-toggle="tooltip" title="View">
                                <i class="fas fa-eye "></i></a>
                             </td>
                        </tr>
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Review and Rating module -->
<div class="row">
    <div class="col-md-6">
        <div class="card" style="max-height: 76% !important;position: relative;">
            <div class="card-body">
                <h4 class="card-title">Review And Rating</h4>
            </div>
            <div class="comment-widgets" style="overflow: scroll !important;">
                <!-- Comment Row -->
                <div class="d-flex flex-row comment-row m-t-0">
                    <div class="p-2">
                        <img src="assets/images/users/1.jpg" alt="user" width="50" class="rounded-circle">
                    </div>
                    <div class="comment-text w-100">
                        <h6 class="font-medium">James Anderson</h6>
                        <span class="m-b-15 d-block">jamesaderson@gmail.com</span>
                        <div class="comment-footer">
                            <span class="text-muted float-right">April 14, 2016</span>
                            <span class="label label-rounded label-primary"><span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span></span>
                           
                        </div>
                    </div>
                </div>
                <!-- Comment Row -->
                <div class="d-flex flex-row comment-row">
                    <div class="p-2">
                        <img src="assets/images/users/4.jpg" alt="user" width="50" class="rounded-circle">
                    </div>
                    <div class="comment-text active w-100">
                        <h6 class="font-medium">Michael Jorden</h6>
                        <span class="m-b-15 d-block">michaeljorden@gmail.com</span>
                        <div class="comment-footer ">
                            <span class="text-muted float-right">April 14, 2016</span>
                            <span class="label label-success label-rounded"><span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span></span>
                            
                        </div>
                    </div>
                </div>
                <!-- Comment Row -->
                <div class="d-flex flex-row comment-row">
                    <div class="p-2">
                        <img src="assets/images/users/5.jpg" alt="user" width="50" class="rounded-circle">
                    </div>
                    <div class="comment-text w-100">
                        <h6 class="font-medium">Johnathan Doeting</h6>
                        <span class="m-b-15 d-block">johnathandoeting@gmail.com</span>
                        <div class="comment-footer">
                            <span class="text-muted float-right">April 14, 2016</span>
                            <span class="label label-rounded label-danger"><span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span></span>
                           
                        </div>
                    </div>
                </div>
                <!-- Comment Row -->
                <div class="d-flex flex-row comment-row">
                    <div class="p-2">
                        <img src="assets/images/users/1.jpg" alt="user" width="50" class="rounded-circle">
                    </div>
                    <div class="comment-text w-100">
                        <h6 class="font-medium">James Anderson</h6>
                        <span class="m-b-15 d-block">jamesaderson@gmail.com </span>
                        <div class="comment-footer">
                            <span class="text-muted float-right">April 14, 2016</span>
                            <span class="label label-rounded label-primary"><span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span></span>
                           
                        </div>
                    </div>
                </div>
                <!-- Comment Row -->
                <!-- Comment Row -->
                <div class="d-flex flex-row comment-row">
                    <div class="p-2">
                        <img src="assets/images/users/4.jpg" alt="user" width="50" class="rounded-circle">
                    </div>
                    <div class="comment-text active w-100">
                        <h6 class="font-medium">Michael Jorden</h6>
                        <span class="m-b-15 d-block">michaeljorden@gmail.com</span>
                        <div class="comment-footer ">
                            <span class="text-muted float-right">April 14, 2016</span>
                            <span class="label label-success label-rounded"><span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span></span>
                            
                        </div>
                    </div>
                </div>
                <!-- Comment Row -->
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-6">
        <div class="card card-hover"style="max-height: 76% !important;position: relative;overflow: scroll !important;">
            <div class="card-body">
                <h4 class="card-title">Latest Activity
                </h4>
                <div class="feed-widget" >
                    <ul class="list-style-none feed-body m-0 p-b-20">
                        <a [routerLink]="['/jobs/jobview']"><li class="feed-item">
                            <div class="feed-icon bg-info">
                                <i class="ti-user"></i>
                            </div> Alice Freeman started following you..
                            <span class="ml-auto font-12 text-muted">Just Now</span>
                        </li></a>
                        <a [routerLink]="['/jobs/jobview']"><li class="feed-item">
                            <div class="feed-icon bg-success">
                                <i class="ti-user"></i>
                            </div> Andrew Green sent you a message.
                            <span class="ml-auto font-12 text-muted">2 Hours ago</span>
                        </li></a>
                        <a [routerLink]="['/jobs/jobview']"><li class="feed-item">
                            <div class="feed-icon bg-warning">
                                <i class="ti-user" style="width: 20%;"></i>
                            </div> Andrew Green sent you a message.
                            <span class="ml-auto font-12 text-muted">31 May</span>
                        </li></a>
                        <a [routerLink]="['/jobs/jobview']"><li class="feed-item">
                            <div class="feed-icon bg-danger">
                                <i class="ti-user"></i>
                            </div>Jane Dean started following you.
                            <span class="ml-auto font-12 text-muted">30 May</span>
                        </li></a>
                        <a [routerLink]="['/jobs/jobview']"><li class="feed-item">
                            <div class="feed-icon bg-inverse">
                                <i class="ti-user"></i>
                            </div> Jane Dean started following you.
                            <span class="ml-auto font-12 text-muted">27 May</span>
                        </li></a>
                        <a [routerLink]="['/jobs/jobview']"><li class="feed-item">
                            <div class="feed-icon bg-info">
                                <i class="ti-user"></i>
                            </div> Juan Carpenter sent you a message.
                            <span class="ml-auto font-12 text-muted">Just Now</span>
                        </li></a>
                        <a [routerLink]="['/jobs/jobview']"><li class="feed-item">
                            <div class="feed-icon bg-danger">
                                <i class="ti-user"></i>
                            </div> Judith Burton shared a photo with you.
                            <span class="ml-auto font-12 text-muted">30 May</span>
                        </li></a>
                        <a [routerLink]="['/jobs/jobview']"><li class="feed-item">
                            <div class="feed-icon bg-danger">
                                <i class="ti-user"></i>
                            </div> Judith Burton shared a photo with you.
                            <span class="ml-auto font-12 text-muted">30 May</span>
                        </li></a>
                        <a [routerLink]="['/jobs/jobview']"><li class="feed-item">
                            <div class="feed-icon bg-danger">
                                <i class="ti-user"></i>
                            </div> Judith Burton shared a photo with you.
                            <span class="ml-auto font-12 text-muted">30 May</span>
                        </li></a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-6">
        <div class="card" >
            <div class="card-body">
                <h4 class="card-title">Promo Code</h4>
                <h5 class="card-subtitle">Overview of customer used promo code</h5>
                <table class="table v-middle">
                    <thead>
                        <tr>
                            <th class="border-top-0">Promo Code</th>
                            <th class="border-top-0">Description</th>
                            <th class="text-center border-top-0">Promo Code used Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>ASERD2</td>
                            <td class="font-bold">
                                themedesigner.in
                            </td>
                            <td class="text-center">14</td>
                        </tr>
                        <tr>
                            <td>ASERD2</td>
                            <td class="font-bold">
                                wrappixel.com
                            </td>
                            <td class="text-center">09</td>
                        </tr>
                        <tr>
                            <td>ASERD2</td>
                            <td class="font-bold">
                                themeforest.net
                            </td>
                            <td class="text-center">07</td>
                        </tr>
                        <tr>
                            <td>ASERD2</td>
                            <td class="font-bold">
                                wrapbootstrap.com
                            </td>
                            <td class="text-center">04</td>
                        </tr>
                        <tr>
                            <td>ASERD2</td>
                            <td class="font-bold">
                                creativemarket.com
                            </td>
                            <td class="text-center">03</td>
                        </tr>
                        <tr>
                            <td>ASERD2</td>
                            <td class="font-bold">
                                templatemonster.com
                            </td>
                            <td class="text-center">03</td>
                        </tr>
                        <tr>
                            <td>ASERD2</td>
                            <td class="font-bold">
                                themequerry.com
                            </td>
                            <td class="text-center">01</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div> -->
</div>

<ng-template #editUserModal let-modal>
  
    <div class="modal-header">
  
      <h5 class="modal-title" id="editUserLabel">Edit Customer</h5>
  
      <button type="button" class="close" (click)="closeBtnClick()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
  
    </div>
  
    <div class="modal-body">
  
        <form [formGroup]="editUser" (ngSubmit)="onSubmit()">
  
            <div class="form-group row">
              <label for="name" class="col-sm-4 col-form-label">First Name<span class="reqNote">*</span></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" formControlName="Name" id="name" (blur)=logValidationErrors(editUser)>
                <span class="help-block" *ngIf="formsErrors.Name">
                  {{formsErrors.Name}}
                </span>
              </div>
            </div>
    
            <div class="form-group row">
              <label for="name" class="col-sm-4 col-form-label">Last Name<span class="reqNote">*</span></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" formControlName="Name" id="name" (blur)=logValidationErrors(editUser)>
                <span class="help-block" *ngIf="formsErrors.Name">
                  {{formsErrors.Name}}
                </span>
              </div>
            </div>
      
      
            <div class="form-group row">
              <label for="position" class="col-sm-4 col-form-label">Email<span class="reqNote">*</span></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" formControlName="Position" id="position"
                  (blur)=logValidationErrors(editUser)>
                <span class="help-block" *ngIf="formsErrors.Position">
                  {{formsErrors.Position}}
                </span>
              </div>
            </div>
      
            <div class="form-group row">
              <label for="email" class="col-sm-4 col-form-label">Password<span class="reqNote">*</span></label>
              <div class="col-sm-8">
                <input type="email" class="form-control" formControlName="Email" id="email"
                  (blur)=logValidationErrors(editUser)>
                <span class="help-block" *ngIf="formsErrors.Email">
                  {{formsErrors.Email}}
                </span>
              </div>
            </div>
      
            <div class="form-group row">
              <label for="mobile" class="col-sm-4 col-form-label">Latitude</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" formControlName="Mobile" id="mobile"
                  (blur)=logValidationErrors(editUser)>
                <span class="help-block" *ngIf="formsErrors.Mobile">
                  {{formsErrors.Mobile}}
                </span>
              </div>
            </div>
    
            <div class="form-group row">
              <label for="mobile" class="col-sm-4 col-form-label">Longitude</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" formControlName="Mobile" id="mobile"
                  (blur)=logValidationErrors(editUser)>
                <span class="help-block" *ngIf="formsErrors.Mobile">
                  {{formsErrors.Mobile}}
                </span>
              </div>
            </div>
    
            <div class="form-group row">
              <label for="mobile" class="col-sm-4 col-form-label">Mobile<span class="reqNote">*</span></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" formControlName="Mobile" id="mobile"
                  (blur)=logValidationErrors(editUser)>
                <span class="help-block" *ngIf="formsErrors.Mobile">
                  {{formsErrors.Mobile}}
                </span>
              </div>
            </div>
    
            <div class="form-group row">
              <label for="mobile" class="col-sm-4 col-form-label">
                Referral Code
              </label>
              <div class="col-sm-8">
                <input type="text" class="form-control" formControlName="Mobile" id="mobile"
                  (blur)=logValidationErrors(editUser)>
                <span class="help-block" *ngIf="formsErrors.Mobile">
                  {{formsErrors.Mobile}}
                </span>
              </div>
            </div>
      
            <div class="form-group row">
              <label for="doj" class="col-sm-4 col-form-label">Date Of Birth</label>
              <div class="col-sm-8">
                <input type="date" class="form-control" formControlName="DateOfJoining" [(ngModel)]="joiningDate" id="doj"
                  (blur)=logValidationErrors(editUser)>
                <span class="help-block" *ngIf="formsErrors.DateOfJoining">
                  {{formsErrors.DateOfJoining}}
                </span>
              </div>
            </div>
      
            <div class="form-group row">
              <label for="salary" class="col-sm-4 col-form-label">Gender<span class="reqNote">*</span></label>
              <div class="col-sm-8">
                <div class="form-check form-check-inline">
                  <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input" id="customControlValidation2" name="radio-stacked">
                      <label class="custom-control-label" for="customControlValidation2">Male</label>
                  </div>
              </div>
              <div class="form-check form-check-inline">
                  <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input" id="customControlValidation3" name="radio-stacked">
                      <label class="custom-control-label" for="customControlValidation3">Female</label>
                  </div>
              </div>
              </div>
            </div>
      
            <div class="form-group row">
              <label for="projects" class="col-sm-4 col-form-label">Profile Image</label>
              <div class="col-sm-8">
                <input type="file" class="form-control" formControlName="Projects" id="projects"
                  (blur)=logValidationErrors(editUser)>
                <span class="help-block" *ngIf="formsErrors.Projects">
                  {{formsErrors.Projects}}
                </span>
              </div>
            </div>
      
      
      
      
      
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="closeBtnClick()">Close</button>
      
              <button type="submit" class="btn btn-primary" [disabled]="editUser.invalid">Save</button>
            </div>
      
            
          </form>
    </div>
  </ng-template>