<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="d-md-flex align-items-center">
                    <div>
                        <h4 class="card-title">Customer Details</h4>
                        <h5 class="card-subtitle">Overview of customer details</h5>
                    </div>
                    <button class="btn  backgroundColor ml-auto" (click)="btnClick()">Edit</button>

                </div>
                <div class="row">
                    <!-- column -->
                    <div class="col-lg-4" style="text-align: center;">
                        <div class="profile-pic m-b-20 m-t-20">
                            <img src="assets/images/users/5.jpg" width="120" class="rounded-circle" alt="user" />
                            <h4 class="m-t-20 m-b-0">Daniel Kristeen</h4>
                            <a href="mailto:danielkristeen@gmail.com">danielkristeen@gmail.com</a><br>
                            <label>Royal Mail
                                Flat 9, Wheatstone House</label><br>
                            <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <div class="badge badge-pill badge-success font-14 infoData" style="margin-left: 2%;">Active</div>

                        </div>
                        
                        <div class="badge badge-pill badge-light font-14 infoData">020 7946 0581</div>
                        <div class="badge badge-pill badge-light font-14 infoData">Male</div>
                        <div class="badge badge-pill badge-light font-14 infoData">30/12/1993</div>
                        <hr>
                        <div class="badge badge-pill badge-info font-14 infoData" >Referral : 23423</div>
                        <div class="badge badge-pill badge-warning font-14 infoData">Reg. Date : 12/12/2020</div>
                        <hr>
                        <div class="row text-center ">
                            <div class="col-4">
                                <h3 class="font-bold text-info">5</h3>
                                <h6 class="text-info">Total Ticket</h6>
                            </div>
                            <div class="col-4">
                                <h3 class="font-bold text-success">2</h3>
                                <h6 class="text-success">Answered</h6>
                            </div>
                            <div class="col-4">
                                <h3 class="font-bold text-danger">3</h3>
                                <h6 class="text-danger">Resolved</h6>
                            </div>
                        </div>
                        <!-- <div class="badge badge-pill badge-info font-14" data-toggle="tooltip" data-placement="top" title="3 more">+3</div> -->
                    </div>
                    <!-- column -->
                    <div class="col-lg-8">
                        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false" #map4>
                            <agm-marker [latitude]="lat" [longitude]="lng"  [iconUrl]="{ url: 'img1', scaledSize: [10,10], origin: [0,0], anchoriconAnchor: [7,7] }">
                                <agm-info-window><a [routerLink]="['/customer/view']"><img src="assets/images/users/5.jpg" width="20" class="rounded-circle" alt="user" />Simth Wood</a> </agm-info-window>
                                </agm-marker>

                            <!-- <agm-marker [latitude]="latA" [longitude]="lngA">
                                <agm-info-window><img src="assets/images/users/5.jpg" width="20" class="rounded-circle" alt="user" /></agm-info-window>
                            </agm-marker> -->
                        </agm-map>
                    </div>
                    <!-- column -->
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- Info Box -->
            <!-- ============================================================== -->
            <div class="card-body border-top">
                <div class="row m-b-0">
                    <!-- col -->
                    <div class="col-lg-2 col-md-6">
                        <div class="d-flex align-items-center">
                            <div class="m-r-10">
                                <span class="text-orange display-5">
                                    <i class="mdi mdi-star-circle "></i>
                                </span>
                            </div>
                            <div>
                                <span>Sales Amount</span>
                                <h3 class="font-medium m-b-0">£3,567</h3>
                            </div>
                        </div>
                    </div>
                    <!-- col -->
                    <!-- col -->
                    <div class="col-lg-2 col-md-6">
                        <div class="d-flex align-items-center">
                            <div class="m-r-10">
                                <span class="text-cyan display-5">
                                    <i class="mdi mdi-wallet"></i>
                                </span>
                            </div>
                            <div>
                                <span>Balance</span>
                                <h3 class="font-medium m-b-0">£769.08</h3>
                            </div>
                        </div>
                    </div>
                    <!-- col -->
                    <!-- col -->
                    <div class="col-lg-2 col-md-6">
                        <div class="d-flex align-items-center">
                            <div class="m-r-10">
                                <span class="text-info display-5">
                                    <i class="mdi mdi-shopping"></i>
                                </span>
                            </div>
                            <div>
                                <span>Booked Session</span>
                                <h3 class="font-medium m-b-0">45</h3>
                            </div>
                        </div>
                    </div>
                    <!-- col -->
                    <!-- col -->
                    
                    <div class="col-lg-2 col-md-6">
                        <div class="d-flex align-items-center">
                            <div class="m-r-10">
                                <span class="text-primary display-5">
                                    <i class="mdi mdi-basket"></i>
                                </span>
                            </div>
                            <div>
                                <span>Total Services</span>
                                <h3 class="font-medium m-b-0">10</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="d-flex align-items-center">
                            <div class="m-r-10">
                                <span class="text-danger display-5">
                                    <i class="mdi mdi-block-helper"></i>
                                </span>
                            </div>
                            <div>
                                <span>Total Dispute</span>
                                <h3 class="font-medium m-b-0">23</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="d-flex align-items-center">
                            <div class="m-r-10">
                                <span class="text-primary display-5">
                                    <i class="mdi mdi-currency-gbp"></i>
                                </span>
                            </div>
                            <div>
                                <span>Total Paid</span>
                                <h3 class="font-medium m-b-0">£23,568</h3>
                            </div>
                        </div>
                    </div>
                    <!-- col -->
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12"> 
        <div class="card " >
            <div class="card-body">
                <h4 class="card-title">All Details of Customer</h4>
                <ul ngbNav #nav="ngbNav" [(activeId)]="active" style="margin-left: -1%;">
                    <li [ngbNavItem]="1">
                        <a ngbNavLink >Job History</a>
                        <ng-template ngbNavContent>
                            <app-job-history></app-job-history>
                        </ng-template>
                    </li>
                  
                    <li [ngbNavItem]="2">
                        <a ngbNavLink>Ticket History</a>
                        <ng-template ngbNavContent>
                          <app-ticket-history></app-ticket-history>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="3">
                        <a ngbNavLink="/provider-list">Payment History</a>
                        <ng-template ngbNavContent>
                            <app-payment-history></app-payment-history>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="4">
                        <a ngbNavLink>Review & Rating</a>
                        <ng-template ngbNavContent>
                           <app-reviews></app-reviews>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="5">
                        <a ngbNavLink>Latest Activity</a>
                        <ng-template ngbNavContent>
                           <app-activity></app-activity>
                        </ng-template>
                    </li>
                    
                </ul>

                <div [ngbNavOutlet]="nav" class="mt-2"></div>
            </div>
        </div>
    </div>
</div>

