<div class="row">
  <div class="col-12">
    <div class="card card-body">

      <div class="table-responsive ">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table">
          <thead style="background: #92adfc;">
            <tr>
              <th scope="col" class="backgroundColor tdLeft">ID</th>
              <th scope="col" class="backgroundColor tdLeft">NAME</th>
              <th scope="col" class="backgroundColor tdLeft">TYPE</th>
              <th scope="col" class="backgroundColor tdLeft">REJECT REASON</th>
              <th scope="col" class="backgroundColor">VERIFIED</th>
              <th scope="col" class="backgroundColor">STATUS</th>
              <th scope="col" class="backgroundColor tdCenter">ACTION</th>


              <!-- <th scope="col">Action</th> -->
            </tr>
          </thead>
          <tbody>
  
            <tr *ngFor="let item of documentList; let i = index">
              <td class="tdLeft">{{i+1}}</td>
              <td class="tdLeft">{{item.name}}</td>
              <td class="tdLeft">{{item.type}}</td>
              <td class="tdLeft">{{item.rejectedReason == null ? '-' : item.rejectedReason}}</td> 
              <!-- <td></td> -->
              <td>
                <i *ngIf="item.is_verified == false && item.isReject == false">-</i>
                <i *ngIf="item.is_verified == false && item.isReject == true" class="ti-close red"></i>
                <i *ngIf="item.is_verified == true && item.isReject == false" class="fas fa-check green"></i>
              </td>
              <td>
                <label class="label label-warning" *ngIf="item.is_verified == false && item.isReject == false">Pending</label>
                <label class="label label-dark" *ngIf="item.is_verified == false && item.isReject == true">Decline</label>
                <label class="label label-success" *ngIf="item.is_verified == true">Approved</label>
              </td>
              <td class="tdCenter">
                <i class="ti-check-box" (click)="documentVerification(item.id, true)" *ngIf="item.is_verified == false"></i>&nbsp;
                <i class="ti-check-box" (click)="documentVerification(item.id, false)" *ngIf="item.is_verified == true" style="color : green"></i>&nbsp;
                <a href="{{item.path}}" download class="text-inverse" title="download" data-toggle="tooltip">
                  <i class="ti-cloud-down"></i>
                </a>&nbsp;
                <i class="ti-na" *ngIf="!item.is_verified" (click)="documentRejectDialogOpen(item.id)"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<ng-template #editUserModal let-modal>

  <div class="modal-header">

    <h5 class="modal-title" id="editUserLabel">Add Provider</h5>

    <button type="button" class="close" (click)="closeBtnClick()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>

  </div>

  <div class="modal-body">

    <form [formGroup]="editUser" (ngSubmit)="onSubmit()">

      <div class="form-group row">
        <label for="name" class="col-sm-4 col-form-label">First Name</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" formControlName="Name" id="name" (blur)=logValidationErrors(editUser)>
          <span class="help-block" *ngIf="formsErrors.Name">
            {{formsErrors.Name}}
          </span>
        </div>
      </div>
      <div class="form-group row">
        <label for="name" class="col-sm-4 col-form-label">Last Name</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" formControlName="Name" id="name" (blur)=logValidationErrors(editUser)>
          <span class="help-block" *ngIf="formsErrors.Name">
            {{formsErrors.Name}}
          </span>
        </div>
      </div>


      <div class="form-group row">
        <label for="position" class="col-sm-4 col-form-label">Email</label>
        <div class="col-sm-8">
          <input type="email" class="form-control" formControlName="Position" id="position"
            (blur)=logValidationErrors(editUser)>
          <span class="help-block" *ngIf="formsErrors.Position">
            {{formsErrors.Position}}
          </span>
        </div>
      </div>

      <div class="form-group row">
        <label for="Password" class="col-sm-4 col-form-label">Password</label>
        <div class="col-sm-8">
          <input type="email" class="form-control" formControlName="Email" id="email"
            (blur)=logValidationErrors(editUser)>
          <span class="help-block" *ngIf="formsErrors.Email">
            {{formsErrors.Email}}
          </span>
        </div>
      </div>

      <div class="form-group row">
        <label for="mobile" class="col-sm-4 col-form-label">Mobile</label>
        <div class="col-sm-8">
          <input type="tel" class="form-control" formControlName="Mobile" id="mobile"
            (blur)=logValidationErrors(editUser)>
          <span class="help-block" *ngIf="formsErrors.Mobile">
            {{formsErrors.Mobile}}
          </span>
        </div>
      </div>


      <div class="form-group row">
        <label for="projects" class="col-sm-4 col-form-label">Date of Birth</label>
        <div class="col-sm-8">
          <input type="Date" class="form-control" formControlName="Projects" id="projects"
            (blur)=logValidationErrors(editUser)>
          <span class="help-block" *ngIf="formsErrors.Projects">
            {{formsErrors.Projects}}
          </span>
        </div>
      </div>





      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeBtnClick()">Close</button>

        <button type="submit" class="btn btn-primary" [disabled]="editUser.invalid">Save</button>
      </div>


    </form>
  </div>
</ng-template>