
<a [ngClass]="(showSidebar)?'ti-close':'ti-menu'" class="btn btn-success show-left-part d-block d-md-none"
href="javascript:void(0)" (click)="mobileSidebar()"></a>
<div class="main-part">
    <div class="right-part">
        <div class="card mb-0">
            <ul ngbNav #nav="ngbNav" [(activeId)]="active">
                <li [ngbNavItem]="i+1" *ngFor="let item of ProviderTicketsID; let i =index">
                    <a ngbNavLink (click)="getChatDetails(item.id)">{{item.code}}</a>
                </li>
            </ul>

            <div class="card-body py-0 pr-0">
                <div class="chat-box p-r-15" #scrollMe [scrollTop]="scrollMe.scrollHeight"
                    style="height:calc(100vh - 350px); overflow-y: auto;">
                    <!--chat Row -->
                    <ul class="chat-list">
                        <div *ngFor="let data of chatFinalData">
                        <li class="chat-item" *ngIf="data.userid != userID">
                            <div class="chat-img">
                                <img  src="assets/images/logo-header.png" alt="avatar" style="border-radius: 10% !important;"/>
                            </div>

                            <div class="chat-content" >
                                <div class="box bg-light-info" style="background: #dadbdc;">
                                    {{ data.message }}
                                </div>
                            </div>
                            <div class="chat-time text-lowercase" >{{data.datecreated | date: 'hh.mm a'}}</div>
                        </li>
                        <li class="chat-item odd type-msg" *ngIf="data.userid == userID">
                            <div class="chat-img" data-toggle="tooltip" data-placement="right" title="" data-original-title="">
                                <img src="assets/images/users/8.jpg" alt="user-images" />
                            </div>
                            <div class="chat-messages">
                                <div class="chat-content">
                                    <div class="box bg-light-info">{{ data.message}}</div>
                                </div>
                            </div>
                            <div class="chat-time">{{ data.datecreated | date: 'hh.mm a' }}</div>
                        </li>
                    </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
