<!--============= Banner Section Starts Here =============-->

<div class="container-fluid1">
  <img src="../../../../assets/images/banner/banner-1.jpg" alt="Snow" style="width:100%;margin-top:-3%;height: 300px;">
  <div class="type1">How Can We Help You?</div>
  <div class="type2">Have questions? Search through our Help Center</div>
  <div class="type3">
    <div class="search-form">
      <div>
        <input type="text" class="textData form-control" placeholder="Start typing your search..."></div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row" style="margin-top: -25px;">
    <div class="col-md-4">
      <div class="card card-hover card-body">
       <div class="row">
         <div class="col-md-12 text-center">
            <img src="../../../../assets/images/knowledge/know2.png" style="width: 30%;">
            <h3><a [routerLink]="['/mobile-apps/knowledge-list']">How to use Toto</a></h3>
            <h5>Helpful information on how to use deskoto.</h5>
         </div>
       </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-hover card-body">
       <div class="row">
         <div class="col-md-12 text-center">
          <img src="../../../../assets/images/how/how2.png" style="width: 33%;">
          <h3><a [routerLink]="['/mobile-apps/knowledge-list']">Community Forums</a></h3>
          <h5>Ask questions and share your ideas!.</h5>
         </div>
       </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-hover card-body">
       <div class="row">
         <div class="col-md-12 text-center">
          <img src="../../../../assets/images/how/how3.png" style="width: 42%;">
          <h3><a [routerLink]="['/mobile-apps/knowledge-list']">Ticket System</a></h3>
          <h5>Built to help you solve issues faster.</h5>
         </div>
       </div>
      </div>
    </div>
  </div>
  <div class="row" >
    <div class="col-md-4">
      <div class="card card-hover card-body">
        <div class="row">
          <div class="col-md-12 text-center">
           <img src="../../../../assets/images/bill/bill4.png" style="width: 30%;">
           <h3><a [routerLink]="['/mobile-apps/knowledge-list']">FAQ</a></h3>
           <h5>Frequently asked questions list</h5>
          </div>
        </div>
       </div>
    </div>
    <div class="col-md-4">
      <div class="card card-hover card-body">
        <div class="row">
          <div class="col-md-12 text-center">
           <img src="../../../../assets/images/bill/bill1.png" style="width: 30%;">
           <h3><a [routerLink]="['/mobile-apps/knowledge-list']">Billing and Payments</a></h3>
           <h5>How to withdraw your money</h5>
          </div>
        </div>
       </div>
    </div>
    <div class="col-md-4">
      <div class="card card-hover card-body">
        <div class="row">
          <div class="col-md-12 text-center">
           <img src="../../../../assets/images/bill/bill3.png" style="width: 30%;">
           <h3><a [routerLink]="['/mobile-apps/knowledge-list']">Features</a></h3>
           <h5>Lorem ipsum dolor sit amet. </h5>
          </div>
        </div>
       </div>
    </div>
  </div>
</div>
