<div class="row">
    <div class="col-md-12">
        <div>
           
            <div class="comment-widgets">
                <!-- Comment Row -->
                <div class="d-flex flex-row comment-row m-t-0" *ngFor="let item of reviewList">
                    <div class="p-2">
                        <img src="{{baseUrl}}{{item.profile_pic}}" alt="user" width="50" class="rounded-circle">
                    </div>
                    <div class="comment-text w-100" >
                        <h6 class="font-medium">{{item.first_name}} {{item.last_name}}</h6>
                        <!-- <span class="m-b-15 d-block">jamesaderson@gmail.com</span> -->
                        <div class="comment-footer">
                            <span class="text-muted float-right">{{item.created_at | date : 'short'}}</span>
                            <span class="label label-rounded label-primary">
                            <span class="fa fa-star {{1 <= item.rate? 'checked' : ''}}"></span>
                            <span class="fa fa-star {{2 <= item.rate? 'checked' : ''}}"></span>
                            <span class="fa fa-star {{3 <= item.rate? 'checked' : ''}}"></span>
                            <span class="fa fa-star {{4 <= item.rate? 'checked' : ''}}"></span>
                            <span class="fa fa-star {{5 <= item.rate? 'checked' : ''}}"></span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>