/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800');
.backgroundColor {
    background-color: #2962ff;
    color :white;
  }
  .dataTables_filter input {
    border: 1px solid #0d0d0d !important;
  }