/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800');
.backgroundColor {
    background-color: #2962ff;
    color :white;
  }

  
  .dataTables_filter input {
    border: 1px solid #0d0d0d !important;
    border-radius: 15px !important;
  }
  .dataTables_wrapper .dataTables_length select{
    border: 1px solid #0d0d0d !important;
  }

  .reqNote{
    color : red;
    font-size:  14px;
  }

  .form-control {
    border: 1px solid #414141 !important;
  }

  .checked {
    color: orange;
  }

  .infoData {
    margin-right: 3px;  
  }

  .scroll-sidebar {
    height: calc(100% - 20px);
    position: relative;
  }

  .ps {
    overflow: hidden !important;
    overflow-anchor: none;
    -ms-overflow-style: none;
    touch-action: auto;
    -ms-touch-action: auto;
  }

  .table td {
    padding: 10px !important;
  }

  .box {
    box-shadow: 0 13px 21px -13px black;
  }
  