<br>
<div class="table-responsive">
    <table class="table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
        <thead>
            <tr class="bg-light">
                <th class="border-top-0 backgroundColor tdLeft">JOB ID</th>
                <th class="border-top-0 backgroundColor tdLeft">SERVICE</th>
                <th class="border-top-0 backgroundColor tdLeft">PROVIDER</th>
                <th class="border-top-0 backgroundColor tdCenter ">TYPE</th>
             
                <th class="border-top-0 backgroundColor tdCenter">STATUS</th>
                <th class="border-top-0 backgroundColor tdCenter">ACTION</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of jobList">
                <td class="tdLeft" ><a [routerLink]="['/jobs/jobview']">{{item.id}}</a></td>
                <td class="tdLeft">
                    <div class="d-flex align-items-center">
                        <div class="">
                            <h4 class="m-b-0 font-16">{{item.service.name}}</h4>
                        </div>
                    </div>
                </td>
                <td class="tdLeft"><div class="d-flex">
                    <img class="rounded-circle" src='assets/images/users/1.jpg' height=" 25px" width="25px">
                    <div class="ml-3">
                      <p class="font-medium mb-0"><a [routerLink]="['/provider/provider-view/1']">{{(item.provider != null)? item.provider.first_name: '-'}}</a></p>
                    </div>
                  </div></td>
                <td class="tdCenter"><label class="label label-{{(item.title == 'On-site')? 'success' : 'dark'}}">{{item.title}}</label></td>                          
              
                <td class="tdCenter"><label class="label label-dark">{{item.status}}</label></td>
                <td class="tdCenter"><a [routerLink]="['/jobs/jobview']" class="text-inverse p-r-10" data-toggle="tooltip" title="View">
                    <i class="ti-eye"></i></a>
                 </td>
                
            </tr>
        </tbody>
    </table>
</div>