<br>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr class="bg-light">
                <th class="border-top-0 backgroundColor tdLeft">JOBID</th>
                <th class="border-top-0 backgroundColor tdLeft">SERVICE</th>
                <th class="border-top-0 backgroundColor tdCenter ">TYPE</th>
                <th class="border-top-0 backgroundColor tdLeft">PROVIDER</th>
                <th class="border-top-0 backgroundColor tdCenter">STATUS</th>
                <th class="border-top-0 backgroundColor tdCenter">ACTION</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="tdLeft" ><a [routerLink]="['/jobs/jobview']">101</a></td>
                <td class="tdLeft">
                    <div class="d-flex align-items-center">
                        <div class="">
                            <h4 class="m-b-0 font-16">New network setup</h4>
                        </div>
                    </div>
                </td>
                <td class="tdCenter"><label class="label label-dark">Remote</label></td>                          
                <td class="tdLeft"><div class="d-flex">
                    <img class="rounded-circle" src='assets/images/users/1.jpg' height=" 25px" width="25px">
                    <div class="ml-3">
                      <p class="font-medium mb-0"><a [routerLink]="['/provider/provider-view']">Johan Smith</a></p>
                    </div>
                  </div></td>
                <td class="tdCenter"><label class="label label-success">Done</label></td>
                <td class="tdCenter"><a [routerLink]="['/jobs/jobview']" class="text-inverse p-r-10" data-toggle="tooltip" title="View">
                    <i class="fas fa-eye "></i></a>
                 </td>
                
            </tr>
            <tr>
                <td class="tdLeft" ><a [routerLink]="['/jobs/jobview']">102</a></td>
                <td class="tdLeft">
                    <div class="d-flex align-items-center">
                        <div class="">
                            <h4 class="m-b-0 font-16">Poor network</h4>
                        </div>
                    </div>
                </td>
               <td class="tdCenter"><label class="label label-dark">Remote</label></td>     
               <td class="tdLeft"><div class="d-flex">
                <img class="rounded-circle" src='assets/images/users/1.jpg' height=" 25px" width="25px">
                <div class="ml-3">
                  <p class="font-medium mb-0"><a [routerLink]="['/provider/provider-view']">Johan Mark</a></p>
                </div>
              </div></td>
                <td class="tdCenter"><label class="label label-warning">Draft</label></td>
                <td class="tdCenter"><a [routerLink]="['/jobs/jobview']" class="text-inverse p-r-10" data-toggle="tooltip" title="View">
                    <i class="fas fa-eye "></i></a>
                 </td>
                
            </tr>
            <tr>
                <td class="tdLeft" ><a [routerLink]="['/jobs/jobview']">103</a></td>
                <td class="tdLeft">
                    <div class="d-flex align-items-center">
                        <div class="">
                            <h4 class="m-b-0 font-16">Connectivity</h4>
                        </div>
                    </div>
                </td>
                <td class="tdCenter"><label class="label label-success">On-site</label></td>                           
                <td class="tdLeft"><div class="d-flex">
                    <img class="rounded-circle" src='assets/images/users/1.jpg' height=" 25px" width="25px">
                    <div class="ml-3">
                      <p class="font-medium mb-0"><a [routerLink]="['/provider/provider-view']">Ronald King</a></p>
                    </div>
                  </div></td>
                <td class="tdCenter"><label class="label label-success">Done</label></td>
                <td class="tdCenter"><a [routerLink]="['/jobs/jobview']" class="text-inverse p-r-10" data-toggle="tooltip" title="View">
                    <i class="fas fa-eye "></i></a>
                 </td>
                
            </tr>
            <tr>
                <td class="tdLeft" ><a [routerLink]="['/jobs/jobview']">104</a></td>
                <td class="tdLeft">
                    <div class="d-flex align-items-center">
                        <div class="">
                            <h4 class="m-b-0 font-16">Ac</h4>
                        </div>
                    </div>
                </td>
                <td class="tdCenter"><label class="label label-success">On-site</label></td>  
                <td class="tdLeft"><div class="d-flex">
                    <img class="rounded-circle" src='assets/images/users/1.jpg' height=" 25px" width="25px">
                    <div class="ml-3">
                      <p class="font-medium mb-0"><a [routerLink]="['/provider/provider-view']">Harry King</a></p>
                    </div>
                  </div></td>
                <td class="tdCenter"><label class="label label-success">Done</label></td>
                <td class="tdCenter"><a [routerLink]="['/jobs/jobview']" class="text-inverse p-r-10" data-toggle="tooltip" title="View">
                    <i class="fas fa-eye "></i></a>
                 </td>
                
            </tr>
            <tr>
                <td class="tdLeft" ><a [routerLink]="['/jobs/jobview']">105</a></td>
                <td class="tdLeft">
                    <div class="d-flex align-items-center">
                        <div class="">
                            <h4 class="m-b-0 font-16">New network conncection</h4>
                        </div>
                    </div>
                </td>
                <td class="tdCenter"><label class="label label-success">On-site</label></td>  
                <td class="tdLeft"><div class="d-flex">
                    <img class="rounded-circle" src='assets/images/users/1.jpg' height=" 25px" width="25px">
                    <div class="ml-3">
                      <p class="font-medium mb-0"><a [routerLink]="['/provider/provider-view']">Jack Thomas</a></p>
                    </div>
                  </div></td>
                <td class="tdCenter"><label class="label label-danger">Cancel</label></td>
                <td class="tdCenter"><a [routerLink]="['/jobs/jobview']" class="text-inverse p-r-10" data-toggle="tooltip" title="View">
                    <i class="fas fa-eye "></i></a>
                 </td>
                
            </tr>
            <tr>
                <td class="tdLeft" ><a [routerLink]="['/jobs/jobview']">106</a></td>
                <td class="tdLeft">
                    <div class="d-flex align-items-center">
                        <div class="">
                            <h4 class="m-b-0 font-16">New network setup</h4>
                        </div>
                    </div>
                </td>
                <td class="tdCenter"><label class="label label-dark">Remote</label></td>  
                <td class="tdLeft"><div class="d-flex">
                    <img class="rounded-circle" src='assets/images/users/1.jpg' height=" 25px" width="25px">
                    <div class="ml-3">
                      <p class="font-medium mb-0"><a [routerLink]="['/provider/provider-view']">Jenny Wood</a></p>
                    </div>
                  </div></td>
                <td class="tdCenter"><label class="label label-success">Done</label></td>
                <td class="tdCenter"><a [routerLink]="['/jobs/jobview']" class="text-inverse p-r-10" data-toggle="tooltip" title="View">
                    <i class="fas fa-eye "></i></a>
                 </td>
                
            </tr>
        </tbody>
    </table>
</div>