<br>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr class="bg-light">
                <th class="border-top-0 backgroundColor tdLeft">JOBID</th>
                <th class="border-top-0 backgroundColor tdLeft">SERVICE</th>
                <th class="border-top-0 backgroundColor tdCenter ">TYPE</th>
                <th class="border-top-0 backgroundColor tdLeft">PROVIDER</th>
                <th class="border-top-0 backgroundColor tdCenter">STATUS</th>
                <th class="border-top-0 backgroundColor tdCenter">ACTION</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="tdLeft">1</td>
                <td class="tdLeft">
                    <div class="d-flex align-items-center">
                        <div class="">
                            <h4 class="m-b-0 font-16">New network setup</h4>
                        </div>
                    </div>
                </td>
                <td class="tdCenter"><label class="label label-dark">Remote</label></td>                          
                <td class="tdLeft">Jenny</td>
                <td class="tdCenter"><label class="label label-success">Done</label></td>
                <td class="tdCenter"><a [routerLink]="['/jobs/jobview']" class="text-inverse p-r-10" data-toggle="tooltip" title="View">
                    <i class="fas fa-eye "></i></a>
                 </td>
                
            </tr>
            <tr>
                <td class="tdLeft">2</td>
                <td class="tdLeft">
                    <div class="d-flex align-items-center">
                        <div class="">
                            <h4 class="m-b-0 font-16">Poor network</h4>
                        </div>
                    </div>
                </td>
               <td class="tdCenter"><label class="label label-dark">Remote</label></td>     
                <td class="tdLeft">Jenny</td>
                <td class="tdCenter"><label class="label label-warning">Draft</label></td>
                <td class="tdCenter"><a [routerLink]="['/jobs/jobview']" class="text-inverse p-r-10" data-toggle="tooltip" title="View">
                    <i class="fas fa-eye "></i></a>
                 </td>
                
            </tr>
            <tr>
                <td class="tdLeft">3</td>
                <td class="tdLeft">
                    <div class="d-flex align-items-center">
                        <div class="">
                            <h4 class="m-b-0 font-16">Connectivity</h4>
                        </div>
                    </div>
                </td>
                <td class="tdCenter"><label class="label label-success">On-site</label></td>                           
                <td class="tdLeft">Ram Shekhar Jadhav</td>
                <td class="tdCenter"><label class="label label-success">Done</label></td>
                <td class="tdCenter"><a [routerLink]="['/jobs/jobview']" class="text-inverse p-r-10" data-toggle="tooltip" title="View">
                    <i class="fas fa-eye "></i></a>
                 </td>
                
            </tr>
            <tr>
                <td class="tdLeft">3</td>
                <td class="tdLeft">
                    <div class="d-flex align-items-center">
                        <div class="">
                            <h4 class="m-b-0 font-16">Ac</h4>
                        </div>
                    </div>
                </td>
                <td class="tdCenter"><label class="label label-success">On-site</label></td>  
                <td class="tdLeft">Tom</td>
                <td class="tdCenter"><label class="label label-success">Done</label></td>
                <td class="tdCenter"><a [routerLink]="['/jobs/jobview']" class="text-inverse p-r-10" data-toggle="tooltip" title="View">
                    <i class="fas fa-eye "></i></a>
                 </td>
                
            </tr>
            <tr>
                <td class="tdLeft">4</td>
                <td class="tdLeft">
                    <div class="d-flex align-items-center">
                        <div class="">
                            <h4 class="m-b-0 font-16">New network conncection</h4>
                        </div>
                    </div>
                </td>
                <td class="tdCenter"><label class="label label-success">On-site</label></td>  
                <td class="tdLeft">Jenny</td>
                <td class="tdCenter"><label class="label label-danger">Cancel</label></td>
                <td class="tdCenter"><a [routerLink]="['/jobs/jobview']" class="text-inverse p-r-10" data-toggle="tooltip" title="View">
                    <i class="fas fa-eye "></i></a>
                 </td>
                
            </tr>
            <tr>
                <td class="tdLeft">5</td>
                <td class="tdLeft">
                    <div class="d-flex align-items-center">
                        <div class="">
                            <h4 class="m-b-0 font-16">New network setup</h4>
                        </div>
                    </div>
                </td>
                <td class="tdCenter"><label class="label label-dark">Remote</label></td>  
                
                <td class="tdLeft">Jenny</td>
                <td class="tdCenter"><label class="label label-success">Done</label></td>
                <td class="tdCenter"><a [routerLink]="['/jobs/jobview']" class="text-inverse p-r-10" data-toggle="tooltip" title="View">
                    <i class="fas fa-eye "></i></a>
                 </td>
                
            </tr>
        </tbody>
    </table>
</div>