<div class="row">
    <div class="col-lg-12">
        <div class="card">
             <div class="card-header bg-info">
                <h4 style="padding-bottom: 10px;" class="m-b-0 text-white">Assessment</h4>
            </div>
            <form  action="#">
                
                
                <div class="form-body">
                    <div class="card-body">
                        <div class="row p-t-20">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Name<span class="reqNote">*</span></label>
                                    <input type="text" name="name" formControlName="name" class="form-control" placeholder="enter exam name">
                                    <!-- <small class="form-control-feedback"> This is inline help </small> -->
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group has-danger">
                                    <label class="control-label">Passing Rank<span class="reqNote">*</span></label>
                                    <input type="number" name="passing_rank" formControlName="passing_rank" class="form-control form-control-danger" placeholder="enter passing rank">
                                    <!-- <small class="form-control-feedback"> This field has error. </small> -->
                                </div>
                                
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group has-danger">
                                    <label class="control-label">Duration<span class="reqNote">*</span></label>
                                    <input type="number" name="duration" formControlName="duration" class="form-control form-control-danger" placeholder="enter duration">
                                    <!-- <small class="form-control-feedback"> This field has error. </small> -->
                                </div>
                               
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group has-success">
                                    <label class="control-label">Duration Type<span class="reqNote">*</span></label>
                                    <select class="form-control custom-select"name="duration_type" formControlName="duration_type">
                                        <option value="">Hour</option>
                                        <option value="">Minute</option>
                                    </select>
                                    <!-- <small class="form-control-feedback">  </small> -->
                                </div> 
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Services<span class="reqNote">*</span></label>
                                    <select class="form-control custom-select"name="service_id" formControlName="service_id" placeholder="Choose a Service" tabindex="1">
                                        <option value="Category 1">AC Service</option>
                                        <option value="Category 2">Voice Modulation</option>
                                        <option value="Category 3">Poor Wifi Coverage</option>
                                        <option value="Category 4">New Network Setup</option>
                                    </select>
                                </div>
                            </div>
                            <!--/span-->
                            <!-- <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Membership</label>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio11" name="customRadio" class="custom-control-input">
                                        <label class="custom-control-label" for="customRadio11">Free</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio22" name="customRadio" class="custom-control-input">
                                        <label class="custom-control-label" for="customRadio22">Paid</label>
                                    </div>
                                </div>
                            </div> -->
                            <!--/span-->
                        </div>
                        <!--/row-->
                     
                        <h4 class="card-title m-t-30">Add Assessment for Service</h4>
                        <button type="button"  class="btn btn-dark" (click)="addQue();" >Add Question</button>
                    </div>
                    <hr>
                  
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <label>Question 1<span class="reqNote">*</span></label>
                                    <input type="text"  class="form-control">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" >Answer<span class="reqNote">*</span></label>
                                    <!-- Default inline 1--><br>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="defaultInline1" name="inlineDefaultRadiosExample">
                                    <label class="custom-control-label" for="defaultInline1">A</label>
                                </div>
                                
                                <!-- Default inline 2-->
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="defaultInline2" name="inlineDefaultRadiosExample">
                                    <label class="custom-control-label" for="defaultInline2">B</label>
                                </div>
                                
                                <!-- Default inline 3-->
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="defaultInline3" name="inlineDefaultRadiosExample">
                                    <label class="custom-control-label" for="defaultInline3">C</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="defaultInline3" name="inlineDefaultRadiosExample">
                                    <label class="custom-control-label" for="defaultInline3">D</label>
                                </div>
                             </div>
                        </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Option A</label>
                                    <input type="text"name="option_a" class="form-control">
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Option B</label>
                                    <input type="text"name="option_b" class="form-control">
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Option C</label>
                                    <input type="text" name="option_c" class="form-control">
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Option D</label>
                                    <input type="text" name="option_d" class="form-control">
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                    </div>
                    <div [innerHTML]="divMessages"></div>
                    <div class="form-actions">
                        <div class="card-body">
                            <button type="button"  class="btn btn-success"(click)="closeBtnClick();"> Save </button>
                                <!-- <i class="fa fa-check"> -->&nbsp; 
                            <button type="button" class="btn btn-dark"  (click)="closeBtnClick();">Cancel</button>
                        </div>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
</div>