<div class="row">
    <div class="col-lg-4" style="text-align: center;" >
        <div class="card card-hover" style="    border: 1px solid #000000a1 !important;">
          <div class="card-header backgroundColor">
            Profile Details
          </div>
          <div class="card-body">
              <div class="profile-pic m-b-20 m-t-20">
                <img src="assets/images/users/4.jpg" width="120" class="rounded-circle" alt="user" />
                <h4 class="m-t-20 m-b-0">Amelia Mark</h4>
                <a href="mailto:danielkristeen@gmail.com">amelia30mark@gmail.com</a><br>
                <label>71 Pilgrim Avenue Chevy Chase, MD 20815</label><br>
                <!-- <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span> -->
            </div>
            
            <div class="badge badge-pill badge-light font-14 infoData">+919098765467</div>
            <div class="badge badge-pill badge-light font-14 infoData">Female</div>
            <div class="badge badge-pill badge-light font-14 infoData">30/12/1993</div>
            <hr>
            <!-- <div class="badge badge-pill badge-info font-14 infoData" >Referral : 23423</div> -->
            <div class="badge badge-pill badge-warning font-14 infoData">Role:Super Admin</div>
            <div class="badge badge-pill badge-success font-14 infoData">Active</div>
          </div>
        </div>
    </div>
</div>