<div class="row">
    <div class="col-12">
      <div class="card card-body">
        <h4 class="card-title">Unhappy With Provider</h4>
        <h5 class="card-subtitle"></h5>
        <div class="row"></div>
        <div class="">
          <div class="row">
            <div class="col-md-12">
              <!-- <div class="card card-hover">
                <div class="card-body"> -->
                  <div class="table-responsive">
                    <table datatable [dtOptions]="dtOptions" class="row-border hover table ">
                      <thead style="background: #92adfc;">
                        <tr>
                          <th class="backgroundColor tdLeft">UNHAPPY REASON</th>
                          <th class="backgroundColor tdLeft">CUSTOMER</th>
                          <th class="backgroundColor tdLeft">PROVIDER</th>
                          <th class="backgroundColor">ACTION</th>
                        </tr> 
                      </thead>
                      <tbody>
                        <tr>
                          <td class="tdLeft">Provider is not good</td>
                          <td class="tdLeft"><div class="d-flex align-items-center">
                            <img class="rounded-circle" src='assets/images/users/5.jpg' height=" 30px" width="30px">
                            <div class="ml-3">
                              <p class="font-medium mb-0"><a [routerLink]="['/customer/view/1']">Harry Wood</a></p>
                            </div>
                          </div></td>
                          <td class="tdLeft"><div class="d-flex align-items-center">
                              <img class="rounded-circle" src='assets/images/users/3.jpg' height=" 30px" width="30px">
                              <div class="ml-3">
                                <p class="font-medium mb-0"><a [routerLink]="['/provider/provider-view']">Sushant Patil</a></p>
                              </div>
                            </div></td>
                          
                          <td><a [routerLink]="['/jobs/jobview']">View</a> | Dispute | Resolve</td>
                        </tr>
                        <tr>
                          <td class="tdLeft">This provider doesn't treat the customer well</td>
                          <td class="tdLeft"><div class="d-flex align-items-center">
                            <img class="rounded-circle" src='assets/images/users/3.jpg' height=" 30px" width="30px">
                            <div class="ml-3">
                              <p class="font-medium mb-0"><a [routerLink]="['/customer/view/1']">Sam Wash</a></p>
                            </div>
                          </div></td>
                          <td class="tdLeft"><div class="d-flex align-items-center">
                              <img class="rounded-circle" src='assets/images/users/4.jpg' height=" 30px" width="30px">
                              <div class="ml-3">
                                <p class="font-medium mb-0"><a [routerLink]="['/provider/provider-view']">Jack King</a></p>
                              </div>
                            </div></td>
                        
                          <td><a [routerLink]="['/jobs/jobview']">View</a> | Dispute | Resolve</td>
            
                        </tr>
                        <tr>
                          <td class="tdLeft">Provider not providing good service</td>
                          <td class="tdLeft"><div class="d-flex align-items-center">
                            <img class="rounded-circle" src='assets/images/users/2.jpg' height=" 30px" width="30px">
                            <div class="ml-3">
                              <p class="font-medium mb-0"><a [routerLink]="['/customer/view/1']">Johan Smith</a></p>
                            </div>
                          </div></td>
                          <td class="tdLeft"><div class="d-flex align-items-center">
                              <img class="rounded-circle" src='assets/images/users/4.jpg' height=" 30px" width="30px">
                              <div class="ml-3">
                                <p class="font-medium mb-0"><a [routerLink]="['/provider/provider-view']">Sushant Patil</a></p>
                              </div>
                            </div></td>
                          <td><a [routerLink]="['/jobs/jobview']">View</a> | Dispute | Resolve</td>
                        </tr>
                        <tr>
                          <td class="tdLeft">This provider, takes more time</td>
                          <td class="tdLeft"><div class="d-flex align-items-center">
                            <img class="rounded-circle" src='assets/images/users/3.jpg' height=" 30px" width="30px">
                            <div class="ml-3">
                              <p class="font-medium mb-0"><a [routerLink]="['/customer/view/1']">Ronald King</a></p>
                            </div>
                          </div></td>
                          <td class="tdLeft"><div class="d-flex align-items-center">
                              <img class="rounded-circle" src='assets/images/users/5.jpg' height=" 30px" width="30px">
                              <div class="ml-3">
                                <p class="font-medium mb-0"><a [routerLink]="['/provider/provider-view']">Sushant Patil</a></p>
                              </div>
                            </div></td>
                          
                          <td><a [routerLink]="['/jobs/jobview']">View</a> | Dispute | Resolve</td>
                        </tr>
                        <tr>
                          <td class="tdLeft">Provider is not working properly</td>
                          <td class="tdLeft"><div class="d-flex align-items-center">
                            <img class="rounded-circle" src='assets/images/users/1.jpg' height=" 30px" width="30px">
                            <div class="ml-3">
                              <p class="font-medium mb-0"><a [routerLink]="['/customer/view/1']">Sushant Patil</a></p>
                            </div>
                          </div></td>
                          <td class="tdLeft"><div class="d-flex align-items-center">
                              <img class="rounded-circle" src='assets/images/users/5.jpg' height=" 30px" width="30px">
                              <div class="ml-3">
                                <p class="font-medium mb-0"><a [routerLink]="['/provider/provider-view']">Sushant Patil</a></p>
                              </div>
                            </div></td>
                          <td><a [routerLink]="['/jobs/jobview']">View</a> | Dispute | Resolve</td>
                        </tr>
                        
                      </tbody>
                    </table>  
                  </div>
                <!-- </div>
              </div> -->
            </div>
          </div>
          
          
        </div>
        <div class="d-flex justify-content-center mt-5">
          <!-- <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="userList.length"></ngb-pagination> -->
        </div>
      </div>
    </div>
  </div>
  
  
 
  