<div class="row">
    <div class="col-md-12">
        <div class="card card-body printableArea">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive" >
                        <table class="table table-hover">
                            <thead >
                                <tr>
                                    <th class="tdLeft backgroundColor">ID</th>
                                    <th class="tdLeft backgroundColor">TRANSACTION ID</th>
                                    <th class="tdLeft backgroundColor">PAYMENT TYPE</th>
                                    <th class="tdCenter backgroundColor">TYPE</th>
                                    <th class="tdLeft backgroundColor">DATE</th>
                                    <th class="tdRight backgroundColor">AMOUNT</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="tdLeft">1</td>
                                    <td class="tdLeft">txn_1IeKjgAW3ioFkN7zMH6v</td>
                                    <td class="tdLeft">Debit</td>
                                    <td class="tdCenter"><label class="label label-dark">Remote</label></td>
                                    <td class="tdLeft"> 13/05/2021, 7:40 AM</td>
                                    <td class="tdRight"><i class="mdi mdi-currency-gbp"></i>13,848,00</td>
                                    
                                </tr>
                                <tr>
                                    <td class="tdLeft">2</td>
                                    <td class="tdLeft">txn_1IeKjgAW3ioFkN7zMH6v</td>
                                    <td class="tdLeft">Debit</td>
                                    <td class="tdCenter"><label class="label label-dark">Remote</label></td>
                                    <td class="tdLeft"> 13/05/2021, 7:40 AM</td>
                                    <td class="tdRight"><i class="mdi mdi-currency-gbp"></i>20,900,00</td>

                                </tr>
                                <tr>
                                    <td class="tdLeft">3</td>
                                    <td class="tdLeft">txn_1IeKjgAW3ioFkN7zMH6v</td>
                                    <td class="tdLeft">Debit</td>
                                    <td class="tdCenter"><label class="label label-dark">Remote</label></td>
                                    <td class="tdLeft"> 13/05/2021, 7:40 AM</td>
                                    <td class="tdRight"><i class="mdi mdi-currency-gbp"></i>20,900,00</td>
                                </tr>
                            </tbody>
                        </table>
                        <hr style="width:100%;text-align:left;margin-left:0">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="padding-left: 40px;">
    <div class="col-md-6">         
        <div class="pull-right m-t-30 ">
            <h4>Provider Payment</h4>
            <p>Total amount:  <i class="mdi mdi-currency-gbp"></i>13,848</p>
            <p>vat (10%) :  <i class="mdi mdi-currency-gbp"></i>138 </p>
            <hr>
            <h3>
                <b>Total :</b> <i class="mdi mdi-currency-gbp"></i>13,986
            </h3>
        </div>
        <div class="clearfix"></div>
        <hr>
        <div class="">
            <button class="btn btn-danger" type="submit"> Proceed to payment </button>
        </div>
    </div>
    <div class="col-md-6">
        <div class="pull-right m-t-30 ">
            <h4>Customer Payment</h4>
            <p>Total amount:  <i class="mdi mdi-currency-gbp"></i>13,848</p>
            <p>vat (10%) :  <i class="mdi mdi-currency-gbp"></i>138</p>
            <hr>
            <h3>
                <b>Total :</b> <i class="mdi mdi-currency-gbp"></i>13,986
            </h3>
        </div>
        <div class="clearfix"></div>
        <hr>
        <div class="">
            <button class="btn btn-danger" type="submit"> Proceed to payment </button>
        </div>
    </div>
</div>