<div class="row">
    <div class="col-md-12">
        <div class="card card-body printableArea">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive" >
                        <table class="table table-hover">
                            <thead >
                                <tr>
                                    <th class="tdLeft backgroundColor">ID</th>
                                    <th class="tdLeft backgroundColor">TRANSACTION ID</th>
                                    <th class="tdLeft backgroundColor">PAYMENT TYPE</th>
                                    <th class="tdCenter backgroundColor">TYPE</th>
                                    <th class="tdLeft backgroundColor">DATE</th>
                                    <th class="tdRight backgroundColor">AMOUNT</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of paymentList;let i = index">
                                    <td class="tdLeft">{{i+1}}</td>
                                    <td class="tdLeft">{{item.payment_gateway_id}}</td>
                                    <td class="tdLeft">{{item.description}}</td>
                                    <td class="tdCenter"><label class="label label-dark">{{item.payment_gateway_type}}</label></td>
                                    <td class="tdLeft"> {{item.created_at | date:'short'}}</td>
                                    <td class="tdRight"><i class="mdi mdi-currency-gbp"></i>{{item.amount}}</td>
                                    
                                </tr>
                            </tbody>
                        </table>
                        <hr style="width:100%;text-align:left;margin-left:0">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="padding-left: 40px;">
    <div class="col-md-6">         
        <div class="pull-right m-t-30 ">
            <h4>Provider Payment</h4>
            <p>Service Amount:  <i class="mdi mdi-currency-gbp"></i>{{totalAmount?.ServiceTotalAmount}}</p>
            <p>Extra Amount  :  <i class="mdi mdi-currency-gbp"></i>{{totalAmount?.extraAmout}} </p>
            <p>Provider Fees :  <i class="mdi mdi-currency-gbp"></i>{{totalAmount?.adminSeekerFees}} </p>

            <p>Vat Fees      :  <i class="mdi mdi-currency-gbp"></i>{{totalAmount?.adminVatFees}} </p>
            <p><br></p>
            <p><br></p>
            <hr>
            <h4>
                <b>Total :</b> <i class="mdi mdi-currency-gbp"></i>{{totalAmount?.totalProviderFees}}
            </h4>
            <hr>
            <h4>
                <b>Received Payment :</b> <i class="mdi mdi-currency-gbp"></i>{{totalAmount?.totalProviderPaid}}
            </h4>
        </div>
        <div class="clearfix"></div>
        <!-- <hr>
        <div class="">
            <button class="btn btn-danger" type="submit"> Proceed to payment </button>
        </div> -->
    </div>
    <div class="col-md-6">
        <div class="pull-right m-t-30 ">
            <h4>Customer Payment</h4>
            <p>Service Amount:  <i class="mdi mdi-currency-gbp"></i>{{totalAmount?.ServiceTotalAmount}}</p>
            <p>Extra Amount  :  <i class="mdi mdi-currency-gbp"></i>{{totalAmount?.extraAmout}} </p>
            <p>Provider Fees :  <i class="mdi mdi-currency-gbp"></i>{{totalAmount?.adminSeekerFees}} </p>

            <p>Vat Fees      :  <i class="mdi mdi-currency-gbp"></i>{{totalAmount?.adminVatFees}} </p>
            <p>Discount Amount      :  <i class="mdi mdi-currency-gbp"></i>{{totalAmount?.discountAmount}} </p>
            <p>Refferal Discount Amount      :  <i class="mdi mdi-currency-gbp"></i>{{totalAmount?.referralCodeAmount}} </p>

            <hr>
            <h4>
                <b>Total :</b> <i class="mdi mdi-currency-gbp"></i>{{totalAmount?.totalSeekerFees}}
            </h4>
            <hr>
            <h4>
                <b>Received Payment :</b> <i class="mdi mdi-currency-gbp"></i>{{totalAmount?.totalSeekerPaid}}
            </h4>
        </div>
        <div class="clearfix"></div>
        <!-- <hr>
        <div class="">
            <button class="btn btn-danger" type="submit"> Proceed to payment </button>
        </div> -->
    </div>
</div>