<!-- Ticket Details -->
<div class="row">
  <div class="col-md-12">
      <div class="card">
         
          <div class="table-responsive">
              <table class="table ">
                  <thead>
                      <tr class="bg-light">
                          <th class="backgroundColor tdLeft">Ticket id</th>
                          <th class="backgroundColor tdLeft">status</th>
                          <th class="backgroundColor tdLeft">ticket details</th>
                          <th class="backgroundColor">Date</th>
                          <th class="backgroundColor">Action</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let item of ProviderTickets">
                          <td><b><a href="https://totoapp.ladesk.com/agent/#Conversation;id={{item.id}}" target="_blank">{{item.code}}</a></b></td>
                          <td>
                              <label *ngIf="item.status == 'A'" class="label label-success">Open</label>
                              <label *ngIf="item.status == 'R'" class="label label-danger">Closed</label>
                              <label *ngIf="item.status == 'T'" class="label label-warning">Pending</label>              
                            </td>
                          <td class="tdLeft"><h5>{{item.subject}}</h5></td>
                          <td>{{item.last_activity | date : 'dd/MM/yyyy, h:mm a'}}</td>
                          <td>
                              <a href="https://totoapp.ladesk.com/agent/#Conversation;id={{item.id}}" target="_blank"  class="text-inverse p-r-10">
                                  <i class="ti-eye"></i>
                              </a>
                          </td>
                        </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>
<!-- End Ticket Details -->