
  <div class="row text-center">
    <div class="col-md-6">
      <h5 class="m-t-30">Date</h5>
      <span>03/23/2021</span>
      <h5 class="m-t-30">Start Time</h5>
      <span>12:00:00</span>
      <h5 class="m-t-30">comment</h5>
      <span>Task start with in time</span>
      
    </div>
    <div class="col-md-6">
      <h5 class="m-t-30">Time Slot</h5>
      <span>Afternoon</span>
      <h5 class="m-t-30">End Time</h5>
      <span>15:00:00</span>
      <h5 class="m-t-30">Created At</h5>
      <span>03/23/2021 04:33 PM</span>
      
    </div>
  </div>
