<!-- 
  <div class="row text-center">
    <div class="col-md-6">
      <div class="card" style="    border: 1px solid #000000a1 !important;">
        <div class="card-header backgroundColor">
          Task Details History
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <h5 class="m-t-30">Date</h5>
              <span>03/23/2021</span>
              <h5 class="m-t-30">Start Time</h5>
              <span>12:00:00</span>
              <h5 class="m-t-30">comment</h5>
              <span>Task start with in time</span>
              
            </div>
            <div class="col-md-6">
              <h5 class="m-t-30">Time Slot</h5>
              <span>Afternoon</span>
              <h5 class="m-t-30">End Time</h5>
              <span>15:00:00</span>
              <h5 class="m-t-30">Created At</h5>
              <span>03/23/2021 04:33 PM</span>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div> -->
  <div class="row">
    <div class="col-12">
<div class="card card-body">
   <div class="table-responsive">
          <table class="row-border hover table ">
            <thead>
              <tr>
                <th scope="col" class=" backgroundColor tdLeft" >Date</th>
                <th scope="col" class="backgroundColor tdLeft">Start Time</th>
                <th scope="col" class="backgroundColor tdLeft">comment </th>
                <th scope="col" class="backgroundColor tdLeft">Time Slot</th>
                <th scope="col" class="backgroundColor tdLeft">End Time</th>
                <th scope="col" class="backgroundColor tdLeft">Created At</th>             
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="tdLeft">03/23/2021</td>
                <td class="tdLeft">12:00:00</td>
                  <td class="tdLeft">Task start with in time</td>
                  <td class="tdLeft">Afternoon</td>
                  
                  <td class="tdLeft">13/05/2021, 7:40 AM</td>
                  <td class="tdLeft">13/05/2021, 5:40 PM</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-center mt-5">
          <!-- <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="userList.length"></ngb-pagination> -->
        </div>
      </div>
    </div>
  </div>
  
