
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
              
                <form *ngIf='regularForm' [formGroup]="regularForm" class="m-t-30">
                    <div class="form-group">
                        <label for="cust_charg">Customer Charges<span class="reqNote">*</span></label>
                        <input type="number"  class="form-control"   formControlName="cust_charg" id="cust_charg" >
                        <small class="form-text text-danger"
                        *ngIf="!regularForm.get('cust_charg').valid && (regularForm.get('cust_charg').dirty || regularForm.get('cust_charg').touched)">
                        This field is required
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="pro_charg">Provider Charges<span class="reqNote">*</span></label>
                        <input type="number"  class="form-control" id="pro_charg" formControlName="pro_charg" >
                        <small class="form-text text-danger"
                        *ngIf="!regularForm.get('pro_charg').valid && (regularForm.get('pro_charg').dirty || regularForm.get('pro_charg').touched)">
                        This field is required
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="vat_charg">Vat Charges<span class="reqNote">*</span></label>
                        <input type="number"  class="form-control" id="vat_charg" formControlName="vat_charg">
                        <small class="form-text text-danger"
                        *ngIf="!regularForm.get('vat_charg').valid && (regularForm.get('vat_charg').dirty || regularForm.get('vat_charg').touched)">
                        This field is required
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="poor">Poor Performance<span class="reqNote">*</span></label>
                        <input type="number"  class="form-control" id="poor"  formControlName="poor">
                        <small class="form-text text-danger"
                        *ngIf="!regularForm.get('poor').valid && (regularForm.get('poor').dirty || regularForm.get('poor').touched)">
                        This field is required
                        </small>
                    </div>
                   
                   

                   
                    <button type="submit" class="btn btn-info">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>