<!-- <div class="row">

    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <ul class="timeline timeline-left">
                    <li class="timeline-inverted timeline-item">
                        <div class="timeline-badge success">
                            <span class="font-12">24 Jan</span> 
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Registered</h4>
                                <span>
                                    <small class="text-muted">
                                        <i class="fa fa-clock-o"></i> 11 hours ago via Facebook</small>
                                </span>
                            </div>
                            <div class="timeline-body">
                                <p></p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted timeline-item">
                        <div class="timeline-badge warning">
                            <span class="font-12">25 Jan</span> 
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Verfiy Document</h4>
                                <span>
                                    <small class="text-muted">
                                        <i class="fa fa-clock-o"></i> 8 hours ago </small>
                                </span>
                            </div>
                            <div class="timeline-body">
                               
                                <p></p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted timeline-item">
                        <div class="timeline-badge danger">
                            <span class="font-12">27 Jan</span>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Pass Exam</h4>
                                <span>
                                    <small class="text-muted">
                                        <i class="fa fa-clock-o"></i> 6 hours ago</small>
                                </span>
                            </div>
                            <div class="timeline-body">
                                <p></p>
                            </div>
                        </div>
                    </li>
                   
                    <li class="timeline-inverted timeline-item">
                        <div class="timeline-badge info">
                            <span class="font-12">28 Jan</span>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Take Interview</h4>
                                <span>
                                    <small class="text-muted">
                                        <i class="fa fa-clock-o"></i> 11 hours ago</small>
                                </span>
                            </div>
                            <div class="timeline-body">
                                <p></p>
                                
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted timeline-item">
                        <div class="timeline-badge success">
                            <span class="font-12">30 Jan</span>                        
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Activiation Completed</h4>
                                <span>
                                    <small class="text-muted">
                                        <i class="fa fa-clock-o"></i> 11 hours ago</small>
                                </span>
                            </div>
                            <div class="timeline-body">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div> -->



<!-- 
<div class="timeline"> 
  <div class="timeline__event  animated fadeInUp delay-3s timeline__event--type1">
    <div class="timeline__event__icon ">
      <i class="fa fa-registered"></i>

    </div>
    <div class="timeline__event__date">
      20-08-2020
    </div>
    <div class="timeline__event__content ">
      <div class="timeline__event__title">
        Registered
      </div>
      <div class="timeline__event__description">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, nam! Nam eveniet </p>
      </div>
    </div>
  </div>
  <div class="timeline__event animated fadeInUp delay-2s timeline__event--type2">
    <div class="timeline__event__icon">
        <i class="ti-files"></i>

    </div>
    <div class="timeline__event__date">
      22-08-2020
    </div>
    <div class="timeline__event__content">
      <div class="timeline__event__title">
        Verfiy Document's
      </div>
      <div class="timeline__event__description">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, nam! Nam eveniet </p>
      </div>
    </div>
  </div>
  <div class="timeline__event animated fadeInUp delay-1s timeline__event--type3">
    <div class="timeline__event__icon">
      <i class="ti-clipboard"></i>

    </div>
    <div class="timeline__event__date">
      24-08-2020
    </div>
    <div class="timeline__event__content">
      <div class="timeline__event__title">
        Pass Exam
      </div>
      <div class="timeline__event__description">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, nam! Nam eveniet </p>
      </div>

    </div>
  </div>
  <div class="timeline__event animated fadeInUp timeline__event--type1">
    <div class="timeline__event__icon">
      <i class="fas fa-user-plus"></i>

    </div>
    <div class="timeline__event__date">
      26-08-2020
    </div>
    <div class="timeline__event__content">
      <div class="timeline__event__title">
        Accout Activiation Completed
      </div>
      <div class="timeline__event__description">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, nam! Nam eveniet </p>
      </div>
    </div>
  </div>

</div> -->

<!-- new timeline -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <ul class="timeline timeline-left">
                    <li class="timeline-inverted timeline-item">
                        <div class="timeline-badge danger">
                            <span class="step">I</span>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">REGISTERED</h4>
                                <p>11-04-2021
                                    <!-- <small class="text-muted">
                                        <i class="fa fa-clock-o"></i> 11-04-2021</small> --></p>
                            </div>
                            <div class="timeline-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero laboriosam dolor perspiciatis
                                    omnis exercitationem. Beatae, officia pariatur? Est cum veniam excepturi. Maiores praesentium,
                                    porro voluptas suscipit facere rem dicta, debitis.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted timeline-item">
                        <!-- <div class="timeline-badge warning">
                            <img class="img-fluid" src="assets/images/users/2.jpg" alt="img"> </div> -->
                            <div class="timeline-badge info">
                                <span class="step">II</span>
                            </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">VERIFY DOCUMENTS</h4>
                                <p>12-04-2021</p>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    <img src="assets/images/users/2.jpg" height="50px" alt="img">
                                </p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium maiores odit qui est
                                    tempora eos, nostrum provident explicabo dignissimos debitis vel! Adipisci eius voluptates,
                                    ad aut recusandae minus eaque facere.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted timeline-item">
                        <div class="timeline-badge warning">
                            <span class="step">III</span>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">PASS ASSESSMENT</h4>
                                <p>14-04-2021</p>
                            </div>
                            <div class="timeline-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus numquam facilis enim
                                    eaque, tenetur nam id qui vel velit similique nihil iure molestias aliquam, voluptatem
                                    totam quaerat, magni commodi quisquam.</p>
                            </div>
                        </div>
                    </li>
                    <!-- <li class="timeline-inverted timeline-item">
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Lorem ipsum dolor</h4>
                            </div>
                            <div class="timeline-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates est quaerat asperiores
                                    sapiente, eligendi, nihil. Itaque quos, alias sapiente rerum quas odit! Aperiam officiis
                                    quidem delectus libero, omnis ut debitis!</p>
                            </div>
                        </div>
                    </li> -->
                    <!-- <li class="timeline-inverted timeline-item">
                        <div class="timeline-badge info">
                            <i class="fa fa-save"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Lorem ipsum dolor</h4>
                            </div>
                            <div class="timeline-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis minus modi quam ipsum alias
                                    at est molestiae excepturi delectus nesciunt, quibusdam debitis amet, beatae consequuntur
                                    impedit nulla qui! Laborum, atque.</p>
                                <hr>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-cog"></i>
                                        <span class="caret"></span>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="javascript:void(0)">Action</a>
                                        <a class="dropdown-item" href="javascript:void(0)">Another action</a>
                                        <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="javascript:void(0)">Separated link</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li> -->
                    <li class="timeline-inverted timeline-item">
                        <div class="timeline-badge success">
                            <span class="step">IV</span>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">ACCOUNT ACTIVATION COMPLETED</h4>
                                <p>20-04-2021</p>
                            </div>
                            <div class="timeline-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt obcaecati, quaerat tempore
                                    officia voluptas debitis consectetur culpa amet, accusamus dolorum fugiat, animi dicta
                                    aperiam, enim incidunt quisquam maxime neque eaque.</p>
                            </div>
                        </div>
                    </li>
                   
                </ul>
            </div>
        </div>
    </div>
</div>