<!-- <div class="row">

    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <ul class="timeline timeline-left">
                    <li class="timeline-inverted timeline-item">
                        <div class="timeline-badge success">
                            <span class="font-12">24 Jan</span> 
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Registered</h4>
                                <span>
                                    <small class="text-muted">
                                        <i class="fa fa-clock-o"></i> 11 hours ago via Facebook</small>
                                </span>
                            </div>
                            <div class="timeline-body">
                                <p></p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted timeline-item">
                        <div class="timeline-badge warning">
                            <span class="font-12">25 Jan</span> 
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Verfiy Document</h4>
                                <span>
                                    <small class="text-muted">
                                        <i class="fa fa-clock-o"></i> 8 hours ago </small>
                                </span>
                            </div>
                            <div class="timeline-body">
                               
                                <p></p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted timeline-item">
                        <div class="timeline-badge danger">
                            <span class="font-12">27 Jan</span>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Pass Exam</h4>
                                <span>
                                    <small class="text-muted">
                                        <i class="fa fa-clock-o"></i> 6 hours ago</small>
                                </span>
                            </div>
                            <div class="timeline-body">
                                <p></p>
                            </div>
                        </div>
                    </li>
                   
                    <li class="timeline-inverted timeline-item">
                        <div class="timeline-badge info">
                            <span class="font-12">28 Jan</span>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Take Interview</h4>
                                <span>
                                    <small class="text-muted">
                                        <i class="fa fa-clock-o"></i> 11 hours ago</small>
                                </span>
                            </div>
                            <div class="timeline-body">
                                <p></p>
                                
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted timeline-item">
                        <div class="timeline-badge success">
                            <span class="font-12">30 Jan</span>                        
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Activiation Completed</h4>
                                <span>
                                    <small class="text-muted">
                                        <i class="fa fa-clock-o"></i> 11 hours ago</small>
                                </span>
                            </div>
                            <div class="timeline-body">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div> -->




<div class="timeline"> 
  <div class="timeline__event  animated fadeInUp delay-3s timeline__event--type1">
    <div class="timeline__event__icon ">
      <i class="fa fa-registered"></i>

    </div>
    <div class="timeline__event__date">
      20-08-2020
    </div>
    <div class="timeline__event__content ">
      <div class="timeline__event__title">
        Registered
      </div>
      <div class="timeline__event__description">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, nam! Nam eveniet </p>
      </div>
    </div>
  </div>
  <div class="timeline__event animated fadeInUp delay-2s timeline__event--type2">
    <div class="timeline__event__icon">
        <i class="ti-files"></i>

    </div>
    <div class="timeline__event__date">
      22-08-2020
    </div>
    <div class="timeline__event__content">
      <div class="timeline__event__title">
        Verfiy Document's
      </div>
      <div class="timeline__event__description">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, nam! Nam eveniet </p>
      </div>
    </div>
  </div>
  <div class="timeline__event animated fadeInUp delay-1s timeline__event--type3">
    <div class="timeline__event__icon">
      <i class="ti-clipboard"></i>

    </div>
    <div class="timeline__event__date">
      24-08-2020
    </div>
    <div class="timeline__event__content">
      <div class="timeline__event__title">
        Pass Exam
      </div>
      <div class="timeline__event__description">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, nam! Nam eveniet </p>
      </div>

    </div>
  </div>
  <div class="timeline__event animated fadeInUp timeline__event--type1">
    <div class="timeline__event__icon">
      <i class="fas fa-user-plus"></i>

    </div>
    <div class="timeline__event__date">
      26-08-2020
    </div>
    <div class="timeline__event__content">
      <div class="timeline__event__title">
        Accout Activiation Completed
      </div>
      <div class="timeline__event__description">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, nam! Nam eveniet </p>
      </div>
    </div>
  </div>

</div>