
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="d-md-flex align-items-center">
                    <div>
                        <h4 class="card-title">Provider Details</h4>
                        <h5 class="card-subtitle">Overview of provider petails</h5>
                        <!-- <button class="btn btn-primary ml-auto" (click)="openModal(editUserModal, null)">Edit Provider</button> -->

                    </div>
                    <button class="btn btn-primary ml-auto" (click)="openModal(editUserModal, null)">Edit Provider</button>
                </div>
                <div class="row">
                    <!-- column -->
                    <div class="col-lg-4" style="text-align: center;">
                        <div class="profile-pic m-b-20 m-t-20">
                            <img src="assets/images/users/5.jpg" width="120" class="rounded-circle" alt="user" />
                            <h4 class="m-t-20 m-b-0">Daniel Kristeen</h4>
                            <a href="mailto:danielkristeen@gmail.com">danielkristeen@gmail.com</a><br>
                            <label>Royal Mail
                                Flat 9, Wheatstone House</label><br>
                            <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                        </div>
                        
                        <div class="badge badge-pill badge-light font-14 infoData">020 7946 0581</div>
                        <div class="badge badge-pill badge-light font-14 infoData">Male</div>
                        <div class="badge badge-pill badge-light font-14 infoData">30/12/1993</div>
                        <hr>
                        <div class="badge badge-pill badge-info font-14 infoData" >Referral : 23423</div>
                        <div class="badge badge-pill badge-warning font-14 infoData">Reg. Date : 12/12/2020</div>
                        <div class="badge badge-pill badge-success font-14 infoData">Active</div>
                        
                        <!-- <div class="badge badge-pill badge-info font-14" data-toggle="tooltip" data-placement="top" title="3 more">+3</div> -->
                    </div>
                    <!-- column -->
                    <div class="col-lg-8">
                        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false" #map4>
                            <agm-marker [latitude]="lat" [longitude]="lng">
                                <agm-info-window>InfoWindow content</agm-info-window>
                            </agm-marker>
                        </agm-map>
                    </div>
                    <!-- column -->
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- Info Box -->
            <!-- ============================================================== -->
            <div class="card-body border-top">
                <div class="row m-b-0">
                    <!-- col -->
                    <div class="col-lg-3 col-md-6">
                        <div class="d-flex align-items-center">
                            <div class="m-r-10">
                                <span class="text-orange display-5">
                                    <i class="mdi  mdi-shopping "></i>
                                </span>
                            </div>
                            <div>
                                <span>Jobs</span>
                                <h3 class="font-medium m-b-0">100</h3>
                            </div>
                        </div>
                    </div>
                    <!-- col -->
                    <!-- col -->
                    <div class="col-lg-3 col-md-6">
                        <div class="d-flex align-items-center">
                            <div class="m-r-10">
                                <span class="text-cyan display-5">
                                    <i class="mdi mdi-wallet"></i>
                                </span>
                            </div>
                            <div>
                                <span>Revenue</span>
                                <h3 class="font-medium m-b-0">250</h3>
                            </div>
                        </div>
                    </div>
                    <!-- col -->
                    <!-- col -->
                    <div class="col-lg-3 col-md-6">
                        <div class="d-flex align-items-center">
                            <div class="m-r-10">
                                <span class="text-info display-5">
                                    <i class="mdi mdi-currency-gbp"></i>
                                </span>
                            </div>
                            <div>
                                <span>Available Balance</span>
                                <h3 class="font-medium m-b-0"><i class="mdi mdi-currency-gbp"></i>45,200</h3>
                            </div>
                        </div>
                    </div>
                    <!-- col -->
                    <!-- col -->
                    <div class="col-lg-3 col-md-6">
                        <div class="d-flex align-items-center">
                            <div class="m-r-10">
                                <span class="text-primary display-5">
                                    <i class="mdi mdi-currency-gbp"></i>
                                </span>
                            </div>
                            <div>
                                <span>Total Withdraw</span>
                                <h3 class="font-medium m-b-0"><i class="mdi mdi-currency-gbp"></i>23,568</h3>
                            </div>
                        </div>
                    </div>
                    <!-- col -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- edit provider -->

<ng-template #editUserModal let-modal>

    <div class="modal-header backgroundColor">
  
      <h5 class="modal-title" id="editUserLabel">Edit Provider</h5>
  
      <button type="button" class="close" (click)="closeBtnClick()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
  
    </div>
  
    <div class="modal-body">
  
      <form [formGroup]="editUser" (ngSubmit)="onSubmit()">
  
        <div class="form-group row">
          <label for="name" class="col-sm-4 col-form-label">First Name<span class="reqNote">*</span></label>
          <div class="col-sm-8">
            <input type="text" class="form-control" formControlName="Name" id="name" (blur)=logValidationErrors(editUser)>
            <span class="help-block" *ngIf="formsErrors.Name">
              {{formsErrors.Name}}
            </span>
          </div>
        </div>
  
        <div class="form-group row">
          <label for="name" class="col-sm-4 col-form-label">Last Name<span class="reqNote">*</span></label>
          <div class="col-sm-8">
            <input type="text" class="form-control" formControlName="Name" id="name" (blur)=logValidationErrors(editUser)>
            <span class="help-block" *ngIf="formsErrors.Name">
              {{formsErrors.Name}}
            </span>
          </div>
        </div>
  
  
        <div class="form-group row">
          <label for="position" class="col-sm-4 col-form-label">Email<span class="reqNote">*</span></label>
          <div class="col-sm-8">
            <input type="text" class="form-control" formControlName="Position" id="position"
              (blur)=logValidationErrors(editUser)>
            <span class="help-block" *ngIf="formsErrors.Position">
              {{formsErrors.Position}}
            </span>
          </div>
        </div>
  
        <div class="form-group row">
          <label for="email" class="col-sm-4 col-form-label">Password<span class="reqNote">*</span></label>
          <div class="col-sm-8">
            <input type="email" class="form-control" formControlName="Email" id="email"
              (blur)=logValidationErrors(editUser)>
            <span class="help-block" *ngIf="formsErrors.Email">
              {{formsErrors.Email}}
            </span>
          </div>
        </div>
  
        <div class="form-group row">
          <label for="mobile" class="col-sm-4 col-form-label">Latitude</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" formControlName="Mobile" id="mobile"
              (blur)=logValidationErrors(editUser)>
            <span class="help-block" *ngIf="formsErrors.Mobile">
              {{formsErrors.Mobile}}
            </span>
          </div>
        </div>
  
        <div class="form-group row">
          <label for="mobile" class="col-sm-4 col-form-label">Longitude</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" formControlName="Mobile" id="mobile"
              (blur)=logValidationErrors(editUser)>
            <span class="help-block" *ngIf="formsErrors.Mobile">
              {{formsErrors.Mobile}}
            </span>
          </div>
        </div>
  
        <div class="form-group row">
          <label for="mobile" class="col-sm-4 col-form-label">Mobile<span class="reqNote">*</span></label>
          <div class="col-sm-8">
            <input type="text" class="form-control" formControlName="Mobile" id="mobile"
              (blur)=logValidationErrors(editUser)>
            <span class="help-block" *ngIf="formsErrors.Mobile">
              {{formsErrors.Mobile}}
            </span>
          </div>
        </div>
  
        <div class="form-group row">
          <label for="mobile" class="col-sm-4 col-form-label">
            Referral Code
          </label>
          <div class="col-sm-8">
            <input type="text" class="form-control" formControlName="Mobile" id="mobile"
              (blur)=logValidationErrors(editUser)>
            <span class="help-block" *ngIf="formsErrors.Mobile">
              {{formsErrors.Mobile}}
            </span>
          </div>
        </div>
  
        <div class="form-group row">
          <label for="doj" class="col-sm-4 col-form-label">Date Of Birth</label>
          <div class="col-sm-8">
            <input type="date" class="form-control" formControlName="DateOfJoining" [(ngModel)]="joiningDate" id="doj"
              (blur)=logValidationErrors(editUser)>
            <span class="help-block" *ngIf="formsErrors.DateOfJoining">
              {{formsErrors.DateOfJoining}}
            </span>
          </div>
        </div>
  
        <div class="form-group row">
          <label for="salary" class="col-sm-4 col-form-label">Gender<span class="reqNote">*</span></label>
          <div class="col-sm-8">
            <div class="form-check form-check-inline">
              <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" id="customControlValidation2" name="radio-stacked">
                  <label class="custom-control-label" for="customControlValidation2">Male</label>
              </div>
          </div>
          <div class="form-check form-check-inline">
              <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" id="customControlValidation3" name="radio-stacked">
                  <label class="custom-control-label" for="customControlValidation3">Female</label>
              </div>
          </div>
          </div>
        </div>
  
        <div class="form-group row">
          <label for="projects" class="col-sm-4 col-form-label">Profile Image</label>
          <div class="col-sm-8">
            <input type="file" class="form-control" formControlName="Projects" id="projects"
              (blur)=logValidationErrors(editUser)>
            <span class="help-block" *ngIf="formsErrors.Projects">
              {{formsErrors.Projects}}
            </span>
          </div>
        </div>
  
  
  
  
  
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeBtnClick()">Close</button>
  
          <button type="submit" class="btn btn-primary" [disabled]="editUser.invalid">Save</button>
        </div>
  
        
      </form>
    </div>
  </ng-template>
  

<!-- Contractor tabs -->
<div class="row">
    <div class="col-md-12">
        <div class="card " >
            <div class="card-body">
                <h4 class="card-title">All Details of Provider</h4>
                <!-- <h6 class="card-subtitle">This is basic Default pagination</h6> -->


                <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
                    <li [ngbNavItem]="1">
                        <a ngbNavLink >Document</a>
                        <ng-template ngbNavContent>
                            <!-- <h3>General</h3>
                            <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan
                                four loko
                               </p>
  -->
                            <app-document></app-document>
                        </ng-template>
                    </li>
                  
                    <li [ngbNavItem]="2">
                        <a ngbNavLink>Performance & Skills</a>
                        <ng-template ngbNavContent>
                          <app-performance></app-performance>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="3">
                        <a ngbNavLink="/provider-list">Availability</a>
                        <ng-template ngbNavContent>
                            <app-availability></app-availability>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="4">
                        <a ngbNavLink>Task History</a>
                        <ng-template ngbNavContent>
                           <app-task-history></app-task-history>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="5">
                        <a ngbNavLink>Review And Rating</a>
                        <ng-template ngbNavContent>
                           <app-review-rating></app-review-rating>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="6">
                        <a ngbNavLink>Assesment</a>
                        <ng-template ngbNavContent>
                            <app-assessment></app-assessment>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="7">
                        <a ngbNavLink>Timeline</a>
                        <ng-template ngbNavContent>
                           <app-timeline></app-timeline>
                        </ng-template>
                    </li>
                   
                </ul>

                <div [ngbNavOutlet]="nav" class="mt-2"></div>



            </div>
        </div>
    </div>
</div>


