.active {
  text-decoration: underline #007bff 4px;
  text-underline-position: under;
  }
  li{
    /* width:165px; */
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    }

    a {
      color: #343a40;
    }