<div class="row">
    <div class="col-12">
      <div class="card card-body">
        <h4 class="card-title">Task Management</h4>
        <h5 class="card-subtitle">Here is the Jobs list you can filter All tasks, Pending, Scheduled, Completed and Cancelled the Jobs</h5>
        
        <div class="row">
            <div class="col-md-12">
                <div class="button-group">
                    <button type="button" class="btn btn-rounded btn-primary">All Tasks</button>
                    <button type="button" class="btn btn-rounded btn-secondary">Pending</button>
                    <button type="button" class="btn btn-rounded btn-warning">Scheduled</button>
                    <button type="button" class="btn btn-rounded btn-success">Completed</button>
                    <button type="button" class="btn btn-rounded btn-danger">Cancelled</button>
                </div>
            </div>
        </div>
        <div class="row"></div><br>
        <div class="">
          <div class="row">
            <div class="col-md-12">
              <!-- <div class="card card-hover">
                <div class="card-body"> -->
                  <table datatable [dtOptions]="dtOptions" class="row-border hover table table-bordered">
                    <thead style="background: #92adfc;">
                      <tr>
                        <th class="backgroundColor tdLeft">SERVICE</th>
                        <th class="backgroundColor tdLeft">DURATION</th>
                        <th class="backgroundColor tdLeft">CUSTOMER</th>
                        <th class="backgroundColor tdLeft">PROVIDER</th>
                        <th class="backgroundColor ">TYPE</th>
                        <th class="backgroundColor">STATUS</th>
                        <th class="backgroundColor">ACTION</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="tdLeft">Connectivity</td>
                        <td class="tdLeft">2 hour</td>
                        <td class="tdLeft"><div class="d-flex align-items-center">
                          <img class="rounded-circle" src='assets/images/users/5.jpg' height=" 25px" width="25px">
                          <div class="ml-3">
                            <p class="font-medium mb-0"><a [routerLink]="['/customer/view']">Sushant Patil</a></p>
                          </div>
                        </div></td>
                        <td class="tdLeft"><div class="d-flex align-items-center">
                            <img class="rounded-circle" src='assets/images/users/3.jpg' height=" 25px" width="25px">
                            <div class="ml-3">
                              <p class="font-medium mb-0"><a [routerLink]="['/customer/view']">Sushant Patil</a></p>
                            </div>
                          </div></td>
                        <td>On-site</td>
                        <td>Finish</td>
                        <td><a [routerLink]="['/jobs/jobview']"><i class="fas fa-eye "></i></a></td>
                      </tr>
                      <tr>
                        <td class="tdLeft"> Voice Modulation</td>
                        <td class="tdLeft">2 hour</td>
                        <td class="tdLeft"><div class="d-flex align-items-center">
                          <img class="rounded-circle" src='assets/images/users/3.jpg' height=" 25px" width="25px">
                          <div class="ml-3">
                            <p class="font-medium mb-0"><a [routerLink]="['/customer/view']">Sushant Patil</a></p>
                          </div>
                        </div></td>
                        <td class="tdLeft"><div class="d-flex align-items-center">
                            <img class="rounded-circle" src='assets/images/users/4.jpg' height=" 25px" width="25px">
                            <div class="ml-3">
                              <p class="font-medium mb-0"><a [routerLink]="['/customer/view']">Sushant Patil</a></p>
                            </div>
                          </div></td>
                        <td>On-site</td>
                        <td>Finish</td>
                        <td><a [routerLink]="['/jobs/jobview']"><i class="fas fa-eye "></i></a></td>
          
                      </tr>
                      <tr>
                        <td class="tdLeft">New Network Setup</td>
                        <td class="tdLeft">2 hour</td>
                        <td class="tdLeft"><div class="d-flex align-items-center">
                          <img class="rounded-circle" src='assets/images/users/2.jpg' height=" 25px" width="25px">
                          <div class="ml-3">
                            <p class="font-medium mb-0"><a [routerLink]="['/customer/view']">Sushant Patil</a></p>
                          </div>
                        </div></td>
                        <td class="tdLeft"><div class="d-flex align-items-center">
                            <img class="rounded-circle" src='assets/images/users/4.jpg' height=" 25px" width="25px">
                            <div class="ml-3">
                              <p class="font-medium mb-0"><a [routerLink]="['/customer/view']">Sushant Patil</a></p>
                            </div>
                          </div></td>
                        <td >On-site</td>
                        <td >Finish</td>
                        <td><a [routerLink]="['/jobs/jobview']"><i class="fas fa-eye "></i></a></td>
                      </tr>
                      <tr>
                        <td class="tdLeft">ISP</td>
                        <td class="tdLeft">2 hour</td>
                        <td class="tdLeft"><div class="d-flex align-items-center">
                          <img class="rounded-circle" src='assets/images/users/3.jpg' height=" 25px" width="25px">
                          <div class="ml-3">
                            <p class="font-medium mb-0"><a [routerLink]="['/customer/view']">Sushant Patil</a></p>
                          </div>
                        </div></td>
                        <td class="tdLeft"><div class="d-flex align-items-center">
                            <img class="rounded-circle" src='assets/images/users/5.jpg' height=" 25px" width="25px">
                            <div class="ml-3">
                              <p class="font-medium mb-0"><a [routerLink]="['/customer/view']">Sushant Patil</a></p>
                            </div>
                          </div></td>
                        <td>On-site</td>
                        <td >Finish</td>
                        <td><a [routerLink]="['/jobs/jobview']"><i class="fas fa-eye "></i></a></td>
                      </tr>
                      <tr>
                        <td class="tdLeft">Connectivity</td>
                        <td class="tdLeft">2 hour</td>
                        <td class="tdLeft"><div class="d-flex align-items-center">
                          <img class="rounded-circle" src='assets/images/users/1.jpg' height=" 25px" width="25px">
                          <div class="ml-3">
                            <p class="font-medium mb-0"><a [routerLink]="['/customer/view']">Sushant Patil</a></p>
                          </div>
                        </div></td>
                        <td class="tdLeft"><div class="d-flex align-items-center">
                            <img class="rounded-circle" src='assets/images/users/5.jpg' height=" 25px" width="25px">
                            <div class="ml-3">
                              <p class="font-medium mb-0"><a [routerLink]="['/customer/view']">Sushant Patil</a></p>
                            </div>
                          </div></td>
                        <td >On-site</td>
                        <td>Finish</td>
                        <td><a [routerLink]="['/jobs/jobview']"><i class="fas fa-eye "></i></a></td>
                      </tr>
                      <tr>
                        <td class="tdLeft">Poor Wifi Coverage</td>
                        <td class="tdLeft">2 hour</td>
                        <td class="tdLeft"><div class="d-flex align-items-center">
                          <img class="rounded-circle" src='assets/images/users/2.jpg' height=" 25px" width="25px">
                          <div class="ml-3">
                            <p class="font-medium mb-0"><a [routerLink]="['/customer/view']">Sushant Patil</a></p>
                          </div>
                        </div></td>
                        <td class="tdLeft"><div class="d-flex align-items-center">
                            <img class="rounded-circle" src='assets/images/users/4.jpg' height=" 25px" width="25px">
                            <div class="ml-3">
                              <p class="font-medium mb-0"><a [routerLink]="['/customer/view']">Sushant Patil</a></p>
                            </div>
                          </div></td>
                        <td >On-site</td>
                        <td>Finish</td>
                        <td><a [routerLink]="['/jobs/jobview']"><i class="fas fa-eye "></i></a></td>
                      </tr>
                      <tr>
                        <td class="tdLeft">Mobile Hardware </td>
                        <td class="tdLeft">6 hour</td>
                        <td class="tdLeft"><div class="d-flex align-items-center">
                          <img class="rounded-circle" src='assets/images/users/4.jpg' height=" 25px" width="25px">
                          <div class="ml-3">
                            <p class="font-medium mb-0"><a [routerLink]="['/customer/view']">Sushant Patil</a></p>
                          </div>
                        </div></td>
                        <td class="tdLeft"><div class="d-flex align-items-center">
                            <img class="rounded-circle" src='assets/images/users/2.jpg' height=" 25px" width="25px">
                            <div class="ml-3">
                              <p class="font-medium mb-0"><a [routerLink]="['/customer/view']">Sushant Patil</a></p>
                            </div>
                          </div></td>
                        <td>On-site</td>
                        <td>Finish</td>
                        <td><a [routerLink]="['/jobs/jobview']"><i class="fas fa-eye "></i></a></td>
                      </tr>
                      <tr>
                        <td class="tdLeft">Connectivity</td>
                        <td class="tdLeft">2 hour</td>
                        <td class="tdLeft"><div class="d-flex align-items-center">
                          <img class="rounded-circle" src='assets/images/users/2.jpg' height=" 25px" width="25px">
                          <div class="ml-3">
                            <p class="font-medium mb-0"><a [routerLink]="['/customer/view']">Sushant Patil</a></p>
                          </div>
                        </div></td>
                        <td class="tdLeft"><div class="d-flex align-items-center">
                            <img class="rounded-circle" src='assets/images/users/3.jpg' height=" 25px" width="25px">
                            <div class="ml-3">
                              <p class="font-medium mb-0"><a [routerLink]="['/customer/view']">Sushant Patil</a></p>
                            </div>
                          </div></td>
                        <td>Remote</td>
                        <td>Finish</td>
                        <td><a [routerLink]="['/jobs/jobview']"><i class="fas fa-eye "></i></a></td>
                      </tr>
                      <tr>
                        <td class="tdLeft">Stove Repair</td>
                        <td class="tdLeft">2 hour</td>
                        <td class="tdLeft"><div class="d-flex align-items-center">
                          <img class="rounded-circle" src='assets/images/users/5.jpg' height=" 25px" width="25px">
                          <div class="ml-3">
                            <p class="font-medium mb-0"><a [routerLink]="['/customer/view']">Prathamesh Deasi</a></p>
                          </div>
                        </div></td>
                        <td class="tdLeft"><div class="d-flex align-items-center">
                            <img class="rounded-circle" src='assets/images/users/3.jpg' height=" 25px" width="25px">
                            <div class="ml-3">
                              <p class="font-medium mb-0"><a [routerLink]="['/customer/view']">Akashy Poundkar</a></p>
                            </div>
                          </div></td>
                        <td >On-site</td>
                        <td>Finish</td>
                        <td><a [routerLink]="['/jobs/jobview']"><i class="fas fa-eye "></i></a></td>
                      </tr>
                      <tr>
                        <td class="tdLeft">Connectivity</td>
                        <td class="tdLeft">3 hour</td>
                        <td class="tdLeft"><div class="d-flex align-items-center">
                          <img class="rounded-circle" src='assets/images/users/1.jpg' height=" 25px" width="25px">
                          <div class="ml-3">
                            <p class="font-medium mb-0"><a [routerLink]="['/customer/view']">Sushant Patil</a></p>
                          </div>
                        </div></td>
                        <td class="tdLeft"><div class="d-flex align-items-center">
                            <img class="rounded-circle" src='assets/images/users/2.jpg' height=" 25px" width="25px">
                            <div class="ml-3">
                              <p class="font-medium mb-0"><a [routerLink]="['/customer/view']">Sushant Patil</a></p>
                            </div>
                          </div></td>
                        <td>Remote</td>
                        <td>Finish</td>
                        <td><a [routerLink]="['/jobs/jobview']"><i class="fas fa-eye "></i></a></td>
                      </tr>
                      <tr>
                        <td class="tdLeft">Voice Modulation</td>
                        <td class="tdLeft">2 hour</td>
                        <td class="tdLeft"><div class="d-flex align-items-center">
                          <img class="rounded-circle" src='assets/images/users/2.jpg' height=" 25px" width="25px">
                          <div class="ml-3">
                            <p class="font-medium mb-0"><a [routerLink]="['/customer/view']">Ashitosh Jadhav</a></p>
                          </div>
                        </div></td>
                        <td class="tdLeft"><div class="d-flex align-items-center">
                            <img class="rounded-circle" src='assets/images/users/4.jpg' height=" 25px" width="25px">
                            <div class="ml-3">
                              <p class="font-medium mb-0"><a [routerLink]="['/customer/view']">Pradip Sutar</a></p>
                            </div>
                          </div></td>
                        <td>Remote</td>
                        <td>Finish</td>
                        <td><a [routerLink]="['/jobs/jobview']"><i class="fas fa-eye "></i></a></td>
                      </tr>
                      <tr>
                        <td class="tdLeft"> Poor Wifi Coverage</td>
                        <td class="tdLeft">3 hour</td>
                        <td class="tdLeft"><div class="d-flex align-items-center">
                          <img class="rounded-circle" src='assets/images/users/3.jpg' height=" 25px" width="25px">
                          <div class="ml-3">
                            <p class="font-medium mb-0"><a [routerLink]="['/customer/view']">Prakash Patil</a></p>
                          </div>
                        </div></td>
                        <td class="tdLeft"><div class="d-flex align-items-center">
                            <img class="rounded-circle" src='assets/images/users/1.jpg' height=" 25px" width="25px">
                            <div class="ml-3">
                              <p class="font-medium mb-0"><a [routerLink]="['/customer/view']">Sushant Patil</a></p>
                            </div>
                          </div></td>
                        <td>Remote</td>
                        <td>Completed</td>
                        <td><a [routerLink]="['/jobs/jobview']"><i class="fas fa-eye "></i></a></td>
                      </tr>
                    </tbody>
                  </table>  
                <!-- </div>
              </div> -->
            </div>
          </div>
          
          
        </div>
        <div class="d-flex justify-content-center mt-5">
          <!-- <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="userList.length"></ngb-pagination> -->
        </div>
      </div>
    </div>
  </div>
  
  
 
  