
    <div class="row">
        <!-- Column -->
        <div class="col-lg-3 col-md-6">
            <div class="card card-hover">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <img src="assets/images/product/chair.png" alt="user" width="200px" height="200px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-lg-3 col-md-6">
            <div class="card card-hover">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <img src="assets/images/product/chair4.png" alt="user" width="200px" height="200px">
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-lg-3 col-md-6">
            <div class="card card-hover">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <img src="assets/images/product/chair2.png" alt="user" width="200px" height="200px">
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-lg-3 col-md-6">
            <div class="card card-hover">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <img src="assets/images/product/chair3.png" alt="user" width="200px" height="200px">
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- Column -->
    </div>
