
    <div class="row">
        <!-- Column -->
        <div class="col-lg-3 col-md-6">
            <div class="card card-hover">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <img src="assets/tv2.jfif" alt="user" width="200px" height="200px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-lg-3 col-md-6">
            <div class="card card-hover">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <img src="assets/Air.jfif" alt="user" width="200px" height="200px">
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-lg-3 col-md-6">
            <div class="card card-hover">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <img src="assets/mb1.jfif" alt="user" width="200px" height="200px">
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-lg-3 col-md-6">
            <div class="card card-hover">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <img src="assets/cell.jfif" alt="user" width="200px" height="200px">
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- Column -->
    </div>
