<!-- Ajit Created Payment UI -->
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="d-md-flex align-items-center">
                    <div>
                        <h4 class="card-title">Sales Summary</h4>
                        <h5 class="card-subtitle">Overview of latest month</h5>
                    </div>
                    <div class="ml-auto d-flex no-block align-items-center">
                        <ul class="list-inline font-12 dl m-r-15 m-b-0">
                            <li class="list-inline-item text-cyan">
                                <i class="fa fa-circle"></i> Wifi Connectiviy</li>
                            <li class="list-inline-item text-info">
                                <i class="fa fa-circle"></i> Connectiviy</li>
                        </ul>
                        <div class="dl">
                            <select class="custom-select">
                                <option value="0" selected>Monthly</option>
                                <option value="1">Daily</option>
                                <option value="2">Weekly</option>
                                <option value="3">Yearly</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- column -->
                    <div class="col-lg-4">
                        <h3 class="m-b-0 m-t-30 mdi mdi-currency-gbp">6,890.68</h3>
                        <h6 class="font-light text-muted"> &nbsp; Current month earnings</h6>
                        <h3 class="m-t-30 m-b-0  mdi mdi-currency-gbp">1,540</h3>
                        <h6 class="font-light text-muted"> &nbsp; Current month sales</h6>
                        <a class="btn btn-info m-t-20 p-15 p-l-25 p-r-25 m-b-20" href="javascript:void(0)">Last Month
                            Summary</a>
                    </div>
                    <!-- column -->
                    <div class="col-lg-8">
                        <div class="linearea linechart" style="height: 300px;">
                            <div class="d-flex flex-column w-100">
                                <apx-chart [series]="salesChartOptions.series" [chart]="salesChartOptions.chart"
                                    [xaxis]="salesChartOptions.xaxis" [yaxis]="salesChartOptions.yaxis"
                                    [grid]="salesChartOptions.grid" [stroke]="salesChartOptions.stroke"
                                    [tooltip]="salesChartOptions.tooltip" [dataLabels]="salesChartOptions.dataLabels"
                                    [legend]="salesChartOptions.legend" [colors]="salesChartOptions.colors"
                                    [markers]="salesChartOptions.markers">
                                </apx-chart>
                            </div>
                        </div>
                    </div>
                    <!-- column -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="card card-body">
            <h4 class="card-title">Toto Earnings</h4>            
            <div class="col-md-12 col-lg-12">
                <div class="d-flex flex-column">
                  <apx-chart [series]="CampaignStatsChartOptions.series" [chart]="CampaignStatsChartOptions.chart"
                    [dataLabels]="CampaignStatsChartOptions.dataLabels" [legend]="CampaignStatsChartOptions.legends"
                    [colors]="CampaignStatsChartOptions.colors" [stroke]="CampaignStatsChartOptions.stroke"
                    [labels]="CampaignStatsChartOptions.labels" [xaxis]="CampaignStatsChartOptions.xaxis"
                    [yaxis]="CampaignStatsChartOptions.yaxis" [tooltip]="CampaignStatsChartOptions.tooltip"
                    [markers]="CampaignStatsChartOptions.markers" [fill]="CampaignStatsChartOptions.fill"
                    [plotOptions]="CampaignStatsChartOptions.plotOptions"></apx-chart>
                </div>
                <div class="row m-b-0 m-t-20 text-center">
                  <!-- col -->
                  <div class="col-sm-12 col-md-4 m-b-10">
                    <span>Total Revenue</span>
                    <h4 class="m-b-0 mdi mdi-currency-gbp">3,567.56</h4>
                  </div>
                  <!-- col -->
                  <!-- col -->
                  <div class="col-sm-12 col-md-4 m-b-10">
                    <span>Total Revenue By Accessories</span>
                    <h4 class="m-b-0 mdi mdi-currency-gbp">769.08</h4>
                  </div>
                  <!-- col -->
                  <!-- col -->
                  <div class="col-sm-12 col-md-4 m-b-10">
                    <span>Estimated Sales</span>
                    <h4 class="m-b-0 mdi mdi-currency-gbp">5,489</h4>
                  </div>
                  <!-- col -->
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
            <div class="card bg-info">
                <div class="card-body">
                    <h4 class="card-title text-white">Total Refund</h4>
                    <div class="d-flex align-items-center m-t-30">
                        <div class="d-flex flex-column" style="height: 70px; width: 100px">
                            <apx-chart [series]="Revenue2ChartOptions.series" [chart]="Revenue2ChartOptions.chart"
                                [stroke]="Revenue2ChartOptions.stroke" [tooltip]="Revenue2ChartOptions.tooltip"
                                [fill]="Revenue2ChartOptions.fill">
                            </apx-chart>
                        </div>
                        <div class="ml-auto">
                            <h3 class="text-white m-b-0">
                                <i class="ti-arrow-up mdi mdi-currency-gbp"></i>351</h3>
                            <span class="text-white op-5">Jan 10 - Dec 20</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card bg-cyan">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div>
                            <h5 class="card-title text-white">Total Payout Provider</h5>
                            <h3 class="text-white m-b-0">
                                <i class="ti-arrow-up mdi mdi-currency-gbp"></i> 6548</h3>
                        </div>
                        <div class="ml-auto">
                            <ul class="list-style-none m-b-0">
                                <li class="text-white">
                                    <!-- <i class="fa fa-circle m-r-5 text-white font-12 op-3"></i> Visit </li> -->
                                <li class="text-white">
                                    <!-- <i class="fa fa-circle m-r-5 text-white font-12"></i> Page Views </li> -->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column" style="height: 70px;">
                    <apx-chart [series]="Pageview2ChartOptions.series" [chart]="Pageview2ChartOptions.chart"
                        [stroke]="Pageview2ChartOptions.stroke" [tooltip]="Pageview2ChartOptions.tooltip"
                        [colors]="Pageview2ChartOptions.colors" [fill]="Pageview2ChartOptions.fill">
                    </apx-chart>
                </div>
            </div>
        </div>
    
</div>
<!-- End Payment UI -->

