<div class="card-group">
<div class="card">
    <div class="card-body text-center">
        <h4 class="card-title">Provider Details</h4>
        <!-- <h5 class="card-subtitle"></h5> -->
        <div class="profile-pic m-b-20 m-t-20">
            <img src="assets/images/users/5.jpg" width="150" class="rounded-circle" alt="user" />
            <h4 class="m-t-20 m-b-0">Daniel Kristeen</h4>
            <a href="mailto:danielkristeen@gmail.com">danielkristeen@gmail.com</a>
        </div>
        <div class="badge badge-pill badge-light font-16">+917276703608</div>
        <div class="badge badge-pill badge-light font-16">30/12/1995</div>
        <div class="badge badge-pill badge-light font-16">Male</div>
      
    </div>
   
</div>
<div class="card">
    <div class="card-body text-center">
        <h4 class="card-title">Customer Details</h4>
        <!-- <h5 class="card-subtitle">Here is the provider list you can add, edit or delete the provider</h5> -->
        <div class="profile-pic m-b-20 m-t-20">
            <img src="assets/images/users/5.jpg" width="150" class="rounded-circle" alt="user" />
            <h4 class="m-t-20 m-b-0">Daniel Kristeen</h4>
            <a href="mailto:danielkristeen@gmail.com">danielkristeen@gmail.com</a>
        </div>
        <div class="badge badge-pill badge-light font-16">+917276703608</div>
        <div class="badge badge-pill badge-light font-16">30/12/1995</div>
         <div class="badge badge-pill badge-light font-16">Male</div> 
      
    </div>
   
</div>
</div>
