
<div class="row">
    <div class="col-12">
          
      <div class="card card-body">
        <h5 lass="card-title" style="text-align: left;">Payment Details</h5>
        <!-- <h4 class="card-title">Customer List<span style="float: right;"><button class="btn btn-primary ml-auto">Add Customer</button></span></h4> -->
        <!-- <h5 class="card-subtitle">Here is the Customer list you can add, edit or delet the Customer</h5> -->
     
        <div class="d-flex mb-3 mt-3">
          <!-- <input type="text" class="form-control w-25" placeholder="Search by Name or Email"> -->
          <!-- (click)="openModal(editUserModal, null)" -->
          
        </div>
        <div class="">
          <div class="row">
            <div class="col-md-12">
              <!-- <div class="card card-hover">
                <div class="card-body"> -->
                  <table  datatable [dtOptions]="dtOptions" class="row-border hover table table-bordered table-striped">
                    <thead >
                      <tr>
                          <th class=" backgroundColor">ID</th>
                        <th class=" backgroundColor">CUSTOMER </th>
                        <th class=" backgroundColor">PROVIDER</th>
                        <th class=" backgroundColor">SERVICE</th>
                        <th class=" backgroundColor">TYPE</th>
                        <th  class=" backgroundColor">DESCRIPTION</th>
                        <th class=" backgroundColor">PAYMENT STATUS</th>
                        <th class=" backgroundColor">DATE</th>
                        <th class=" backgroundColor">AMOUNT</th>
                        <th class=" backgroundColor">ACTION</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                          <td>1</td>
                        <td><div class="d-flex align-items-center">
                            <img class="rounded-circle" src='assets/images/users/1.jpg' height=" 25px" width="25px">
                            <div class="ml-3">
                              <p class="font-medium mb-0"><a [routerLink]="['/customer/view']">Sushant Patil</a></p>
                            </div>
                          </div></td>
                        <td><div class="d-flex align-items-center">
                          <img class="rounded-circle" src='assets/images/users/1.jpg' height=" 25px" width="25px">
                          <div class="ml-3">
                            <p class="font-medium mb-0"><a [routerLink]="['/provider/provider-view']">Raj Patil</a></p>
                          </div>
                        </div></td>
                        <td>AC Service</td>
                        <td>Remote</td>
                        <td>Debit</td>
                        <td>Refund</td>
                        <td>20/03/2021</td>
                        <td><i class="mdi mdi-currency-gbp"></i>20</td>
                        <td><a [routerLink]="['/payment/details']" class="text-inverse p-r-10" data-toggle="tooltip" title="View"><i class="fas fa-eye "></i></a>
                      </tr>
                      <tr>
                        <td>2</td>
                      <td><div class="d-flex align-items-center">
                          <img class="rounded-circle" src='assets/images/users/1.jpg' height=" 25px" width="25px">
                          <div class="ml-3">
                            <p class="font-medium mb-0"><a [routerLink]="['/customer/view']">Sakshi Mali</a></p>
                          </div>
                        </div></td>
                      <td><div class="d-flex align-items-center">
                        <img class="rounded-circle" src='assets/images/users/1.jpg' height=" 25px" width="25px">
                        <div class="ml-3">
                          <p class="font-medium mb-0"><a [routerLink]="['/provider/provider-view']">Sachin Kulkarni</a></p>
                        </div>
                      </div></td>
                      <td>Mobile Service</td>
                      <td>Remote</td>
                      <td>Debit</td>
                      <td>Paid</td>
                      <td>20/03/2021</td>
                      <td><i class="mdi mdi-currency-gbp"></i>20</td>
                      <td><a [routerLink]="['/payment/details']" class="text-inverse p-r-10" data-toggle="tooltip" title="View"><i class="fas fa-eye "></i></a>

                    </tr>
                    <tr>
                        <td>3</td>
                      <td><div class="d-flex align-items-center">
                          <img class="rounded-circle" src='assets/images/users/1.jpg' height=" 25px" width="25px">
                          <div class="ml-3">
                            <p class="font-medium mb-0"><a [routerLink]="['/customer/view']">Sushant Patil</a></p>
                          </div>
                        </div></td>
                      <td><div class="d-flex align-items-center">
                        <img class="rounded-circle" src='assets/images/users/1.jpg' height=" 25px" width="25px">
                        <div class="ml-3">
                          <p class="font-medium mb-0"><a [routerLink]="['/provider/provider-view']">Rohan Patil</a></p>
                        </div>
                      </div></td>
                      <td>Poor Wifi Coverage</td>
                      <td>Onsite</td>
                      <td>Credit</td>
                      <td>Refund</td>
                      <td>20/03/2021</td>
                      <td><i class="mdi mdi-currency-gbp"></i>20</td>
                      <td><a [routerLink]="['/payment/details']" class="text-inverse p-r-10" data-toggle="tooltip" title="View"><i class="fas fa-eye "></i></a>
                    </tr>
                    <tr>
                        <td>4</td>
                      <td><div class="d-flex align-items-center">
                          <img class="rounded-circle" src='assets/images/users/1.jpg' height=" 25px" width="25px">
                          <div class="ml-3">
                            <p class="font-medium mb-0"><a [routerLink]="['/customer/view']">Kiran Mane</a></p>
                          </div>
                        </div></td>
                      <td><div class="d-flex align-items-center">
                        <img class="rounded-circle" src='assets/images/users/1.jpg' height=" 25px" width="25px">
                        <div class="ml-3">
                          <p class="font-medium mb-0"><a [routerLink]="['/provider/provider-view']">Mona Joshi</a></p>
                        </div>
                      </div></td>
                      <td>ISP Service</td>
                      <td>Remote</td>
                      <td>Debit</td>
                      <td>Paid</td>
                      <td>20/03/2021</td>
                      <td><i class="mdi mdi-currency-gbp"></i>20</td>
                      <td><a [routerLink]="['/payment/details']" class="text-inverse p-r-10" data-toggle="tooltip" title="View"><i class="fas fa-eye "></i></a>
                    </tr>
                    <tr>
                        <td>5</td>
                      <td><div class="d-flex align-items-center">
                          <img class="rounded-circle" src='assets/images/users/1.jpg' height=" 25px" width="25px">
                          <div class="ml-3">
                            <p class="font-medium mb-0"><a [routerLink]="['/customer/view']">Manohar Mahadik</a></p>
                          </div>
                        </div></td>
                      <td><div class="d-flex align-items-center">
                        <img class="rounded-circle" src='assets/images/users/1.jpg' height=" 25px" width="25px">
                        <div class="ml-3">
                          <p class="font-medium mb-0"><a [routerLink]="['/provider/provider-view']">Sushant Patil</a></p>
                        </div>
                      </div></td>
                      <td>Tv Service</td>
                      <td>Onsite</td>
                      <td>Credit</td>
                      <td>Pending</td>
                      <td>20/03/2021</td>
                      <td><i class="mdi mdi-currency-gbp"></i>20</td>
                      <td><a [routerLink]="['/payment/details']" class="text-inverse p-r-10" data-toggle="tooltip" title="View"><i class="fas fa-eye "></i></a>
                    </tr>
                      
                    </tbody>
                  </table>  
                <!-- </div>
              </div> -->
            </div>
          </div>
          
          
        </div>
        <div class="d-flex justify-content-center mt-5">
          <!-- <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="userList.length"></ngb-pagination> -->
        </div>
      </div>
    </div>
  </div>
  

