<!-- 

<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Assessment Overview By Category</h4>
            <ngx-charts-bar-vertical-2d class="chart-container" [scheme]="colorScheme" [schemeType]="schemeType" [results]="multi" [gradient]="gradient"
                [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                [tooltipDisabled]="tooltipDisabled" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" (legendLabelClick)="onLegendLabelClick($event)"
                [showGridLines]="showGridLines" [barPadding]="barPadding" [groupPadding]="20" [roundDomains]="roundDomains"
                (select)="select($event)">
            </ngx-charts-bar-vertical-2d>
        </div>
    </div>
</div> -->
<head><link rel="stylesheet" href="https://unpkg.com/treeflex/dist/css/treeflex.css"></head>
<div class="row">
<div class="col-6">
    <div>
    <div class="card" id="card1">
        <div class="card-body">
            <div class="profile-pic m-b-20 m-t-20" >
           <h3 class="card-title" style="margin-top: 10px;">Strength of Provider</h3>
           <ul>
            <li>Facing any problem boldly</li>
            <li>Discipline</li>
            <li>Good Listener</li>
            <li>Understandable</li>
            <li>Good Communication</li>
            <li>Continuous Learning</li>
            <li>Good service</li>
            <li>Good Management</li>
          </ul>

            </div>
    
          
        </div>
        </div>
    </div>
</div>
<div class="col-6">
    <div>
    <div class="card" id="card2">
        <div class="card-body">
            <div class="profile-pic m-b-20 m-t-20" >
                <h3 class="card-title">Weakness of Provider</h3>
                <ul>
                    <li>Interpersonal Communication</li>
                    <li>Nature</li>
                    <li>Presentation Skills</li>
                    <li>Dependent</li>
                    <li>Lazy</li>
                    <li>Capacity</li>
                    <li>Deliver time</li>
                    <li>Management</li>
                  </ul>
            
           
            </div>
    
        </div>
        </div>
    </div>
</div>

</div>
<div class="row">
    <div class="col-12">
        
        <div class="card" id="card3">
            <div class="card-body">
                <h4 class="card-title1">Area of Improvement for Provider</h4>
                <div class="tf-tree" style="margin-top: 30px;">
                    <ul>
                      <li>
                        <span class="tf-nc" style=" color:blue;">Area of Improvement</span>
                        <ul>
                          <li>
                            <span class="tf-nc tf1">Listening</span>
                            <ul>
                              <li><span class="tf-nc  tf2">Communication</span></li>
                              <li>
                                <span class="tf-nc tf2">Management</span>
                                <ul>
                                  <li><span class="tf-nc">Learning New Skill</span></li>
                                  <li><span class="tf-nc">Written Communication</span></li>
                                </ul>
                              </li>
                              <!-- <li><span class="tf-nc">6</span></li> -->
                            </ul>
                          </li>
                          <li>
                            <span class="tf-nc tf1">Goal Setting</span>
                            <ul>
                              <li><span class="tf-nc tf2">Reading</span></li>
                              <li><span class="tf-nc tf2">Cooperation</span></li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>


             </div>
        </div>     
        </div>
</div>