<!-- //most recent job booking -->
<div class="row">
  <div class="col-12">
      <div class="card card-body">

          <!-- title -->
          <div class="d-md-flex align-items-center">
              <div>
                  <!-- <h4 class="card-title"></h4> -->
              </div>
          </div>
          <!-- title -->
          <agm-map [latitude]="lat"  [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false" #map4>
            <agm-marker [latitude]="lat" [longitude]="lng"  [iconUrl]="{ url: 'img1', scaledSize: [20,20], origin: [0,0], anchoriconAnchor: [15,15] }">
                <agm-info-window><a [routerLink]="['/jobs/jobview']">101</a><P>Pune</P></agm-info-window>
            </agm-marker>
            <agm-marker [latitude]="latA" [longitude]="lngA"  [iconUrl]="{ url: 'img1', scaledSize: [20,20], origin: [0,0], anchoriconAnchor: [15,15] }">
                <agm-info-window><a [routerLink]="['/jobs/jobview']">102</a><P>Banglore</P></agm-info-window>
            </agm-marker>
            <agm-marker [latitude]="latB" [longitude]="lngB"  [iconUrl]="{ url: 'img1', scaledSize: [20,20], origin: [0,0], anchoriconAnchor: [15,15] }">
                <agm-info-window><a [routerLink]="['/jobs/jobview']">103</a> <P>Mysore</P></agm-info-window>
            </agm-marker>
            <agm-marker [latitude]="latC" [longitude]="lngC"  [iconUrl]="{ url: 'img1', scaledSize: [20,20], origin: [0,0], anchoriconAnchor: [15,15] }">
                <agm-info-window><a [routerLink]="['/jobs/jobview']">104</a><P>Delhi</P> </agm-info-window>
            </agm-marker>
         
        </agm-map>
      </div>
  </div>
  </div>

  <!-- //end map -->
<div>
<div class="row">
    <div class="col-12">
      <div class="card card-body">
      
        <!-- <h4 class="card-title">Provider List</h4>
        <h5 class="card-subtitle">Here is the Provider list you can add, edit or delete the Provider</h5> -->
        <div class="table-responsive">
          <table class="table mb-0 no-wrap v-middle">
            <thead style="background: #92adfc;">
              <tr>
                <th  scope="col"class="tdLeft backgroundColor tdLeft">JOBID</th>
                <th scope="col" class="backgroundColor tdLeft">SERVICE</th>
                <th scope="col" class="backgroundColor tdLeft">CUSTOMER</th>
                <th scope="col" class="backgroundColor tdLeft">PROVIDER</th>
                <th scope="col" class="backgroundColor tdLeft">DURATION</th>
                <th scope="col" class="backgroundColor tdCenter">TYPE</th>
                <th scope="col" class="backgroundColor tdCenter">STATUS</th>
                <th scope="col" class="backgroundColor tdRight">AMOUNT</th>
               <th scope="col" class="backgroundColor tdCenter">ACTION</th>
                
                
                <!-- <th scope="col">Action</th> -->
              </tr>
            </thead>
            <tbody>
              <!-- <tr *ngFor="let user of filterArray | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
  
                <td class="text-center">
                  {{user.id}}
                </td>
  
                <td>
                  <div class="d-flex align-items-center">
                    <img class="rounded-circle" [src]='user.imagePath' height=" 50px" width="50px">
                    <div class="ml-3">
                      <p class="font-medium mb-0">{{ user.Name }}</p>
                      <small>{{user.Position}}</small>
                    </div>
                  </div>
                </td>
                <td>{{ user.Email }}</td>
  
                <td>{{ user.Mobile }}</td>
                <td>{{ user.DateOfJoining |date :'fullDate' }}</td>
  
                <td>{{ user.Salary }}</td>
                <td>{{ user.Projects }}</td>
                <td>
                  <a href="javascript: void(0);" (click)="openModal(editUserModal, user)" class="link mr-2"
                    placement="top" ngbTooltip="Edit">
                    <i-feather name="edit-2" class="feather-sm"></i-feather>
                  </a>
                  <a href="javascript: void(0);" class="link" (click)="deleteUser(user.id)" placement="top"
                    ngbTooltip="Delete">
                    <i-feather name="trash-2" class="feather-sm"></i-feather>
                  </a>
                </td>
              </tr> -->
              <tr>
                <td class="tdLeft" ><a [routerLink]="['/jobs/jobview']">101</a></td>
                  <td class="tdLeft">Poor wifi coverage</td>
                  <td class="tdLeft"><div class="d-flex">
                    <img class="rounded-circle" src='assets/images/users/1.jpg' height=" 25px" width="25px">
                    <div class="ml-3">
                      <p class="font-medium mb-0"><a [routerLink]="['/customer/view']">Polard Mark</a></p>
                    </div>
                  </div></td>
                  <td class="tdLeft"><div class="d-flex">
                    <img class="rounded-circle" src='assets/images/users/1.jpg' height=" 25px" width="25px">
                    <div class="ml-3">
                      <p class="font-medium mb-0"><a [routerLink]="['/provider/provider-view']">James Smith</a></p>
                    </div>
                  </div></td>
                  <td class="tdLeft">1 Hour</td>
                  <td class="tdCenter"><label class="label label-success">On-site</label></td>
                  <td class="tdCenter">Publish</td>
                  <td class="tdRight"><i class="mdi mdi-currency-gbp"></i>29</td>
                  <td class="tdCenter"><a [routerLink]="['/jobs/jobview']" class="text-inverse p-r-10" data-toggle="tooltip" title="View"><i class="ti-eye"></i></a></td>
                  
              </tr>
              <tr>
                <td class="tdLeft" ><a [routerLink]="['/jobs/jobview']">102</a></td>
                  <td class="tdLeft">Tv</td>
                  <td class="tdLeft"><div class="d-flex">
                    <img class="rounded-circle" src='assets/images/users/1.jpg' height=" 25px" width="25px">
                    <div class="ml-3">
                      <p class="font-medium mb-0"><a [routerLink]="['/customer/view']">Jack Mark</a></p>
                    </div>
                  </div></td>
                  <td class="tdLeft"><div class="d-flex">
                    <img class="rounded-circle" src='assets/images/users/1.jpg' height=" 25px" width="25px">
                    <div class="ml-3">
                      <p class="font-medium mb-0"><a [routerLink]="['/provider/provider-view']">Ronald Mark</a></p>
                    </div>
                  </div></td>
                  <td class="tdLeft">1 Hour</td>
                  <td class="tdCenter"><label class="label label-dark">Remote</label></td>
                  <td class="tdCenter">Publish</td>
                  <td class="tdRight"><i class="mdi mdi-currency-gbp"></i>49</td>
                  <td class="tdCenter"><a [routerLink]="['/jobs/jobview']" class="text-inverse p-r-10" data-toggle="tooltip" title="View"><i class="ti-eye"></i></a></td>
                  
              </tr>
              <tr>
                <td class="tdLeft" ><a [routerLink]="['/jobs/jobview']">103</a></td>
                  <td class="tdLeft">Network</td>
                  <td class="tdLeft"><div class="d-flex">
                    <img class="rounded-circle" src='assets/images/users/1.jpg' height=" 25px" width="25px">
                    <div class="ml-3">
                      <p class="font-medium mb-0"><a [routerLink]="['/customer/view']">Sam Mark</a></p>
                    </div>
                  </div></td>
                  <td class="tdLeft"><div class="d-flex">
                    <img class="rounded-circle" src='assets/images/users/1.jpg' height=" 25px" width="25px">
                    <div class="ml-3">
                      <p class="font-medium mb-0"><a [routerLink]="['/provider/provider-view']">Johan Smith</a></p>
                    </div>
                  </div></td>
                  <td class="tdLeft">1 Hour</td>
                  <td class="tdCenter"><label class="label label-success">On-site</label></td>
                  <td class="tdCenter">Publish</td>
                  <td class="tdRight"><i class="mdi mdi-currency-gbp"></i>29</td>
                  <td class="tdCenter"><a [routerLink]="['/jobs/jobview']" class="text-inverse p-r-10" data-toggle="tooltip" title="View"><i class="ti-eye"></i></a></td>
                  
              </tr>
              <tr>
                <td class="tdLeft" ><a [routerLink]="['/jobs/jobview']">104</a></td>
                  <td class="tdLeft">AC</td>
                  <td class="tdLeft"><div class="d-flex">
                    <img class="rounded-circle" src='assets/images/users/1.jpg' height=" 25px" width="25px">
                    <div class="ml-3">
                      <p class="font-medium mb-0"><a [routerLink]="['/customer/view']">Harry King</a></p>
                    </div>
                  </div></td>
                  <td class="tdLeft"><div class="d-flex">
                    <img class="rounded-circle" src='assets/images/users/1.jpg' height=" 25px" width="25px">
                    <div class="ml-3">
                      <p class="font-medium mb-0"><a [routerLink]="['/provider/provider-view']">Sam Wood</a></p>
                    </div>
                  </div></td>
                  <td class="tdLeft">1 Hour</td>
                  <td class="tdCenter"><label class="label label-success">On-site</label></td>
                  <td class="tdCenter">Publish</td>
                  <td class="tdRight"><i class="mdi mdi-currency-gbp"></i>29</td>
                  <td class="tdCenter"><a [routerLink]="['/jobs/jobview']" class="text-inverse p-r-10" data-toggle="tooltip" title="View"><i class="ti-eye"></i></a></td>
                  
              </tr>
              <tr>
                <td class="tdLeft" ><a [routerLink]="['/jobs/jobview']">105</a></td>
                  <td class="tdLeft">Mobile</td>
                  <td class="tdLeft"><div class="d-flex">
                    <img class="rounded-circle" src='assets/images/users/1.jpg' height=" 25px" width="25px">
                    <div class="ml-3">
                      <p class="font-medium mb-0"><a [routerLink]="['/customer/view']">Polard Mark</a></p>
                    </div>
                  </div></td>
                  <td class="tdLeft"><div class="d-flex">
                    <img class="rounded-circle" src='assets/images/users/1.jpg' height=" 25px" width="25px">
                    <div class="ml-3">
                      <p class="font-medium mb-0"><a [routerLink]="['/provider/provider-view']">James Smith</a></p>
                    </div>
                  </div></td>
                  <td class="tdLeft">2 Hour</td>
                  <td class="tdCenter"><label class="label label-dark">Remote</label></td>
                  <td class="tdCenter">Cancelled</td>
                  <td class="tdRight"><i class="mdi mdi-currency-gbp"></i>29</td>
                  <td class="tdCenter"><a [routerLink]="['/jobs/jobview']" class="text-inverse p-r-10" data-toggle="tooltip" title="View"><i class="ti-eye"></i></a></td>
                  
              </tr>
             
            
            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-center mt-5">
          <!-- <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="userList.length"></ngb-pagination> -->
        </div>
      </div>
    </div>
  </div>
</div>
  
<!--   
  <ng-template #editUserModal let-modal>
  
    <div class="modal-header">
  
      <h5 class="modal-title" id="editUserLabel">Add Provider</h5>
  
      <button type="button" class="close" (click)="closeBtnClick()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
  
    </div>
  
    <div class="modal-body">
  
      <form [formGroup]="editUser" (ngSubmit)="onSubmit()">
  
        <div class="form-group row">
          <label for="name" class="col-sm-4 col-form-label">First Name</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" formControlName="Name" id="name" (blur)=logValidationErrors(editUser)>
            <span class="help-block" *ngIf="formsErrors.Name">
              {{formsErrors.Name}}
            </span>
          </div>
        </div>
        <div class="form-group row">
          <label for="name" class="col-sm-4 col-form-label">Last Name</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" formControlName="Name" id="name" (blur)=logValidationErrors(editUser)>
            <span class="help-block" *ngIf="formsErrors.Name">
              {{formsErrors.Name}}
            </span>
          </div>
        </div>
  
  
        <div class="form-group row">
          <label for="position" class="col-sm-4 col-form-label">Email</label>
          <div class="col-sm-8">
            <input type="email" class="form-control" formControlName="Position" id="position"
              (blur)=logValidationErrors(editUser)>
            <span class="help-block" *ngIf="formsErrors.Position">
              {{formsErrors.Position}}
            </span>
          </div>
        </div>
  
        <div class="form-group row">
          <label for="Password" class="col-sm-4 col-form-label">Password</label>
          <div class="col-sm-8">
            <input type="email" class="form-control" formControlName="Email" id="email"
              (blur)=logValidationErrors(editUser)>
            <span class="help-block" *ngIf="formsErrors.Email">
              {{formsErrors.Email}}
            </span>
          </div>
        </div>
  
        <div class="form-group row">
          <label for="mobile" class="col-sm-4 col-form-label">Mobile</label>
          <div class="col-sm-8">
            <input type="tel" class="form-control" formControlName="Mobile" id="mobile"
              (blur)=logValidationErrors(editUser)>
            <span class="help-block" *ngIf="formsErrors.Mobile">
              {{formsErrors.Mobile}}
            </span>
          </div>
        </div>
  

        <div class="form-group row">
          <label for="projects" class="col-sm-4 col-form-label">Date of Birth</label>
          <div class="col-sm-8">
            <input type="Date" class="form-control" formControlName="Projects" id="projects"
              (blur)=logValidationErrors(editUser)>
            <span class="help-block" *ngIf="formsErrors.Projects">
              {{formsErrors.Projects}}
            </span>
          </div>
        </div> 
  
  
  
  
  
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeBtnClick()">Close</button>
  
          <button type="submit" class="btn btn-primary" [disabled]="editUser.invalid">Save</button>
        </div>
  
        
      </form>
    </div>
  </ng-template> -->