

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <!-- <h4 class="card-title">Payment History In Details</h4> -->
                <!-- <h6 class="card-subtitle">This is basic Default pagination</h6> -->

                <ul ngbNav #nav="ngbNav" [(activeId)]="active">
                    <li [ngbNavItem]="1">
                        <a ngbNavLink >Admin User</a>
                        <ng-template ngbNavContent>
                            <app-user-profile></app-user-profile>
                        </ng-template>
                    </li>
                  
                    <li [ngbNavItem]="2">
                        <a ngbNavLink>Latest Activity</a>
                        <ng-template ngbNavContent>
                          <app-activity></app-activity>
                        </ng-template>
                    </li>
                    
                   
                </ul>

                <div [ngbNavOutlet]="nav" class="mt-2"></div>



            </div>
        </div>
    </div> 
</div> 


