.feed-widget {
    height: 370px;
    position: relative;
  }
  /* .ps {
    overflow: hidden !important;
    overflow-anchor: none;
    -ms-overflow-style: none;
    touch-action: auto;
    -ms-touch-action: auto;
} */

.backgroundColor {
  background-color: #2962ff;
  color :white;
}
.mailbox .message-center {
  height: 317px;
  overflow: auto;
  position: relative;
}

.ps {
  overflow: hidden !important;
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto;
}