<div class="row">
    <div class="col-lg-3">
        <div class="card  card-hover">
            <div class="card-body">
                <h4 class="card-title">User</h4>
                <div class="d-flex no-block align-items-center m-t-30">
                    <div class="m-r-10">
                        <span class="text-blue display-5">
                            <i class="mdi mdi-account-box"></i>
                        </span>
                    </div>
                    <div class="">
                        <h3 class="font-medium m-b-0">56</h3>
                        <span class="">Active User</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card  card-hover">
            <div class="card-body">
                <h4 class="card-title">Provider</h4>
                <div class="d-flex no-block align-items-center m-t-30">
                    <div class="m-r-10">
                        <span class="text-blue display-5">
                            <i class="mdi mdi-account-box"></i>
                        </span>
                    </div>
                    <div class="">
                        <h3 class="font-medium m-b-0">8</h3>
                        <span class="">Active Provider</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card  card-hover">
            <div class="card-body">
                <h4 class="card-title">Job</h4>
                <div class="d-flex no-block align-items-center m-t-30">
                    <div class="m-r-10">
                        <span class="text-blue display-5">
                            <i class="mdi mdi-puzzle"></i>
                        </span>
                    </div>
                    <div class="">
                        <h3 class="font-medium m-b-0">24</h3>
                        <span class="">Active Job Details</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card  card-hover">
            <div class="card-body">
                <h4 class="card-title">Transaction</h4>
                <div class="d-flex no-block align-items-center m-t-30">
                    <div class="m-r-10">
                        <span class="text-blue display-5">
                            <i class="mdi mdi-wallet-travel"></i>
                        </span>
                    </div>
                    <div class="">
                        <h3 class="font-medium m-b-0">123</h3>
                        <span class="">Transaction Details</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        <div class="card  card-hover">
            <div class="card-body">
                <h4 class="card-title">Booked Session</h4>
                <div class="d-flex no-block align-items-center m-t-30">
                    <div class="m-r-10">
                        <span class="text-blue display-5">
                            <i class="mdi mdi-library-books"></i>
                        </span>
                    </div>
                    <div class="">
                        <h3 class="font-medium m-b-0">0</h3>
                        <span class="">Booked Job Session</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card  card-hover">
            <div class="card-body">
                <h4 class="card-title">Dispute Raised</h4>
                <div class="d-flex no-block align-items-center m-t-30">
                    <div class="m-r-10">
                        <span class="text-blue display-5">
                            <i class="mdi mdi-account-box"></i>
                        </span>
                    </div>
                    <div class="">
                        <h3 class="font-medium m-b-0">12</h3>
                        <span class="">Dispute Raised</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card  card-hover">
            <div class="card-body">
                <h4 class="card-title">Toto Earning</h4>
                <div class="d-flex no-block align-items-center m-t-30">
                    <div class="m-r-10">
                        <span class="text-blue display-5">
                            <i class="mdi mdi-chart-bar"></i>
                        </span>
                    </div>
                    <div class="">
                        <h3 class="font-medium m-b-0">$2300</h3>
                        <span class="">Total Earning</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="card  card-hover">
            <div class="card-body">
                <h4 class="card-title">User</h4>
                <div class="d-flex align-items-center">
                    <div class="m-r-10">
                        <span class="text-orange display-5">
                            <i class="mdi mdi-tablet-ipad"></i>
                        </span>
                    </div>
                    <div>
                        <span class="text-muted">Total No. of App Logged User</span>
                        <h3 class="font-medium m-b-0">234</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card  card-hover">
            <div class="card-body">
                <h4 class="card-title">User</h4>
                <div class="d-flex align-items-center">
                    <div class="m-r-10">
                        <span class="text-orange display-5">
                            <i class="mdi mdi-account-box"></i>
                        </span>
                    </div>
                    <div>
                        <span class="text-muted">Total No. of Active User</span>
                        <h3 class="font-medium m-b-0">69</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card  card-hover">
            <div class="card-body">
                <h4 class="card-title">Provider</h4>
                <div class="d-flex align-items-center">
                    <div class="m-r-10">
                        <span class="text-orange display-5">
                            <i class="mdi mdi-account-box"></i>
                        </span>
                    </div>
                    <div>
                        <span class="text-muted">Total No. of Active Provider</span>
                        <h3 class="font-medium m-b-0">789</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="card  card-hover">
            <div class="card-body">
                <h4 class="card-title">Passed Assement</h4>
                <div class="d-flex align-items-center">
                    <div class="m-r-10">
                        <span class="text-orange display-5">
                            <i class="mdi mdi-content-paste"></i>
                        </span>
                    </div>
                    <div>
                        <span class="text-muted">Total No. of Passed Asement</span>
                        <h3 class="font-medium m-b-0">145</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card  card-hover">
            <div class="card-body">
                <h4 class="card-title">Failed Assement</h4>
                <div class="d-flex align-items-center">
                    <div class="m-r-10">
                        <span class="text-orange display-5">
                            <i class="mdi mdi-content-paste"></i>
                        </span>
                    </div>
                    <div>
                        <span class="text-muted">Total No. of Failed Asement</span>
                        <h3 class="font-medium m-b-0">89</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card  card-hover">
            <div class="card-body">
                <h4 class="card-title">Pending Assement</h4>
                <div class="d-flex align-items-center">
                    <div class="m-r-10">
                        <span class="text-orange display-5">
                            <i class="mdi mdi-content-paste"></i>
                        </span>
                    </div>
                    <div>
                        <span class="text-muted">Total No. of Pending Asement</span>
                        <h3 class="font-medium m-b-0">49</h3>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card card-hover">
            <div class="card-body">
                <div class="d-md-flex align-items-center">
                    <div>
                        <h4 class="card-title">Jobs Booked</h4>
                        <h5 class="card-subtitle">Jobs Booked By Category</h5>
                    </div>
                    <div class="ml-auto align-items-center">
                        <div class="dl">
                            <select class="custom-select">
                                <option value="0" selected>Monthly</option>
                                <option value="1">Daily</option>
                                <option value="2">Weekly</option>
                                <option value="3">Yearly</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- column -->
                <div class="row my-4 py-2">
                    <!-- column -->
                    <div class="col-lg-6">
                        <div class="m-b-20 d-flex align-items-center flex-column">
                            <apx-chart [series]="mEmailChartOptions.series" [chart]="mEmailChartOptions.chart"
                                [dataLabels]="mEmailChartOptions.dataLabels" [legend]="mEmailChartOptions.legends"
                                [colors]="mEmailChartOptions.colors" [stroke]="mEmailChartOptions.stroke"
                                [labels]="mEmailChartOptions.labels" [tooltip]="mEmailChartOptions.tooltip"
                                [plotOptions]="mEmailChartOptions.plotOptions"></apx-chart>
                        </div>
                    </div>
                    <!-- column -->
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-md-6">
                                <h4>Total Jobs</h4>
                            </div>
                            <div class="col-md-6">
                                <h4>345</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h4>Total Services</h4>
                            </div>
                            <div class="col-md-6">
                                <h4>7</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- column -->
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-hover">
            <div class="card-body">
                <div class="d-md-flex align-items-center">
                    <div>
                        <h4 class="card-title">Contractor Distribution</h4>
                        <h5 class="card-subtitle">Contractor Distribution Rate Wise Details</h5>
                    </div>
                    <div class="ml-auto align-items-center">
                        <div class="dl">
                            <select class="custom-select">
                                <option value="0" selected>Monthly</option>
                                <option value="1">Daily</option>
                                <option value="2">Weekly</option>
                                <option value="3">Yearly</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- column -->
                <div class="row my-4 py-2">
                    <!-- column -->
                    <div class="col-lg-12">
                        <div class="m-b-20 d-flex align-items-center flex-column">
                            <apx-chart [series]="mEmailChartOptions1.series" [chart]="mEmailChartOptions1.chart"
                                [dataLabels]="mEmailChartOptions1.dataLabels" [legend]="mEmailChartOptions1.legends"
                                [colors]="mEmailChartOptions1.colors" [stroke]="mEmailChartOptions1.stroke"
                                [labels]="mEmailChartOptions1.labels" [tooltip]="mEmailChartOptions1.tooltip"
                                [plotOptions]="mEmailChartOptions1.plotOptions"></apx-chart>
                        </div>
                    </div>
                   
                </div>
                <!-- column -->
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="card card-hover">
            <div class="card-body">
                <div class="d-md-flex align-items-center">
                    <div>
                        <h4 class="card-title">Service Sales Performance</h4>
                        <h5 class="card-subtitle">Service wise sales Performance details</h5>
                    </div>
                    <div class="ml-auto align-items-center">
                        <div class="dl">
                            <select class="custom-select">
                                <option value="0" selected>Monthly</option>
                                <option value="1">Daily</option>
                                <option value="2">Weekly</option>
                                <option value="3">Yearly</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- column -->
                <div class="row my-4 py-2">
                    <!-- column -->
                    <div class="col-lg-12">
                        <div class="m-b-20 d-flex align-items-center flex-column">
                            <apx-chart [series]="mEmailChartOptions2.series" [chart]="mEmailChartOptions2.chart"
                                [dataLabels]="mEmailChartOptions2.dataLabels" [legend]="mEmailChartOptions2.legends"
                                [colors]="mEmailChartOptions2.colors" [stroke]="mEmailChartOptions2.stroke"
                                [labels]="mEmailChartOptions2.labels" [tooltip]="mEmailChartOptions2.tooltip"
                                [plotOptions]="mEmailChartOptions2.plotOptions"></apx-chart>
                        </div>
                    </div>
                    <!-- column -->
                    <!-- <div class="col-lg-6">
                        <div class="row">
                            <div class="col-md-6">
                                <h4>Total Jobs</h4>
                            </div>
                            <div class="col-md-6">
                                <h4>345</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h4>Total Services</h4>
                            </div>
                            <div class="col-md-6">
                                <h4>7</h4>
                            </div>
                        </div>
                    </div> -->
                </div>
                <!-- column -->
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-4">
        <div class="card card-hover">
            <div class="card-body" style="max-height: 440px;overflow: auto;">
                <h4 class="card-title">Schedule</h4>
                <div class="feed-widget">
                    <ul class="list-style-none feed-body m-0 p-b-20">
                        <li class="feed-item">
                            <div class="feed-icon bg-info">
                                <i class="far fa-bell"></i>
                            </div> Connectivity
                            <span class="ml-auto font-12 text-muted">34</span>
                        </li>
                        <li class="feed-item">
                            <div class="feed-icon bg-success">
                                <i class="ti-server"></i>
                            </div> Stove Repair Service
                            <span class="ml-auto font-12 text-muted">254</span>
                        </li>
                        <li class="feed-item">
                            <div class="feed-icon bg-warning">
                                <i class="ti-shopping-cart"></i>
                            </div> TV
                            <span class="ml-auto font-12 text-muted">23</span>
                        </li>
                        <li class="feed-item">
                            <div class="feed-icon bg-danger">
                                <i class="ti-user"></i>
                            </div> Mobile Hardware
                            <span class="ml-auto font-12 text-muted">39</span>
                        </li>
                        <li class="feed-item">
                            <div class="feed-icon bg-inverse">
                                <i class="far fa-bell"></i>
                            </div> New Network Setup
                            <span class="ml-auto font-12 text-muted">274</span>
                        </li>
                        <li class="feed-item">
                            <div class="feed-icon bg-info">
                                <i class="far fa-bell"></i>
                            </div> ISP
                            <span class="ml-auto font-12 text-muted">1290</span>
                        </li>
                        <li class="feed-item">
                            <div class="feed-icon bg-danger">
                                <i class="ti-user"></i>
                            </div> Poor WIFI Coverage
                            <span class="ml-auto font-12 text-muted">30</span>
                        </li>
                        <li class="feed-item">
                            <div class="feed-icon bg-danger">
                                <i class="ti-user"></i>
                            </div> Voice Modulation
                            <span class="ml-auto font-12 text-muted">302</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <!-- title -->
                <div class="d-flex align-items-center m-b-40">
                    <div>
                        <h4 class="card-title">Sales Performance</h4>
                        <h5 class="card-subtitle">Overview of Latest Month</h5>
                    </div>
                    <div class="ml-auto">
                        <div class="dl">
                            <select class="custom-select">
                                <option value="0" selected>Monthly</option>
                                <option value="1">Daily</option>
                                <option value="2">Weekly</option>
                                <option value="3">Yearly</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- title -->
                <div class=" d-flex flex-column">
                    <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
                        [yaxis]="chartOptions.yaxis" [grid]="chartOptions.grid" [stroke]="chartOptions.stroke"
                        [tooltip]="chartOptions.tooltip" [dataLabels]="chartOptions.dataLabels"
                        [legend]="chartOptions.legend" [colors]="chartOptions.colors" [markers]="chartOptions.markers">
                    </apx-chart>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <!-- title -->
                <div class="d-md-flex align-items-center">
                    <div>
                        <h4 class="card-title">Most Recent Booking</h4>
                        <h5 class="card-subtitle">Overview of Most Recent Booking</h5>
                    </div>
                    <div class="ml-auto">
                        <div class="dl">
                            <select class="custom-select">
                                <option value="0" selected>Monthly</option>
                                <option value="1">Daily</option>
                                <option value="2">Weekly</option>
                                <option value="3">Yearly</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- title -->
            </div>
            <div class="table-responsive">
                <table class="table v-middle">
                    <thead>
                        <tr class="bg-light">
                            <th class="border-top-0">Services</th>
                            <th class="border-top-0">Title</th>
                            <th class="border-top-0">Status</th>
                            <th class="border-top-0">User name</th>
                            <th class="border-top-0">Provider Name</th>
                            <th class="border-top-0">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="">
                                        <h4 class="m-b-0 font-16">New Network Setup</h4>
                                    </div>
                                </div>
                            </td>
                            <td>On-site</td>
                            <td><label class="label label-success">Done</label></td>
                            
                            <td>Sam</td>
                            <td>Jenny</td>
                            <td>View</td>
                            
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="">
                                        <h4 class="m-b-0 font-16">ISP</h4>
                                    </div>
                                </div>
                            </td>
                            <td>On-site</td>
                            <td><label class="label label-warning">Draft</label></td>
                            
                            <td>Mark Wood</td>
                            <td>Jenny</td>
                            <td>View</td>
                            
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="">
                                        <h4 class="m-b-0 font-16">Connectivity</h4>
                                    </div>
                                </div>
                            </td>
                            <td>Remote</td>
                            <td><label class="label label-success">Done</label></td>
                            
                            <td>Sam</td>
                            <td>Ram Shekhar Jadhav</td>
                            <td>View</td>
                            
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="">
                                        <h4 class="m-b-0 font-16">New Network Setup</h4>
                                    </div>
                                </div>
                            </td>
                            <td>Remote</td>
                            <td><label class="label label-success">Done</label></td>
                            
                            <td>Jenny</td>
                            <td>Tom</td>
                            <td>View</td>
                            
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="">
                                        <h4 class="m-b-0 font-16">New Network Conncection</h4>
                                    </div>
                                </div>
                            </td>
                            <td>On-site</td>
                            <td><label class="label label-danger">Cancel</label></td>
                            
                            <td>Sam</td>
                            <td>Jenny</td>
                            <td>View</td>
                            
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="">
                                        <h4 class="m-b-0 font-16">New Network Setup</h4>
                                    </div>
                                </div>
                            </td>
                            <td>On-site</td>
                            <td><label class="label label-success">Done</label></td>
                            
                            <td>Sam</td>
                            <td>Jenny</td>
                            <td>View</td>
                            
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <!-- title -->
                <div class="d-md-flex align-items-center">
                    <div>
                        <h4 class="card-title">Top rated contractor</h4>
                        <h5 class="card-subtitle">Overview of Top rated contractor</h5>
                    </div>
                    <div class="ml-auto">
                        <div class="dl">
                            <select class="custom-select">
                                <option value="0" selected>Monthly</option>
                                <option value="1">Daily</option>
                                <option value="2">Weekly</option>
                                <option value="3">Yearly</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- title -->
            </div>
            <div class="table-responsive">
                <table class="table v-middle">
                    <thead>
                        <tr class="bg-light">
                            <th class="border-top-0">Services</th>
                            <th class="border-top-0">Title</th>
                            <th class="border-top-0">Status</th>
                            <th class="border-top-0">User name</th>
                            <th class="border-top-0">Provider Name</th>
                            <th class="border-top-0">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="">
                                        <h4 class="m-b-0 font-16">New Network Setup</h4>
                                    </div>
                                </div>
                            </td>
                            <td>On-site</td>
                            <td><label class="label label-success">Done</label></td>
                            
                            <td>Sam</td>
                            <td>Jenny</td>
                            <td>View</td>
                            
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="">
                                        <h4 class="m-b-0 font-16">ISP</h4>
                                    </div>
                                </div>
                            </td>
                            <td>On-site</td>
                            <td><label class="label label-warning">Draft</label></td>
                            
                            <td>Mark Wood</td>
                            <td>Jenny</td>
                            <td>View</td>
                            
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="">
                                        <h4 class="m-b-0 font-16">Connectivity</h4>
                                    </div>
                                </div>
                            </td>
                            <td>Remote</td>
                            <td><label class="label label-success">Done</label></td>
                            
                            <td>Sam</td>
                            <td>Ram Shekhar Jadhav</td>
                            <td>View</td>
                            
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="">
                                        <h4 class="m-b-0 font-16">New Network Setup</h4>
                                    </div>
                                </div>
                            </td>
                            <td>Remote</td>
                            <td><label class="label label-success">Done</label></td>
                            
                            <td>Jenny</td>
                            <td>Tom</td>
                            <td>View</td>
                            
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="">
                                        <h4 class="m-b-0 font-16">New Network Conncection</h4>
                                    </div>
                                </div>
                            </td>
                            <td>On-site</td>
                            <td><label class="label label-danger">Cancel</label></td>
                            
                            <td>Sam</td>
                            <td>Jenny</td>
                            <td>View</td>
                            
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="">
                                        <h4 class="m-b-0 font-16">New Network Setup</h4>
                                    </div>
                                </div>
                            </td>
                            <td>On-site</td>
                            <td><label class="label label-success">Done</label></td>
                            
                            <td>Sam</td>
                            <td>Jenny</td>
                            <td>View</td>
                            
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

