<div class="row">
    <div class="col-lg-3">
        <div class="card  card-hover">
            <div class="card-body">
                <h4 class="card-title">User</h4>
                <div class="d-flex no-block align-items-center m-t-30">
                    <div class="">
                        <h3 class="font-medium m-b-0">56</h3>
                        <span class="">Active User</span>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card  card-hover">
            <div class="card-body">
                <h4 class="card-title">Provider</h4>
                <div class="d-flex no-block align-items-center m-t-30">
                    <div class="">
                        <h3 class="font-medium m-b-0">8</h3>
                        <span class="">Active Provider</span>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card  card-hover">
            <div class="card-body">
                <h4 class="card-title">Job</h4>
                <div class="d-flex no-block align-items-center m-t-30">
                    <div class="">
                        <h3 class="font-medium m-b-0">24</h3>
                        <span class="">Active Job Details</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card  card-hover">
            <div class="card-body">
                <h4 class="card-title">Bounce Rate</h4>
                <div class="d-flex no-block align-items-center m-t-30">
                    <div class="">
                        <h3 class="font-medium m-b-0">56.33%</h3>
                        <span class="">Total Bounce</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
