<div class="row">
  <div class="col-md-12">
    <div class="card card-hover">
      <div class="card-body">
        <table datatable class="row-border hover table table-bordered">
          <thead style="background: #92adfc;">
            <tr>
              <th>ID</th>
              <th>NAME</th>
              <th>EMAIL</th>
              <th>MOBILE</th>
              <th>STATUS</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td><div class="d-flex align-items-center">
                <img class="rounded-circle" src='assets/images/users/1.jpg' height=" 50px" width="50px">
                <div class="ml-3">
                  <p class="font-medium mb-0"><a [routerLink]="['/customer/view']">Sushant Patil</a></p>
                </div>
              </div></td>
              <td>sushantpatil@gmail.com</td>
              <td>9898235323</td>
              <td>Active</td>
            </tr>
            <tr>
              <td>2</td>
              <td><div class="d-flex align-items-center">
                <img class="rounded-circle" src='assets/images/users/2.jpg' height=" 50px" width="50px">
                <div class="ml-3">
                  <p class="font-medium mb-0"><a [routerLink]="['/customer/view']">Ashish Patil</a></p>
                </div>
              </div></td>
              <td>ashishpatil@gmail.com</td>
              <td>89342343543</td>
              <td>Active</td>

            </tr>
            <tr>
              <td>3</td>
              <td><div class="d-flex align-items-center">
                <img class="rounded-circle" src='assets/images/users/3.jpg' height=" 50px" width="50px">
                <div class="ml-3">
                  <p class="font-medium mb-0"><a [routerLink]="['/customer/view']">Pradhip Pawar</a></p>
                </div>
              </div></td>
              <td>pradhippawar@gmail.com</td>
              <td>8459495933</td>
              <td>Inactive</td>
            </tr>
            <tr>
              <td>4</td>
              <td><div class="d-flex align-items-center">
                <img class="rounded-circle" src='assets/images/users/4.jpg' height=" 50px" width="50px">
                <div class="ml-3">
                  <p class="font-medium mb-0"><a [routerLink]="['/customer/view']">Sudhir Patil</a></p>
                </div>
              </div></td>
              <td>sudhirpawar@gmail.com</td>
              <td>8459495933</td>
              <td>Active</td>
            </tr>
            <tr>
              <td>5</td>
              <td><div class="d-flex align-items-center">
                <img class="rounded-circle" src='assets/images/users/5.jpg' height=" 50px" width="50px">
                <div class="ml-3">
                  <p class="font-medium mb-0"><a [routerLink]="['/customer/view']">Sushant Patil</a></p>
                </div>
              </div></td>
              <td>pradhippawar@gmail.com</td>
              <td>8459495933</td>
              <td>Inactive</td>
            </tr>
            <tr>
              <td>6</td>
              <td><div class="d-flex align-items-center">
                <img class="rounded-circle" src='assets/images/users/1.jpg' height=" 50px" width="50px">
                <div class="ml-3">
                  <p class="font-medium mb-0"><a [routerLink]="['/customer/view']">Sushant Patil</a></p>
                </div>
              </div></td>
              <td>pradhippawar@gmail.com</td>
              <td>8459495933</td>
              <td>Inactive</td>
            </tr>
            <tr>
              <td>7</td>
              <td><div class="d-flex align-items-center">
                <img class="rounded-circle" src='assets/images/users/2.jpg' height=" 50px" width="50px">
                <div class="ml-3">
                  <p class="font-medium mb-0"><a [routerLink]="['/customer/view']">Sushant Patil</a></p>
                </div>
              </div></td>
              <td>pradhippawar@gmail.com</td>
              <td>8459495933</td>
              <td>Inactive</td>
            </tr>
            <tr>
              <td>8</td>
              <td><div class="d-flex align-items-center">
                <img class="rounded-circle" src='assets/images/users/3.jpg' height=" 50px" width="50px">
                <div class="ml-3">
                  <p class="font-medium mb-0"><a [routerLink]="['/customer/view']">Sushant Patil</a></p>
                </div>
              </div></td>
              <td>pradhippawar@gmail.com</td>
              <td>8459495933</td>
              <td>Inactive</td>
            </tr>
            <tr>
              <td>9</td>
              <td><div class="d-flex align-items-center">
                <img class="rounded-circle" src='assets/images/users/4.jpg' height=" 50px" width="50px">
                <div class="ml-3">
                  <p class="font-medium mb-0"><a [routerLink]="['/customer/view']">Sushant Patil</a></p>
                </div>
              </div></td>
              <td>pradhippawar@gmail.com</td>
              <td>8459495933</td>
              <td>Inactive</td>
            </tr>
            <tr>
              <td>10</td>
              <td><div class="d-flex align-items-center">
                <img class="rounded-circle" src='assets/images/users/5.jpg' height=" 50px" width="50px">
                <div class="ml-3">
                  <p class="font-medium mb-0"><a [routerLink]="['/customer/view']">Sushant Patil</a></p>
                </div>
              </div></td>
              <td>pradhippawar@gmail.com</td>
              <td>8459495933</td>
              <td>Inactive</td>
            </tr>
            <tr>
              <td>11</td>
              <td><div class="d-flex align-items-center">
                <img class="rounded-circle" src='assets/images/users/1.jpg' height=" 50px" width="50px">
                <div class="ml-3">
                  <p class="font-medium mb-0"><a [routerLink]="['/customer/view']">Sushant Patil</a></p>
                </div>
              </div></td>
              <td>pradhippawar@gmail.com</td>
              <td>8459495933</td>
              <td>Inactive</td>
            </tr>
            <tr>
              <td>12</td>
              <td><div class="d-flex align-items-center">
                <img class="rounded-circle" src='assets/images/users/2.jpg' height=" 50px" width="50px">
                <div class="ml-3">
                  <p class="font-medium mb-0"><a [routerLink]="['/customer/view']">Sushant Patil</a></p>
                </div>
              </div></td>
              <td>pradhippawar@gmail.com</td>
              <td>8459495933</td>
              <td>Inactive</td>
            </tr>
          </tbody>
        </table>  
      </div>
    </div>
  </div>
</div>

