<button class="btn btn-info backbutton1" (click)="backToPrevious()"><i class=" fas fa-arrow-circle-left"></i> Back</button>
<div class="container-fluid1">
    <img src="assets/images/banner/page-header.jpg" alt="Snow" class="imgClass">
    <div class="top-left">Home->Knowledge->Payment</div>
</div>

<div class="form-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card card-body search-wrapper">
                    <div class="search-form">
                        <div>
                          <input type="text" class="textData form-control" placeholder="Start typing your search..." (keyup)="searchData($event)">
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>  
<br>
<div class="container">
    <div class="row">
        <!-- <div class="col-sm-2">
            <img src="assets/images/bill/bill1.png">
        </div> -->
        <div class='col-sm-12'>
            <h2>{{MainKnowDetails[0].title}}</h2>
            <!-- <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ac pellentesque diam felis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ac pellentesque diam felis.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4> -->
        </div>
    </div>
    <hr style="color:black">
    <div class="row">
        <div class="col-sm-12" *ngFor="let item of FilterAdminSubCategoryData;let i = index">
            <div class="card card-body card-hover cardview">
                <h3><a [routerLink]="['/mobile-apps/knowledge-details',item.kb_entry_id]">{{item.title}}</a></h3><br>
                <h5>{{KnowShortDetailsArray[0]}}...</h5><br>
                <div class="row">
                    <div class="col-md-1">
                        <img src="assets/images/logo-header.png" width="70px">
                    </div>
                    <div class="col-md-4">
                        <!-- <h5>Ross Fox</h5> -->
                        <h6>{{item.datecreated | date}}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
