<div class="container-fluid1">
    <img src="../../../../assets/images/banner/page-header.jpg" alt="Snow" style="width:103%;margin-top:-3%;margin-left: -1%;height: 135px;">
    <div class="top-left">Home->Knowledge->Payment</div>
</div>

<div class="form-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card card-body search-wrapper">
                    <div class="search-form">
                        <div>
                          <input type="text" class="textData form-control" placeholder="Start typing your search...">
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>  
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <img src="../../../../assets/images/bill/bill1.png">
        </div>
        <div class='col-sm-10'>
            <h2>Billing and Payments</h2>
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ac pellentesque diam felis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ac pellentesque diam felis.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
        </div>
    </div>
    <hr style="color:black">
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-body card-hover cardview">
                <h3><a [routerLink]="['/mobile-apps/knowledge-details']">Can I pay for my Toto account via PayPal?</a></h3><br>
                <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ac pellentesque diam felis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ac pellentesque diam felis.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5><br>
                <div class="row">
                    <div class="col-md-1">
                        <img src="../../../../assets/images/client/client02.png" width="70px">
                    </div>
                    <div class="col-md-4">
                        <h5>Ross Fox</h5>
                        <h6>October 22,2020</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-body card-hover cardview">
                <h3><a [routerLink]="['/mobile-apps/knowledge-details']">How do I upgrade my Toto account to a better plan?</a></h3><br>
                <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ac pellentesque diam felis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ac pellentesque diam felis.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5><br>
                <div class="row">
                    <div class="col-md-1">
                        <img src="../../../../assets/images/client/client02.png" width="70px">
                    </div>
                    <div class="col-md-4">
                        <h5>Ross Fox</h5>
                        <h6>October 22,2020</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-body card-hover cardview">
                <h3><a [routerLink]="['/mobile-apps/knowledge-details']">What are the pricing plans available for Toto?</a></h3><br>
                <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ac pellentesque diam felis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ac pellentesque diam felis.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5><br>
                <div class="row">
                    <div class="col-md-1">
                        <img src="../../../../assets/images/client/client02.png" width="70px">
                    </div>
                    <div class="col-md-4">
                        <h5>Ross Fox</h5>
                        <h6>October 22,2020</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
